<div class="wrapper">
  <h1>{{ "REPORT_MISCONDUCT_PAGE.TO_REPORT" | translate }}</h1>
  <div></div>
  <p></p>
  <ul>
    <li>{{ "REPORT_MISCONDUCT_PAGE.PLEASE_REPORT" | translate }}</li>
    <li>{{ "REPORT_MISCONDUCT_PAGE.MISREPRESENTATION" | translate }}</li>
    <li>{{ "REPORT_MISCONDUCT_PAGE.FRAUD_COMMITTED" | translate }}</li>
    <li>{{ "REPORT_MISCONDUCT_PAGE.FRAUD" | translate }}</li>
    <li>{{ "REPORT_MISCONDUCT_PAGE.RETALIATION_AS_DEFINED" | translate }}</li>
    <li>
      {{ "REPORT_MISCONDUCT_PAGE.COMPLAINTS_OF_WORKPLACE" | translate
      }}<a href="https://www.fao.org/3/br629e/br629e.pdf" target="_blank">{{
        "REPORT_MISCONDUCT_PAGE.POLICY_ON_THE_PREVENTATION" | translate
      }}</a>
    </li>
  </ul>
  <p>
    {{ "REPORT_MISCONDUCT_PAGE.OFFENSES" | translate }}
    <span> {{ "REPORT_MISCONDUCT_PAGE.NOT" | translate }}</span>
    {{ "REPORT_MISCONDUCT_PAGE.BE_REPORTED" | translate }}
  </p>
  <ul>
    <li>{{ "REPORT_MISCONDUCT_PAGE.COMPLAINTS_ARISING" | translate }}</li>
  </ul>
  <p>{{ "REPORT_MISCONDUCT_PAGE.THE_MORE_SPECIFIC" | translate }}</p>
  <p>
    <span>{{ "REPORT_MISCONDUCT_PAGE.REMEMBER_TO_PLEASE" | translate }}</span>
  </p>
  <p>
    {{ "REPORT_MISCONDUCT_PAGE.FOR_MORE_INFORMATION" | translate
    }}<a href="https://www.fao.org/3/br628e/br628e.pdf" target="_blank">{{
      "REPORT_MISCONDUCT_PAGE.GUIDELINES" | translate
    }}</a>
    {{ "REPORT_MISCONDUCT_PAGE.OR" | translate }}
    <a href="https://www.fao.org/aud/48643/en/" target="_blank">{{
      "REPORT_MISCONDUCT_PAGE.WEBPAGE" | translate
    }}</a
    >.
  </p>
  <p>
    {{ "REPORT_MISCONDUCT_PAGE.PERSONS_WHO_HAVE" | translate }}
    <a href="https://www.fao.org/3/ni381en/ni381en.pdf" target="_blank"
      >{{ "REPORT_MISCONDUCT_PAGE.FAO_POLICY" | translate }} </a
    >.
    {{ "REPORT_MISCONDUCT_PAGE.TO_MAKE_A_REPORT" | translate }}
    <a href="mailto:Retaliation-report@fao.org">{{
      "REPORT_MISCONDUCT_PAGE.RETALIATION_REPORT" | translate
    }}</a
    >.
    {{ "REPORT_MISCONDUCT_PAGE.THE_FAO" | translate }}
    <a href="mailto:Ethics-Office@fao.org">{{
      "REPORT_MISCONDUCT_PAGE.ETHICS_OFFICE" | translate
    }}</a>
    {{ "REPORT_MISCONDUCT_PAGE.OR_PHONE" | translate }}
  </p>
  <app-cookie-popup></app-cookie-popup>
</div>
