@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.card-wrapper {
  @include flex(column, center, flex-end);
  @include size(376px, 384px);
  font-family: $font-family;
  padding: 4px 0 0;

  &_content {
    @include size(376px, 384px);
    min-width: 376px;
    min-height: 384px;
    border: 0.5px solid $border-color;
    border-radius: 4px;
    position: relative;

    &__image {
      max-height: 196px;

      .store-schedule {
        @include flex(column, center, center);
        @include text--h4($semibold);
        @include size(100%, 100%);
        color: $light-grey;
        display: flex;
        position: absolute;
        max-height: 196px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.5);

        p {
          @include text--h3();
        }
      }

      .photo {
        width: 100%;
        max-height: 196px;
        object-fit: cover;
        border-radius: 4px 4px 0 0;
      }
    }

    &__text {
      @include flex(column, space-between, space-between);
      max-height: 156px;
      padding: 16px;
      height: 100%;

      .text-description {
        @include flex(column, flex-start, center);

        &_header {
          @include flex(row, center, flex-start);
          width: 100%;
          margin-bottom: 12px;

          &_label {
            @include text--h4($semibold);
            margin-right: 8px;
          }

          &_weight {
            @include text--h5($regular);
            color: $color-text-grey;
          }
        }

        &_diary-items {
          @include flex(row, center, flex-start);
          margin-bottom: 12px;

          .diary-item {
            margin-right: 8px;
            padding: 2px 8px;
            border-radius: 2px;
            background-color: $container-background;
          }
        }

        &_product-composition {
          @include text--h5($regular);
          color: $color-text-grey;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }

    }

    &__bottom {
      @include flex(row, center, space-between);

      .bottom_price-container {
        @include flex(row, center, space-between);

        &_price {
          @include text--h4($semibold);
          margin-right: 8px;
        }

        &_old-price {
          @include text--h5($regular);
          color: $color-text-grey;
          text-decoration: line-through;
        }
      }

      .bottom_button-container {
        @include text--h4($regular);
        @include size(102px, 36px);
        background-color: $orange;
        color: $white;
        border: none;
        border-radius: 2px;

        &:hover {
          cursor: pointer;
        }

        &:disabled {
          background-color: $color-text-grey;
        }
      }

      .bottom_update-count-container {
        @include flex(row, center, space-between);

        &__minus {
          @include flex(row, center, center);
          @include size(40px, 40px);
          background-color: $container-background;
          border-radius: 100px;
          border: none;

          .minus {
            cursor: pointer;
            padding-bottom: 5px;

            path {
              fill: $color-text-default;
            }
          }
        }

        &__number {
          margin: 0 2px;
        }

        &__plus {
          @include flex(row, center, center);
          @include size(40px, 40px);
          background-color: $container-background;
          border-radius: 100px;
          border: none;

          .plus {
            cursor: pointer;

            path {
              fill: $color-text-default;
            }
          }
        }
      }
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-4px);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s, box-shadow 0.3s;
    }
  }
}
