@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep {

  .shift header.header {
    padding: 24px 24px 0px 24px;
  }

  .mat-dialog-container {
    padding: 0;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $orange;
  }
}

.content-wrapper {
  padding: 0px 24px;
  height: 100px;

  p {
    margin: 0px 0px 16px 0px;
    color: $dark-grey;
    font-weight: $normal;

    a {
      text-decoration: none;
      color: $color-text-default;
      font-weight: $regular;
    }
  }

  mat-checkbox {
    margin-bottom: 16px;
  }

}

.shift .buttons {
  @include flex(center, center, flex-end);
  @include text--h4 ($medium);
  border-top: 1px solid $border-color;
  padding-top: 16px;

  &_cancel {
    @include size(100px, 40px);
    background-color: $white;
    color: $color-text-default;
    text-align: center;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }

  &_start {
    @include size(133px, 40px);
    background-color: $orange;
    color: $white;
    border-radius: 4px;
    text-align: center;
    margin-right: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    display: block;
    margin-top: 8px;
  }
}
