<app-popup class="shift" title="{{ 'SHIFT_POP_UP.TITLE' | translate }}">
  <div class="content-wrapper">
    <p>{{ 'SHIFT_POP_UP.MESSAGE' | translate }}<a href="">{{ 'SHIFT_POP_UP.LINK' | translate }}</a></p>
    <mat-checkbox>{{ 'SHIFT_POP_UP.CHECK_BOX_LABEL' | translate }}</mat-checkbox>
  </div>
  <div class="buttons">
    <div class="buttons_cancel" mat-dialog-close>
      <span>{{ "SHIFT_POP_UP.CANCEL" | translate }}</span>
    </div>
    <div class="buttons_start">
      <span>{{ "SHIFT_POP_UP.START" | translate }}</span>
    </div>
  </div>
</app-popup>
