<div class="sidebar-container">
  <div class="sidebar-container_logo">
    <svg-icon src="../../../../assets/images/moderation/moderator-logo.svg"></svg-icon>
  </div>
  <div class="sidebar-container_links">
    <div
      routerLink="{{ section.title.toLowerCase() }}"
      (click)="onSelectItem(section.title)"
      [class.active]="section.title === activeItem"
      *ngFor="let section of sections"

      class="sidebar-container_page"
    >
      <div class="sidebar-container_page__title">
        <div class="sidebar-container_page__title_icon-container">
          <svg-icon
            class="sidebar-container_page_icon"
            [svgClass]="'sidebar-icon'"
            src="../../../../assets/images/moderation/moderator-account-sidebar/{{
              section.title
            }}.svg"
          ></svg-icon>
        </div>
        <span class="sidebar-container_page__title_text">{{
          section.title
          }}</span>
      </div>
      <span *ngIf="section.quantity" class="sidebar-container_page__quantity">{{
        section.quantity
        }}</span>
    </div>
    <div class="sidebar-container_title">
      {{ "MODERATOR_ACCOUNT_SIDEBAR.PAGES" | translate }}
    </div>
    <div
      routerLink="{{ page.title.toLowerCase() }}"
      (click)="onSelectItem(page.title)"
      [class.active]="page.title === activeItem"
      *ngFor="let page of pages"
      class="sidebar-container_page"
    >
      <div class="sidebar-container_page__title">
        <div class="sidebar-container_page__title_icon-container">
          <svg-icon
            class="sidebar-container_page_icon"
            [svgClass]="'sidebar-icon'"
            src="../../../../assets/images/moderation/moderator-account-sidebar/{{
              page.title
            }}.svg"
          ></svg-icon>
        </div>
        <span class="sidebar-container_page__title_text">{{ page.title }}</span>
      </div>
    </div>
    <div
      (click)="onSelectItem('Logout')"
      [class.active]="'Logout' === activeItem"
      class="sidebar-container_page"
    >
      <div class="sidebar-container_page__title">
        <div class="sidebar-container_page__title_icon-container">
          <svg-icon
            class="sidebar-container_page_icon"
            [svgClass]="'sidebar-icon'"
            src="../../../../assets/images/moderation/moderator-account-sidebar/Logout.svg"
          ></svg-icon>
        </div>
        <span class="sidebar-container_page__title_text">{{
          "MODERATOR_ACCOUNT_SIDEBAR.LOGOUT" | translate
          }}</span>
      </div>
    </div>
  </div>
</div>
