@import '../../../scss/mixins';

span {
  font-weight: $bold;
  color: #000;
}

a {
  display: inline-block;
  align-content: center;
}

.virify__text {
  padding: 0;
  margin: 0 0 32px 0;
  color:  $color-text-grey;
}
