<app-popup
  title="Verify your phone number">
  <p class="virify__text">{{ "POPUPS.VERIFY_TEXT" | translate }}
    <span>{{ phone }}</span>
  </p>
  <app-verification-code
    (setCustomerData)="setCustomerData($event)"
    [controlValue]="{customer:data.phone!}"
  ></app-verification-code>
  <app-count-down
    [controlValue]=data.phone [init]="30"
    (onEmpty)="counter = $event"
  ></app-count-down>
</app-popup>

