@import "../../../../scss/mixins";
@import "../../../../scss/constants";

.products {
  width: 100%;

  &_header {
    @include flex(row, center, space-between);
    width: 100%;
    margin-bottom: 24px;

    &__title {
      @include flex(row, center, flex-start);
      @include text--h8($medium);
      flex-grow: 1;

      .title_name {
        color: $color-text-default;
        margin-right: 4px;
      }

      .title_quantity {
        color: $dark-grey;
      }
    }

    &__buttons {
      @include flex(row, center, flex-start);

      .buttons_import-button {
        @include flex(row, center, space-between);
        @include text--h4($medium);
        padding: 0 16px 0 8px;
        height: 40px;
        border: solid 1px $border-color;
        background-color: $white;
        color: $color-text-default;
        border-radius: 4px;
        text-align: center;
        box-sizing: border-box;

        &__icon {
          margin-right: 10px;
        }

        span {
          text-align: center;
        }
      }

      .buttons_add-product-button {
        @include flex(row, center, space-between);
        @include text--h4($medium);
        padding: 0 16px 0 8px;
        height: 40px;
        background-color: $orange;
        color: $white;
        border-radius: 4px;
        text-align: center;
        margin-left: 12px;

        &__icon {
          margin-right: 10px;
          text-align: center;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  table {
    width: 100%;
    border: 0.5px solid $grey-button-background;
    border-top: transparent;
  }

  .mat-form-field {
    @include text($semibold, 12px, 16px);
    color: $color-text-grey;
    width: 100%;
  }

  .mat-row .mat-cell {
    cursor: pointer;
  }

  .mat-row .mat-cell:nth-child(8n+1) {
    border-left: 3px solid transparent;
    box-sizing: border-box;
  }

  .mat-row:hover .mat-cell {
    background-color: $grey;
  }

  .mat-row.no-data:hover .mat-cell {
    background-color: transparent;
  }

  .demo-row-is-clicked {
    background-color: $grey;
  }

  .demo-row-is-clicked .mat-cell:nth-child(8n+1) {
    border-left: 3px solid $orange;
    box-sizing: border-box;
  }

  th {
    background-color: $grey;
  }

  th:nth-child(8n+1) {
    border-left: 3px solid transparent;
  }

  td:nth-child(1), td:nth-child(5), td:nth-child(8) {
    width: 8.3%;
  }

  td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(6), td:nth-child(7) {
    width: 15%;
  }

  td, th {
    @include text--h4($regular);

    .product-name {
      max-width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }

    span {
      color: $color-text-grey;
    }

    .food-groups {
      @include flex(row, center, flex-start);

      &_item {
        background: $container-background;
        border-radius: 4px;
        padding: 0px 6px;
        margin-right: 4px;
        width: auto;

        &__dropdown {
          @include text--h5($regular);
          @include flex(row, center, space-between);
          padding: 2px 8px;
          border-radius: 4px;
          color: $color-text-default;
          border: 1px solid $grey-button-background;
          text-align: center;

          .dropdown_count {
            margin-right: 2px;
          }

          &_icon {
            @include size(10px, 22px);
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .dropdown-menu {
        @include text--h4($regular);
        @include size(240px, auto);
        color: $color-text-default;
        background: $white;
        border: 1px solid $grey-button-background;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-top: 4px;
        position: absolute;
        z-index: 10;

        &_header {
          @include flex(row, center, space-between);
          @include text--h5($regular);
          padding: 12px 16px;
          color: $dark-grey;
          border-bottom: 1px solid $grey-button-background;
        }

        &_options {
          padding: 12px 16px;

          span {
            @include text--h4($regular);
            color: $color-text-default;
          }
        }
      }
    }

    .last-update {
      color: $dark-grey;
    }

    .inmoderation {
      font-weight: $semibold;
      color: $dark-orange;
      background-color: $banner-background;
      border: 0.5px solid $light-orange;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
      max-width: 136px;
    }

    .published {
      font-weight: $semibold;
      color: $green700;
      background-color: $green100;
      border: 0.5px solid $green300;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
      max-width: 100px;
    }

    .declined {
      font-weight: $semibold;
      color: $red500;
      background-color: $red100;
      border: 0.5px solid $red300;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
      max-width: 90px;
    }

    .archived {
      font-weight: $semibold;
      color: $color-text-default;
      background-color: $light-grey;
      border: 0.5px solid $dark-grey;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
      max-width: 90px;
    }

    .draft {
      font-weight: $medium;
    }

    .no-data {
      @include flex(column, center, center);
      padding: 71px 0;

      &_title {
        @include text--h5($medium);
        margin: 20px 0 4px;
      }

      &_subtitle {
        @include text--h6;
        color: $dark-grey;
        margin-bottom: 20px;
      }

      &_button {
        @include flex(row, center, space-between);
        padding: 5px 4px;
        border: 1px solid $grey-button-background;
        border-radius: 4px;

        &__name {
          @include text--h5($regular);
          color: $color-text-default;
        }

        &__icon {
          margin-right: 6.25px;
        }
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  ::ng-deep {
    .mat-checkbox-layout .mat-checkbox-label {
      @include text--h4($regular);
    }

    .mat-checkbox-inner-container {
      @include size(18px, 18px);
    }
  }

  ::ng-deep .mat-sort-header-arrow[style] {
    // Hide default arrow stem
    .mat-sort-header-stem {
      display: none;
    }

    .mat-sort-header-indicator {
      opacity: 1;
      color: black;
      font-weight: bold;
      // Hide default arrow as its composed of left, right and middle
      .mat-sort-header-pointer-left,
      .mat-sort-header-pointer-right,
      .mat-sort-header-pointer-middle {
        display: none;
      }
    }
  }

  // My custom ascending arrow
  [aria-sort='ascending'] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          content: url(../../../../assets/images/sort-icon.svg);
          top: -0em;
          position: absolute;
          color: $orange;
          font-size: 20px;
          line-height: 10px;
        }
      }
    }
  }

  // My custom descending arrow
  [aria-sort='descending'] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          content: url(../../../../assets/images/sort-icon.svg);
          transform: rotate(180deg);
          top: -15px;
          position: absolute;
          color: $orange;
          font-size: 20px;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .table-header-payload {
    background-color: $grey;
    padding: 16px 0;
    border-left: 1px solid $grey-button-background;
    border-right: 1px solid $grey-button-background;

    div {
      @include flex(row, center, flex-start);
      width: 265px;
      margin-left: 27px;

      div {
        @include text--h5($medium);
      }

      span {
        margin-right: 4px;
      }

      .archive {
        @include text--h5($regular);
        @include flex(row, centert, center);
        padding: 2px 8px;
        border-radius: 4px;
        color: $color-text-default;
        border: 1px solid $grey-button-background;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }

      .remove {
        @include text--h5($regular);
        padding: 2px 8px;
        border-radius: 4px;
        color: $red;
        border: 1px solid $red200;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  ::ng-deep {
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: $orange;
    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $orange;
    }
  }

  .no-filter-applied-block {
    @include flex(row, center, flex-start);
    @include text--h5($regular);
    color: $dark-grey;
    padding-left: 24px;
    height: 56px;
    border: 0.5px solid $grey-button-background;
    border-bottom: transparent;
  }

  .food-group-filter {
    @include flex(row, center, flex-start);
    padding: 16px;
    border: 1px solid $grey-button-background;
    border-bottom: transparent;
    border-radius: 4px 4px 0px 0px;

    div {
      margin-right: 12px;
    }

    &_search {
      position: relative;

      input {
        @include text--h4($regular);
        @include size(350px, 38px);
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        padding: 8px 16px;
      }

      .placeholder {
        @include text--h6;
        position: absolute;
        top: -8px;
        left: 10px;
        z-index: 10;
        background-color: $white;
        display: none;
        padding: 0 2px;
      }

      .cross {
        position: absolute;
        top: 10px;
        right: 8px;
        display: none;
        z-index: 10;

        &:hover {
          cursor: pointer;
        }

        &:active {
          display: block;
        }
      }

      input:focus ~ .placeholder {
        display: block;
      }

      input:focus ~ .cross {
        display: block;
      }

      &-result {
        @include size(350px, 216px);
        position: absolute;
        top: 40px;
        left: 0;
        overflow-y: scroll;
        background: $white;
        border: 1px solid $grey-button-background;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        z-index: 10;
        padding: 8px 16px;

        &__product {
          @include text--h4($regular);
          margin-bottom: 16px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &_reset-filters {
      @include text--h5($regular);

      &:hover {
        cursor: pointer;
      }
    }

    &_applied-filters {
      @include flex(row, center, flex-start);
      border: 0.5px solid $grey-button-background;
      padding: 12px 24px;

      .applied-filter {
        @include flex(row, center, flex-start);

        &_title {
          @include text--h5($regular);
          color: $dark-grey;
          margin-right: 12px;
        }

        &_button {
          @include flex(row, center, space-between);
          @include text--h5($semibold);
          border: 1px solid $border-color;
          border-radius: 40px;
          padding: 6px 12px;
          width: auto;
          margin-right: 4px;
          text-align: center;

          &__text {
            @include flex(row, center, center);
            text-align: center;
            margin-right: 5.33px;
          }

          &__icon {
            @include flex(row, center, center);
            @include size(14px, 14px);
            text-align: center;

            svg-icon {
              @include size(14px, 14px);
            }
          }
        }
      }
    }
  }

  ::ng-deep {
    .mat-select-value {
      @include text--h4($regular);
    }

    .mat-option-text {
      @include text--h4($regular);
    }

    .mat-paginator-page-size-label {
      @include text--h4($regular);
      color: $color-text-grey;
    }

    .mat-paginator-range-label {
      @include text--h4($regular);
      color: $color-text-default;
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: $color-text-default;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      display: none;
    }

    .mat-paginator-page-size-select {
      width: 48px;
      padding: 2px 2px;
      border: 1px solid #D3D3D3;
      border-radius: 4px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field {
      text-align: center;
    }

    .mat-paginator-page-size {
      display: flex;
      align-items: center;
    }

    .mat-form-field-infix {
      padding: 0.5em 0;
      border-top: 0 solid transparent;
    }

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
      color: $color-text-default;
    }

    .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
      background-color: transparent;
    }
  }

  .backdrop {
    @include size(100vw, 100vh);
    position: fixed;
    left: 0;
    top: 0;
  }

  .action-menu {
    @include size(222px, auto);
    padding: 8px 0px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    right: 50px;
    z-index: 10;

    &_item {
      @include flex(row, center, flex-start);
      @include text--h4($regular);
      color: $color-text-default;
      padding: 12.5px 18.5px;

      &:hover {
        background-color: $light-grey;
      }

      &__title {
        margin-left: 18.5px;

        &.remove {
          color: $red;
        }
      }
    }
  }
}
