<div class="products">
  <div class="products_header">
    <div class="products_header__title">
      <div class="title_name">{{ "VENDOR_ACCOUNT_PPODUCTS.PRODUCTS" | translate }}</div>
      <div class="title_quantity">{{ vendorData.data.length }}</div>
    </div>
    <div class="products_header__buttons">
      <div class="buttons_import-button">
        <div class="buttons_import-button__icon">
          <svg-icon src="../../../../assets/images/file-upload.svg"></svg-icon>
        </div>
        <span>{{ "VENDOR_ACCOUNT_PPODUCTS.IMPORT" | translate }}</span>
      </div>
      <div class="buttons_add-product-button"
           [routerLink]="['add-new-product']">
        <div class="buttons_add-product-button__icon">
          <svg-icon src="../../../../assets/images/plus.svg"></svg-icon>
        </div>
        <span>{{ "VENDOR_ACCOUNT_PPODUCTS.ADD_PRODUCT" | translate }}</span>
      </div>
    </div>
  </div>
  <div class="products_content">
    <div class="products_content__filters">
      <div>
        <div class="food-group-filter">
          <div
            class="food-group-filter_search"
            [formGroup]="searchInputGroup"
          >
            <input
              placeholder="Search by name"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Search by name'"
              (focus)="onSearch(searchInputGroup.get('searchInput')?.value)"
              formControlName="searchInput"
            >
            <div
              class="cross"
              (click)="clearSearchInput()"
            >
              <svg-icon src="../../../../assets/images/cross_close.svg"></svg-icon>
            </div>
            <div class="placeholder">Search by name</div>
            <div *ngIf="searchResultProducts.length > 0">
              <div class="backdrop"
                   (click)="closeSearchResult()"></div>
              <div class="food-group-filter_search-result">
                <div
                  class="food-group-filter_search-result__product"
                  (click)="setSearchValue(product)"
                  *ngFor="let product of searchResultProducts"
                  [innerHTML]="product | substringEmphasize:searchInputGroup.get('searchInput')?.value"
                >
                </div>
              </div>
            </div>
          </div>
          <div>
            <app-dropdown [options]="statusesList"
                          filterName="Status"
                          (onChanged)="onFilterApplied($event)"></app-dropdown>
          </div>
          <div>
            <app-dropdown [options]="foodGroupsList"
                          filterName="Food group"
                          (onChanged)="onFilterApplied($event)"></app-dropdown>
          </div>
          <div>
            <app-dropdown [options]="dietaryTagsList"
                          filterName="Dietary tag"
                          (onChanged)="onFilterApplied($event)"></app-dropdown>
          </div>
          <div *ngIf="isNoFilterApplied === false"
               class="food-group-filter_reset-filters"
               (click)="resetFilters()">{{ "VENDOR_ACCOUNT_PPODUCTS.RESET_FILTERS" | translate }}</div>
          <ng-template #appliedFilters>
            <div class="food-group-filter_applied-filters">
              <div *ngIf="appliedStatusesFilterOptions.length !== 0"
                   class="applied-filter">
                <div class="applied-filter_title">{{ "VENDOR_ACCOUNT_PPODUCTS.STATUS" | translate }}:</div>
                <div *ngFor="let status of appliedStatusesFilterOptions"
                     class="applied-filter_button">
                  <div class="applied-filter_button__text">{{ status }}</div>
                  <div class="applied-filter_button__icon"
                       (click)="resetOneOption('Status', status)">
                    <svg-icon src="../../../../assets/images/delete-button-cross.svg"></svg-icon>
                  </div>
                </div>
              </div>
              <div *ngIf="appliedfoodGroupsFilterOptions.length !== 0"
                   class="applied-filter">
                <div class="applied-filter_title">{{ "VENDOR_ACCOUNT_PPODUCTS.FOOD_GROUPS" | translate }}:</div>
                <div *ngFor="let foodGroup of appliedfoodGroupsFilterOptions"
                     class="applied-filter_button">
                  <div class="applied-filter_button__text">{{ foodGroup }}</div>
                  <div class="applied-filter_button__icon"
                       (click)="resetOneOption('Food group', foodGroup)">
                    <svg-icon src="../../../../assets/images/delete-button-cross.svg"></svg-icon>
                  </div>
                </div>
              </div>
              <div *ngIf="appliedDietaryTagsFilterOptions.length !== 0"
                   class="applied-filter">
                <div class="applied-filter_title">{{ "VENDOR_ACCOUNT_PPODUCTS.DIETARY_TAG" | translate }}:</div>
                <div *ngFor="let dietaryTag of appliedDietaryTagsFilterOptions"
                     class="applied-filter_button">
                  <div class="applied-filter_button__text">{{ dietaryTag }}</div>
                  <div class="applied-filter_button__icon"
                       (click)="resetOneOption('Dietary tag', dietaryTag)">
                    <svg-icon src="../../../../assets/images/delete-button-cross.svg"></svg-icon>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="isNoFilterApplied; else appliedFilters"
             class="no-filter-applied-block"
        >
          {{ "VENDOR_ACCOUNT_PPODUCTS.NO_FILTERS_APPLIED" | translate }}
        </div>
      </div>
    </div>
    <div class="products_content__table">
      <div class="table-header-payload"
           *ngIf="numSelected !== 0">
        <div>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
          <div><span>{{ numSelected }}</span> {{ "VENDOR_ACCOUNT_PPODUCTS.SELECTED" | translate }}</div>
          <div class="archive">{{ "VENDOR_ACCOUNT_PPODUCTS.ARCHIVE" | translate }}</div>
          <!-- <div class="remove">{{ "VENDOR_ACCOUNT_PPODUCTS.REMOVE" | translate }}</div> -->
        </div>
      </div>
      <table mat-table
             [dataSource]="vendorData"
             matSort
             matSortActive="updated_at"
             matSortDirection="asc"
             matSortDisableClear>
        <ng-container matColumnDef="select">
          <th mat-header-cell
              *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell
              *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? (!clickedRows.has(row) ? (clickedRows.add(row)&&selection.toggle(row)) : (clickedRows.delete(row)&&selection.toggle(row))) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header>{{ "VENDOR_ACCOUNT_PPODUCTS.NAME" | translate }}</th>
          <td mat-cell
              *matCellDef="let row">
            <p
              class="product-name"
              matTooltip="{{ row.name }}"
              matTooltipClass="tooltip-grey"
              [style]="filterData(row.updated_at) === today ? 'font-weight: bold' : ''"
              (click)="idProductFn(row!.id)"
              [routerLink]="row!.id + '/edit'"
            >
              {{ capitalizeFirstWordsLetters(row.name) }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="approval_status">
          <th mat-header-cell
              *matHeaderCellDef>{{ "VENDOR_ACCOUNT_PPODUCTS.STATUS" | translate }}</th>
          <td mat-cell
              *matCellDef="let row">
            <p *ngIf="row.approval_status"
               class="{{ row.approval_status.toString().toLowerCase().split(' ').join('') }}">
              {{ getProperStatusName(row.approval_status[0]) }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header> {{ "VENDOR_ACCOUNT_PPODUCTS.TOTAL_PRICE_DISCOUNT" | translate }} </th>
          <td mat-cell
              *matCellDef="let row"> {{ "CART.CURRENCY" | translate }}{{ row.price }} <span
            *ngIf="row.discounts.length || row.product_discount_percent">(-{{ "CART.CURRENCY" | translate }}{{ row.discounts[0] || getDiscountAmount(row.price, row.product_discount_percent) }}
            )</span></td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header> {{ "VENDOR_ACCOUNT_PPODUCTS.ORDERS" | translate }}</th>
          <td mat-cell
              *matCellDef="let row"> {{ row.quantity === 0 ? '-' : row.quantity }} </td>
        </ng-container>
        <ng-container matColumnDef="food_groups">
          <th mat-header-cell
              *matHeaderCellDef> {{ "VENDOR_ACCOUNT_PPODUCTS.FOOD_GROUPS" | translate }} </th>
          <td mat-cell
              *matCellDef="let row">
            <div class="food-groups">
              <div *ngIf="row.food_groups.length === 1">
                <div *ngFor="let group of row.food_groups"
                     class="food-groups_item">{{ group }}</div>
              </div>
              <div *ngIf="row.food_groups.length > 1">
                <div style="display:flex;">
                  <div class="food-groups_item">{{ row.food_groups[0] }}</div>
                  <div class="food-groups_item__dropdown"
                       (click)="expandedFoodGroups = expandedFoodGroups === row ? null: row; $event.stopPropagation()">
                    <div class="dropdown_count">+{{ row.food_groups.length - 1 }}</div>
                    <div class="food-groups_item__dropdown_icon">
                      <svg-icon
                        *ngIf="expandedFoodGroups !== row"
                        src="../../../../assets/images/vector-bottom.svg"
                      ></svg-icon>
                      <svg-icon
                        *ngIf="expandedFoodGroups === row"
                        src="../../../assets/images/vector-top.svg"
                      ></svg-icon>
                    </div>
                  </div>
                </div>
                <div class="dropdown-menu"
                     *ngIf="expandedFoodGroups === row">
                  <div class="backdrop"
                       (click)="expandedFoodGroups = null;$event.stopPropagation()"></div>
                  <div class="dropdown-menu_header">
                    <div>
                      <span>{{ row.food_groups.length }}</span>   {{ "VENDOR_ACCOUNT_PPODUCTS.FOOD_GROUPS_SMALL" | translate }}
                    </div>
                  </div>
                  <div class="dropdown-menu_options">
                    <span *ngFor="let group of row.food_groups"
                          class="food-groups_item">{{ group }}</span>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header> {{ "VENDOR_ACCOUNT_PPODUCTS.LAST_UPDATED" | translate }} </th>
          <td mat-cell
              *matCellDef="let row">
            <p class="last-update">{{ row.updated_at | date:'MM/d/yyyy hh:mm a' }} </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell
              *matHeaderCellDef> {{ "VENDOR_ACCOUNT_PPODUCTS.ACTIONS" | translate }} </th>
          <td mat-cell
              *matCellDef="let row">
            <button class="action-button"
                    mat-icon-button
                    (click)="expandedProduct = expandedProduct === row ? null: row; $event.stopPropagation()">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <div *ngIf="expandedProduct === row"
                 class="action-menu"
                 clickOutside
                 (click)="$event.stopPropagation()"
                 (clickOutside)="expandedProduct = expandedProduct === row ? null: row;"
            >
              <div class="action-menu_item"
                   (click)="idProductFn(expandedProduct?.id)"
                   routerLink="{{ expandedProduct?.id }}/edit">
                <div>
                  <svg-icon src="../../../../assets/images/edit.svg"></svg-icon>
                </div>
                <div class="action-menu_item__title">{{ "VENDOR_ACCOUNT_PPODUCTS.EDIT" | translate }}</div>
              </div>
              <div class="action-menu_item"
                   *ngIf="row.approval_status[0] === 'Archived'"
                   (click)="sendToModeration()">
                <div>
                  <svg-icon src="../../../../assets/images/send-to-moderation.svg"></svg-icon>
                </div>
                <div
                  class="action-menu_item__title">{{ "VENDOR_ACCOUNT_PPODUCTS.SEND_TO_MODERATION" | translate }}</div>
              </div>
              <div class="action-menu_item"
                   (click)="duplicateProduct()">
                <div>
                  <svg-icon src="../../../../assets/images/duplicate.svg"></svg-icon>
                </div>
                <div class="action-menu_item__title">{{ "VENDOR_ACCOUNT_PPODUCTS.DUPLICATE" | translate }}</div>
              </div>
              <div class="action-menu_item"
                   *ngIf="row.approval_status[0] !== 'Draft' && row.approval_status[0] !== 'Archived'"
                   (click)="openArchiveProductDialog()">
                <div>
                  <svg-icon src="../../../../assets/images/archive.svg"></svg-icon>
                </div>
                <div class="action-menu_item__title">{{ "VENDOR_ACCOUNT_PPODUCTS.ARCHIVE" | translate }}</div>
              </div>
              <div class="action-menu_item red"
                   *ngIf="!row.publish_date"
                   (click)="openRemoveProductDialog()">
                <div>
                  <svg-icon src="../../../../assets/images/remove.svg"></svg-icon>
                </div>
                <div class="action-menu_item__title remove">{{ "VENDOR_ACCOUNT_PPODUCTS.REMOVE" | translate }}</div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"
            [class.hidden]="numSelected !== 0"></tr>
        <tr
          mat-row
          (click)="!clickedRows.has(row) ? (clickedRows.add(row)&&selection.toggle(row)) : (clickedRows.delete(row)&&selection.toggle(row))"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
        ></tr>
        <tr class="mat-row no-data"
            *matNoDataRow>
          <td class="mat-cell"
              colspan="8">
            <div class="no-data">
              <div class="no-data_image">
                <svg-icon src="../../../../assets/images/magnifier.svg"></svg-icon>
              </div>
              <div class="no-data_title">{{ "VENDOR_ACCOUNT_PPODUCTS.NO_DATA" | translate }}</div>
              <div class="no-data_subtitle">{{ "VENDOR_ACCOUNT_PPODUCTS.CLEAR_SOME_FILTERS" | translate }}</div>
              <div class="no-data_button"
                   (click)="resetFilters()">
                <div class="no-data_button__icon">
                  <svg-icon src="../../../../assets/images/reset.svg"></svg-icon>
                </div>
                <span class="no-data_button__name">{{ "VENDOR_ACCOUNT_PPODUCTS.RESET_FILTERS" | translate }}</span>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <mat-paginator *ngIf="vendorData.data.length !== 0"
                     [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
