<div class="hotline">
  <div class="hotline_header">
    <div class="hotline_header__title">
      <div class="title_name">
        {{ "MODERATOR_ACCOUNT_HOTLINE.HOTLINE" | translate }}
      </div>
      <div class="title_quantity">{{ total_records}}</div>
    </div>
  </div>
  <div class="hotline_content">
    <div class="hotline_content_filter">
      <div class="hotline_content_filter_search" [formGroup]="searchInputGroup">
        <input
          placeholder="Search by name"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'Search by name'"
          (focus)="onSearch(searchInputGroup.get('searchInput')?.value)"
          formControlName="searchInput"
          class="hotline_content_filter_search_input"
        />
        <div class="cross" (click)="clearSearchInput()">
          <svg-icon
            src="../../../../assets/images/cross_close.svg">
          </svg-icon>
        </div>
        <div class="placeholder">   {{ "MODERATOR_ACCOUNT_HOTLINE.SEARCH_BY" | translate }}</div>
        <div *ngIf="searchResultProducts.length > 0">
          <div class="backdrop" (click)="closeSearchResult()"></div>
          <div class="hotline_content_filter_search-result">
            <div
              class="hotline_content_filter_search-result__product"
              (click)="setSearchValue(product)"
              *ngFor="let product of searchResultProducts"
              [innerHTML]="product | substringEmphasize : searchInputGroup.get('searchInput')?.value"
            ></div>
          </div>
        </div>
      </div>
      <div class="hotline_content_date">
        <mat-form-field appearance="outline">
          <mat-label
            class="hotline_content_date_label">   {{ "MODERATOR_ACCOUNT_HOTLINE.DATE_RANGE" | translate }}</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="mm/dd/yyyy"
              [(ngModel)]="dateStart"
            />
            <input
              matEndDate
              formControlName="end"
              placeholder="mm/dd/yyyy"
              [(ngModel)]="dateEnd"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker">
          </mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error
            *ngIf="range.controls.start.status === 'INVALID'">
            {{ "MODERATOR_ACCOUNT_HOTLINE.INVALID_START_DATE" | translate }}
          </mat-error>
          <mat-error
            *ngIf="range.controls.end.status === 'INVALID'">
            {{ "MODERATOR_ACCOUNT_HOTLINE.INVALID_END_DATE" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="hotline_content__select">
        <mat-form-field appearance="outline" >
          <mat-label>Assignee</mat-label>
          <mat-select
            panelClass="custom-mat-select-panel"
            svgIcon="arrow-down.svg"
            [formControl]="selectModerator"
            [(ngModel)]="selectedValues"
            multiple
          >
            <mat-select-trigger class="hotline_content__select_trigger">
              {{ "MODERATOR_ACCOUNT_HOTLINE.ASSIGNEE" | translate }}
            </mat-select-trigger>
            <mat-option
              *ngFor="let moderator of moderatorsList"
              [value]="moderator"
              class="hotline_content__select_option"
            >
              <span class="cellColor" [ngStyle]="{'background':moderator.color}">
                {{ moderator.name | uppercase | slice :0:2 }}
              </span>
              <span>{{ moderator.name}}</span></mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="resetFilter" (click)="resetFilters()"
           class="hotline_content_reset">{{"MODERATOR_ACCOUNT_HOTLINE.RESET_FILTERS" | translate}}</div>
      <div class="hotline_content_toggle">
        <mat-slide-toggle [checked]="isChecked"
                          (change)="onToggleChange()"
        >{{"MODERATOR_ACCOUNT_HOTLINE.GROUP_BY_VENDOR"| translate}}</mat-slide-toggle>
      </div>
    </div>
    <div class="no-filter-applied-block">
      <div *ngIf="selectedValues.length < 1 && !inputSearch">
        {{ "MODERATOR_ACCOUNT_HOTLINE.NO_FILTERS_APPLIED" | translate }}
      </div>
      <div class="no-filter-applied-block_search" *ngIf="inputSearch" (click)="clearSearchInput()">
        Search:
        <span class="no-filter-applied-block_search_tags">{{inputSearch}}
          <svg-icon src="../../../../assets/images/delete-button-cross.svg"></svg-icon>
        </span>
      </div>
      <div *ngIf="selectedValues.length !== 0" class="no-filter-applied-block_select">
        <div *ngFor="let moderator of selectedValues">
          <div *ngIf="moderator.name !== 'Unassigned'" class="no-filter-applied-block_select_tags_assignee">Assignee:
          </div>
        </div>
        <div *ngFor="let moderator of selectedValues; let idx=index"
             class="no-filter-applied-block_select_tags" >
          <div *ngIf="moderator.name !== 'Unassigned'" class="no-filter-applied-block_select_tags_name"
               (click)="resetSelect(idx)">
            <div class="cellColor" [ngStyle]="{'background':moderator.color}">
              {{ moderator.name | uppercase | slice :0:2 }}
            </div>
            {{moderator.name}}
            <svg-icon src="../../../../assets/images/delete-button-cross.svg"></svg-icon>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isChecked" class="hotline_content__table">
      <div class="mat-elevation-z8 table-wrapper">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              {{ "MODERATOR_ACCOUNT_HOTLINE.NAME" | translate }}
            </th>
            <td (click)="navigateToProduct(element.id)" mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="vendor">
            <th mat-header-cell *matHeaderCellDef>
              {{ "MODERATOR_ACCOUNT_HOTLINE.VENDOR" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.vendor_name }}</td>
          </ng-container>
          <ng-container matColumnDef="assignee">
            <th mat-header-cell *matHeaderCellDef>
              {{ "MODERATOR_ACCOUNT_HOTLINE.ASSIGNEE" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="cellColor" [ngStyle]="{'background':element.moderatorColor}">
                {{ element.assignee | uppercase | slice :0:2 }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="last updated">
            <th mat-header-cell *matHeaderCellDef>
              {{ "MODERATOR_ACCOUNT_HOTLINE.LAST_UPDATED" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.updated_at |date :'medium'}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row no-data"
              *matNoDataRow>
            <td class="mat-cell"
                colspan="4">
              <div class="no-data">
                <div class="no-data_image">
                  <svg-icon src="../../../../assets/images/magnifier.svg"></svg-icon>
                </div>
                <div class="no-data_title">{{ "VENDOR_ACCOUNT_PPODUCTS.NO_DATA" | translate }}</div>
                <div class="no-data_subtitle">{{ "VENDOR_ACCOUNT_PPODUCTS.CLEAR_SOME_FILTERS" | translate }}</div>
                <div class="no-data_button">
                  <div class="no-data_button__icon">
                    <svg-icon src="../../../../assets/images/reset.svg"></svg-icon>
                  </div>
                  <span class="no-data_button__name">{{ "VENDOR_ACCOUNT_PPODUCTS.RESET_FILTERS" | translate }}</span>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <mat-paginator *ngIf="total_pages!==0"
                       [pageIndex]="page-1"
                       [pageSize]="per_page"
                       [length]="total_records"
                       [pageSizeOptions]="[5, 10, 20]"
                       (page)="onPageChange($event)"
                       showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
    <i (click)="refresh()" class="pi pi-refresh"></i>
  </div>
  <div *ngIf="isChecked" class="hotline_content__table">
    <mat-accordion *ngFor="let data of hotlineDataByVendorFront| groupBy:'vendor_name' ">
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{data.key}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="data.value">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>
                {{ "MODERATOR_ACCOUNT_HOTLINE.NAME" | translate }}
              </th>
              <td (click)="navigateToProduct(element.id)" mat-cell *matCellDef="let element">{{ element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="vendor">
              <th mat-header-cell *matHeaderCellDef>
                {{ "MODERATOR_ACCOUNT_HOTLINE.VENDOR" | translate }}
              </th>
              <td mat-cell *matCellDef="let element">{{ element.vendor_name }}</td>
            </ng-container>
            <ng-container matColumnDef="assignee">
              <th mat-header-cell *matHeaderCellDef>
                {{ "MODERATOR_ACCOUNT_HOTLINE.ASSIGNEE" | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="cellColor" [ngStyle]="{'background':element.moderatorColor}">
                  {{ element.assignee | uppercase | slice :0:2 }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="last updated">
              <th mat-header-cell *matHeaderCellDef>
                {{ "MODERATOR_ACCOUNT_HOTLINE.LAST_UPDATED" | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.updated_at |date :'medium'}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<p-toast position="top-right"></p-toast>

