@import "../../../../scss/mixins";
@import "../../../../scss/constants";

::ng-deep {
  .mat-accordion > .mat-expansion-panel-spacing:last-child, .mat-accordion > *:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-bottom: 10px !important;
  }

  .mat-accordion > .mat-expansion-panel-spacing:first-child, .mat-accordion > *:first-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing {
    margin-top: 10px !important;
  }

  .mat-form-field {
    position: relative;
  }

  .mat-select-arrow {
    border: none;
  }

  .mat-select-value-text {
    @include flex(row, center, center);
    margin-top: 7px;
  }

  .mat-datepicker-content .mat-calendar {
    width: 280px !important;
    height: 335px !important;
  }

  .mat-datepicker-content {
    position: absolute;
    top: 5px;
  }

  .mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border: 1px solid #D3D3D3;
    position: relative;
    transform: translateX(28px) translateY(53px) !important;
  }

  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .mat-tree-node {
    @include flex(row, center, center);
    word-wrap: break-word;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 1em
  }
}

.cellColor {
  @include flex(row, center, center);
  @include size(30px, 30px);
  margin-right: 5px;
  border-radius: 50%;
  color: $color-text-white;
}

//
//.custom-mat-select-panel {
//  ::ng-deep {
//    .mat-select-panel:not([class*=mat-elevation-z]) {
//      box-shadow: none;
//      border: 1px solid #D3D3D3;
//      position: relative;
//      transform: translateX(28px) translateY(53px) !important;
//    }
//  }
//}
.hotline {
  width: 100%;

  .table-wrapper {
    position: relative;
  }

  .no-data {
    ::ng-deep {
      th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        border-bottom-style: none;
      }
    }

    @include flex(column, center, center);
    transform: translate(21%, 0%);
    margin: 24% auto;

    td.mat-cell {
      width: 100%;
    }

    &_image {
      svg {
        @include size(80px, 80px);
      }
    }

    &_title {
      @include text--h5($medium);
      margin: 20px 0 4px;
    }

    &_subtitle {
      @include text--h6;
      color: $dark-grey;
      margin-bottom: 20px;
    }

    &_button {
      @include flex(row, center, space-between);
      padding: 5px 4px;
      border: 1px solid $grey-button-background;
      border-radius: 4px;

      &__name {
        @include text--h5($regular);
        color: $color-text-default;
      }

      &__icon {
        margin-right: 6.25px;
      }
    }

    &:hover {
      background-color: transparent;
    }
  }

  ::ng-deep {
    .mat-row.no-data:hover .mat-cell {
      background-color: transparent;
    }

    .mat-expansion-panel-header {
      font-weight: 500;
    }

    .mat-expansion-panel-body {
      padding: 0 0 20px;
    }

    .mat-form-field-subscript-wrapper {
      margin-top: 22px;
    }

    .cdk-overlay-pane.mat-select-panel {
      left: 0 !important;
    }

    .mat-select-arrow {
      border: none;
    }

    .mat-select-arrow-wrapper {
      width: 12px;
      content: "";
      background-image: url("../../../../assets/images/moderation/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin: 0 3px;
    }

    .mat-select-panel-wrap {
      position: absolute !important;
      top: 55px !important;
      left: -67px;
      width: 310px;
      margin-right: 10px;
    }

    .pi {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      cursor: pointer;
      color: $orange;
      font-size: 2rem;
    }

    .mat-select {
      width: 120%;
    }

    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: translateX(-80%);
    }

    .mat-select-value-text {
      @include flex(row, center, center);
      margin-top: 7px;
    }

    .mat-datepicker-content .mat-calendar {
      width: 280px !important;
      height: 335px !important;
    }

    .mat-datepicker-content {
      position: absolute;
      top: 5px;
    }

    .mat-select-panel:not([class*=mat-elevation-z]) {
      box-shadow: none;
      border: 1px solid #D3D3D3;
    }

    .mat-mdc-form-field + .mat-mdc-form-field {
      margin-left: 8px;
    }

    .mat-tree-node {
      word-wrap: break-word;
      display: flex;
      flex: 1;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-left: 1em
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: $border-color;
    }

    .mat-form-field-appearance-outline:hover .mat-form-field-outline {
      color: #1A1A1A;
    }

    .mat-form-field-label {
      display: flex;
      top: 30px;
      bottom: 10px;
      padding-bottom: 4px;
      height: 18px;
      font-weight: 400;
      font-size: 16px;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding-top: 3px;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
      color: #1A1A1A;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
      background-color: #FFE6B3;
    }

    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
      background-color: $color-text-orange;
    }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
      transform: translateX(-1.6em) translateY(-1.1em) scale(0.75);
      width: 133.3333333333%;
      color: black;
    }
  }

  &_content {
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1),
    -2px 0px 4px rgba(0, 0, 0, 0.25),
    0px 2px 4px rgba(0, 0, 0, 0.25),
    2px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background: #FFFFFF;

    &_reset {
      margin: 0 1em;
      cursor: pointer;
      white-space: nowrap;
    }

    &_toggle {
      display: flex;
      margin-left: auto;
    }

    &__select {
      ::ng-deep {
        .mat-select-panel:not([class*=mat-elevation-z]) {
          box-shadow: none;
          border: 1px solid #D3D3D3;
          position: relative;
          transform: translateX(28px) translateY(53px) !important;
        }

        .mat-select-arrow-wrapper {
          margin-left: -26px
        }

        .mat-select-panel {
          position: relative !important;
          top: 52px !important;
          left: 75px !important;
        }
      }

      &_trigger {
        position: relative;
        left: -24px;
      }

      &_option {
        ::ng-deep {
          .mat-option-text {
            @include flex(row, center, flex-start);
          }
        }
      }

      ::ng-deep {
        .mat-form-field-flex {
          @include size(128px, 46px);
        }
      }
    }

    &_date {
      ::ng-deep {
        .mat-datepicker-content .mat-calendar {
          background: #136111;
          @include size(280px, 335px);
        }

        .mat-form-field-infix {
          display: flex;
        }

        .mat-form-field-wrapper .mat-form-field-flex {
          @include size(280px, 45px);
        }

        .mat-form-field-appearance-outline .mat-form-field-wrapper {
          margin: 0 12px 0 0;
        }

        .mat-start-date,
        .mat-date-range-input-inner {
          padding-top: 4px;
          font-size: 15px;
        }

        .mat-icon-button {
          margin-top: -7px;
        }

        .mat-form-field-appearance-outline .mat-form-field-outline {
          margin-top: -0.05em;
        }

        .mat-form-field.mat-focused .mat-form-field-label .mat-form-field.mat-form-field-invalid .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float {
          transform: translateY(-1px) translateX(-96px) scale(0.75);
        }

        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
          transform: translateY(-19px) translateX(-96px) scale(0.75);
        }

        .mat-date-range-input-separator {
          padding: 7px 0 0 3px;
        }

        .mat-date-range-input-container {
          align-items: stretch;
        }

        .mat-date-range-input-end-wrapper {
          max-width: calc(45% + 5px);
        }
      }
    }

    &_filter {
      @include flex(row, center, flex-start);
      border-radius: 4px 4px 0 0;
      padding: 16px;

      &_search {
        position: relative;
        margin-right: 12px;

        &_input {
          @include text--h4($regular);
          @include size(267px, 41px);
          border: solid 1px $border-color;
          border-radius: 4px;
          padding: 8px 16px;
        }

        &_input:hover {
          border: 2px solid #1A1A1A;
          padding: 7px 15px;
        }

        .placeholder {
          @include text--h6;
          display: none;
          position: absolute;
          top: -8px;
          left: 10px;
          z-index: 10;
          background-color: $white;
          padding: 0 2px;
        }

        .cross {
          display: none;
          position: absolute;
          top: 12px;
          right: 8px;
          z-index: 999;

          &:hover {
            display: block;
            cursor: pointer;
          }
        }

        input:focus ~ .placeholder {
          display: block;
        }

        input:focus ~ .cross {
          display: block;
        }

        &-result {
          @include size(267px, 216px);
          position: absolute;
          top: 45px;
          left: 0;
          z-index: 10;
          box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
          border: 1px solid $grey-button-background;
          border-radius: 4px;
          background: $white;
          padding: 8px 16px;
          overflow-y: scroll;

          &__product {
            @include text--h4($regular);
            margin-bottom: 16px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      &_date {
        background: red;

        ::ng-deep {
          .mat-form-field-infix {
            display: flex;
          }

          .mat-form-field-wrapper {
            @include size(313px, 40px);
          }
        }
      }
    }
  }

  &_header {
    @include flex(row, center, space-between);
    margin-bottom: 24px;
    width: 100%;

    &__title {
      @include flex(row, center, flex-start);
      @include text--h8($medium);
      flex-grow: 1;

      .title_name {
        margin-right: 4px;
        color: $color-text-default;
      }

      .title_quantity {
        color: $dark-grey;
      }
    }
  }

  table {
    border-top: transparent;
    //display: flex;
    //flex-direction: column;
    width: 100%;
  }

  .mat-form-field {
    @include text($semibold, 16px, 16px);
    width: 100%;
    color: $color-text-grey;
    text-align: center;
  }

  .mat-row .mat-cell {
    cursor: pointer;
  }

  .mat-row .mat-cell:nth-child(8n + 1) {
    box-sizing: border-box;
    border-left: 3px solid transparent;
  }

  .mat-row:hover .mat-cell {
    background-color: $grey;
  }

  .mat-row.no-data:hover .mat-cell {
    background-color: transparent;
  }

  .demo-row-is-clicked {
    background-color: $grey;
  }

  .demo-row-is-clicked .mat-cell:nth-child(8n + 1) {
    box-sizing: border-box;
    border-left: 3px solid $orange;
  }

  th {
    background-color: $grey;
  }

  th:nth-child(8n + 1) {
    border-left: 3px solid transparent;
  }

  td:nth-child(1) {
    width: 40%;
  }

  td:nth-child(2) {
    width: 25%;
  }

  td:nth-child(3) {
    width: 10%;
  }

  td:nth-child(4) {
    width: 25%;
  }

  td,
  th {
    @include text--h4($regular);

    .product-name {
      max-width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }

    span {
      color: $color-text-grey;
    }

    .food-groups {
      @include flex(row, center, flex-start);

      &_item {
        margin-right: 4px;
        border-radius: 4px;
        background: $container-background;
        padding: 0 6px;
        width: auto;

        &__dropdown {
          @include text--h5($regular);
          @include flex(row, center, space-between);
          border: 1px solid $grey-button-background;
          border-radius: 4px;
          padding: 2px 8px;
          color: $color-text-default;
          text-align: center;

          .dropdown_count {
            margin-right: 2px;
          }

          &_icon {
            @include size(10px, 22px);
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .dropdown-menu {
        @include text--h4($regular);
        @include size(240px, auto);
        position: absolute;
        z-index: 10;
        margin-top: 4px;
        box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
        border: 1px solid $grey-button-background;
        border-radius: 4px;
        background: $white;
        color: $color-text-default;

        &_header {
          @include flex(row, center, space-between);
          @include text--h5($regular);
          border-bottom: 1px solid $grey-button-background;
          padding: 12px 16px;
          color: $dark-grey;
        }

        &_options {
          padding: 12px 16px;

          span {
            @include text--h4($regular);
            color: $color-text-default;
          }
        }
      }
    }

    .last-update {
      color: $dark-grey;
    }
  }

  // My custom ascending arrow
  [aria-sort="ascending"] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          position: absolute;
          top: -0em;
          content: url(../../../../assets/images/sort-icon.svg);
          color: $orange;
          font-size: 20px;
          line-height: 10px;
        }
      }
    }
  }

  .no-filter-applied-block {
    @include flex(row, center, flex-start);
    @include text--h5($regular);
    padding-left: 24px;
    min-height: 56px;
    color: $dark-grey;

    &_search {
      @include flex(row, center, center);
      cursor: pointer;

      &_tags {
        gap: 4px;
        margin-right: 1em;
        margin-left: 1em;
        border: $border-color 1px solid;
        border-radius: 40px;
        padding: 6px 12px;

        svg-icon {
          margin-left: 1em;
        }
      }
    }

    &_select {
      ::ng-deep {
        .mat-select-value-text {
          @include flex(row, center, center);
          margin-top: 7px;
        }

        .mat-option-text {
          @include flex(row, center, center);
        }
      }

      @include flex(row, center, center);

      &_tags {
        @include flex(row, center, center);
        @include size(auto, 56px);
        cursor: pointer;

        &_assignee {
          padding-right: 1em;
        }

        &_name {
          @include flex(row, center, flex-start);
          gap: 4px;
          margin-right: 1em;
          border: $border-color 1px solid;
          border-radius: 40px;
          padding: 6px 12px;

          svg-icon {
            padding-top: 2px;
          }
        }
      }
    }
  }

  ::ng-deep {
    .mat-select-value {
      @include text--h4($regular);
    }

    .mat-option-text {
      @include text--h4($regular);
    }

    .mat-paginator-page-size-label {
      @include text--h4($regular);
      color: $color-text-grey;
    }

    .mat-paginator-range-label {
      @include text--h4($regular);
      color: $color-text-default;
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: $color-text-default;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      display: none;
    }

    .mat-paginator-page-size-select {
      border: 1px solid #d3d3d3;
      border-radius: 4px;
      padding: 2px 8px;
      width: 48px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-paginator-page-size {
      display: flex;
      align-items: center;
    }

    .mat-form-field-infix {
      border-top: 0 solid transparent;
      padding: 0.5em 0;
    }

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
      color: $color-text-default;
    }

    .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
      background-color: transparent;
    }
  }

  .backdrop {
    @include size(100vw, 100vh);
    position: fixed;
    top: 0;
    left: 0;
  }

  .action-menu {
    @include size(222px, auto);
    position: absolute;
    right: 50px;
    z-index: 10;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #ffffff;
    padding: 8px 0;

    &_item {
      @include flex(row, center, flex-start);
      @include text--h4($regular);
      padding: 12.5px 18.5px;
      color: $color-text-default;

      &__title {
        margin-left: 18.5px;

        &.remove {
          color: $red;
        }
      }
    }
  }
}

.mat-elevation-z8 {
  box-shadow: none;
}
