<div class="wrapper">
    <h1>{{ "PRIVACY_POLICY.PRIVACY_POLICY" | translate }}</h1>
    <h4>{{ "PRIVACY_POLICY.INTRODUCTION" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.DELIVERY_PLATFORM" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.THIS_PRIVACY_POLICY" | translate }}</p>
    <h4>{{ "PRIVACY_POLICY.SCOPE" | translate }}</h4>
    <ul class="no-marker-list">
        <p>{{ "PRIVACY_POLICY.APPLIES_TO" | translate }}</p>
        <li>{{ "PRIVACY_POLICY.WEB_USERS" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.PARTICIPANTS" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.PERSONNEL" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.SUBSCRIBERS" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.USERS" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.USERS_ACCESSING" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.COMPETITORS" | translate }}</li>
    </ul>
    <p>{{ "PRIVACY_POLICY.IF_YOU_VISIT" | translate }}</p>
    <h4>{{ "PRIVACY_POLICY.WHAT_DATA" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.EXCEPT_FOR" | translate }}</p>
    <ul class="no-marker-list">
        <p>{{ "PRIVACY_POLICY.THERE_MAY_BE" | translate }}</p>
        <li>{{ "PRIVACY_POLICY.CONTACTING_DELIVERY" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.SUBSCRIBING_DELIVERY" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.REGISTERING_TO_PARTICIPATE" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.REGISTERING_TO_ACCESS" | translate }}</li>
    </ul>
    <h4>{{ "PRIVACY_POLICY.WHY_DO_WE" | translate }}</h4>
    <ul>
        <p>{{ "PRIVACY_POLICY.DELIVERY_PLATFORM_WILL" | translate }}</p>
        <li>{{ "PRIVACY_POLICY.TO_ALLOW" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.TO_ORGANIZE" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.TO_ALLOW_YOU" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.TO_ANALYSE" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.TO_GIVE" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.TO_SEND" | translate }}</li>
    </ul>
    <h4>{{ "PRIVACY_POLICY.WHO_HAS" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.ANY_INFORMATION" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DEPENDING_ON" | translate }}</p>
    <h4>{{ "PRIVACY_POLICY.HOW_LONG" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.YOUR_PERSONAL" | translate }}</p>
    <h4>{{ "PRIVACY_POLICY.HOW_DO" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.TO_PREVENT" | translate }}</p>
    <h4>{{ "PRIVACY_POLICY.REQUESRS" | translate }}</h4>
    <ul class="no-marker-list">
        <p>{{ "PRIVACY_POLICY.IN_ACCORDANCE" | translate }}</p>
        <li>{{ "PRIVACY_POLICY.ACCESS" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.CORRECTION" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.DELETION" | translate }}</li>
        <li>{{ "PRIVACY_POLICY.OBJECTION" | translate }}</li>
    </ul>
    <h4>{{ "PRIVACY_POLICY.CONTACT_US" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.IF_YOU_WISH" | translate }}
        <a href="mailto: FAO-Data-Privacy@fao.org">{{"PRIVACY_POLICY.EMAIL" | translate}}</a>
    </p>
    <p>{{ "PRIVACY_POLICY.IF_YOU_HAVE" | translate }}
        <a href="mailto: FAO-Data-Privacy@fao.org">{{"PRIVACY_POLICY.EMAIL" | translate}}</a>
    </p>
    <h4>{{ "PRIVACY_POLICY.CHANGES" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.DELIVERY_PLATFORM_MAY" | translate }}</p>
    <h4>{{ "PRIVACY_POLICY.PRIVILEGES" | translate }}</h4>
    <p>{{ "PRIVACY_POLICY.NOTHING" | translate }}</p>
</div>