@import '../../../../scss/constants';

.wrapper {
    font-family: $font-family;
    width: 80%;
    margin: 24px auto;

    .no-marker-list {

        li {
            list-style: none;
        }
    }

    a {
        text-decoration: none;
        color: $color-text-default;
        font-weight: bold;
    }
}