@import '../../../scss/mixins';

.spinner-loading-container {
  @include size(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;

  .mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
