<div class="wrapper">
    <header class="header">
      <div class="header__text">
        <h2 class="header__text_title">{{"VENDOR_PRODUCT.REMOVE_PRODUCT_QUESTION" | translate}}</h2>
        <h4 class="header__text_subtitle">{{"VENDOR_PRODUCT.THE_PRODUCT_DATA" | translate}}</h4>
      </div>
      <div class="header__action">
        <img class="header__action_close" src="../../../../assets/images/cross_close.svg" mat-dialog-close>
      </div>
    </header>
    <content class="content">
        <div class="content_checkbox-container">
            <div class="content_checkbox-container__checkbox">
                <mat-checkbox>{{"VENDOR_PRODUCT.SHOW_IT_AGAIN" | translate}}</mat-checkbox>
            </div>
        </div>
      <div class="buttons">
        <div class="buttons_cancel" mat-dialog-close>{{"VENDOR_PRODUCT.CANCEL" | translate}}</div>
        <div class="buttons_delete" [mat-dialog-close]="true" (click)="removeProduct()">{{"VENDOR_PRODUCT.REMOVE" | translate}}</div>
      </div>
    </content>
  </div>
