<ng-container [formGroup]="form">
<mat-form-field class="multiselect">
  <mat-label>{{label}}</mat-label>
  <mat-select
    disableOptionCentering
    [formControlName]="controlName"
    multiple
    panelClass="multiselect-layer__panel">
    <mat-select-trigger>
      <p *ngIf="checkNotEmpty(); else other">
        {{form.controls[controlName].value.join(', ')}}
      </p>
      <ng-template #other>
        <p *ngIf="form.controls[controlName].value?.length === 1">{{form.controls[controlName].value}}</p>
        <p *ngIf="form.controls[controlName].value?.length > options.length">All</p>
      </ng-template>
    </mat-select-trigger>
    <mat-option
    #allSelected
    (click)="toggleAllSelection(allSelected, form.controls[controlName], options)"
    [value]="'All'">
      All
    </mat-option>
    <mat-option
      *ngFor="let option of options"
      [value]="option.title"
    (click)="togglePerOne(allSelected, form.controls[controlName], options)">
      <div class="multi-item-row">
        <img *ngIf="option.img" src='../../../../assets/images/{{option.img}}.svg'>
        <span>{{option.title}}</span>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
</ng-container>
