@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep.multiselect {
  width: 228px;

  &.mat-focused {

    .mat-form-field-label {
      color: $color-text-grey;
    }

    .mat-select-arrow {
      transform: rotate(180deg) translateY(3px) !important;
    }
  }

  .mat-select {
    font-family: $font-family;
  }

  .mat-form-field-label {
    font-family: $font-family;
    color: $color-text-default;
    top: 0.7em;
  }

  &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-0.8em) scale(0.75) perspective(100px);
  }

  .mat-form-field-wrapper {
    padding: 0;

    .mat-form-field-infix {
      padding: 0 0 0.4em 0;

      .mat-select-arrow-wrapper {
        height: 24px;

        .mat-select-arrow {
          border: unset;
          width: 12px;
          height: 12px;
          background: url('../../../../assets/images/Vector.svg') no-repeat;
          object-fit: cover;
          margin: 0 16px;
        }
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}

.multi-item-row {
  font-family: $font-family;
  @include flex(row, center, flex-start);
  gap: 12px;
}

::ng-deep.multiselect-layer {
  width: 228px;
  transform: translateX(0px) translateY(38px) !important;

  .mat-pseudo-checkbox {
    position: absolute;
    right: 0;
    margin-right: 14px;
    width: 18px;
    height: 18px;
    border: 1px solid $border-color;
    background: $footer-background;
    border-radius: 0;
  }

  .multiselect-layer__panel {
    min-width: unset !important;
    width: 228px;
    padding: 8px 0;

    .mat-option:hover {
      background: $light-grey;
    }

    .mat-option.mat-selected:not(.mat-option-disabled) {
      color: $color-text-default;
      background: $light-grey;
    }
  }

  .mat-pseudo-checkbox-checked,
  .mat-accent .mat-pseudo-checkbox-indeterminate {
    background: $color-text-orange;
  }

  .mat-pseudo-checkbox-checked:after {
    top: 3px;
    left: 1px;
    width: 12px;
    height: 5px;
  }
}
