@import '../../../scss/mixins';
@import '../../../scss/constants';

.banner {
  @include flex(row, center, space-between);
  max-width: 100%;
  padding: 12px 55px;
  background-color: $banner-background;

  &_text {
    @include flex(column, flex-start, space-between);

    &__title {
      @include text--h2;
      margin-bottom: 2px;
    }

    &__subtitle {
      @include text--h5($normal);

      a {
        @include text--h5($medium);
        color: $color-text-default;
        margin: 0;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &_buttons {
    @include flex(row, center, space-between);

    &__sign-up {
      @include text--h4($regular);
      margin-right: 61px;
      background-color: $orange;
      color: $white;
      width: 57px;
      padding: 6px 8px;
      border: none;
      border-radius: 2px;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

    &__close {
      z-index: 9;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
