<div class="banner">
  <div class="banner_text">
    <div class="banner_text__title">
      {{ "BANNER.VENDOR_BANNER_TITLE" | translate }}
    </div>
    <div class="banner_text__subtitle">
      <p>
        {{ "BANNER.VENDOR_BANNER_SUBTITLE" | translate }}
        <a [routerLink]="['/feed/vendor/sign-up']">{{
          "BANNER.SIGN_UP" | translate
        }}</a>
      </p>
    </div>
  </div>
  <div class="banner_buttons">
    <!-- <div class="banner_buttons__sign-up" [routerLink]="['/feed/sign-up']">{{'BANNER.SIGN_UP' | translate}}</div> -->
    <div class="banner_buttons__close" (click)="onCloseButtonClick()">
      <img src="../../../assets/images/cross_close.svg" />
    </div>
  </div>
</div>
