<div class="result-bar-container">
    <div class="result-bar-container__text">{{ getValue() }}</div>
    <div class="result-bar-container__buttons">
        <button class="button-result">
            <img src="../../../../assets/images/result-link-button.svg"/>
        </button>
        <button class="button-map">
            <img src='../../../../assets/images/map-link-button.svg'/>
        </button>
    </div>
</div>
