@import '../../../../scss/mixins';


.result-bar-container {
  @include flex(row, center, space-between);
  margin-bottom: 28px;

  &__text {
    @include text--h2;
  }

  &__buttons {
    @include flex(row, center, space-around);
    border-radius: 2px;

    .button-result, .button-map {
      padding: 4px;
      border: none;
      @include size(52px, 52px);

      &:hover {
        cursor: pointer;
      }
    }

  }
}
