<div class="search-results-container">
  <div class="search-results-container_navigation">
    <app-navigation></app-navigation>
  </div>
  <div class="search-results-container_result">
    <app-result-bar
      [value]="productName"
      [number]="productNumber"
    ></app-result-bar>
  </div>
  <app-search-filter
    [searchQuery]="productName"
    (filterChanged)="onFilterChanged($event)"></app-search-filter>
  <div *ngIf="(vendorsArr$ | async)?.length !== 0; else noResult" class="vendor-products">
    <app-spinner-loading></app-spinner-loading>
    <div class="vendor-products__title">
      <span>{{ 'SEARCH_RESULT.VENDORS' | translate }}</span>
      <span>{{ (vendorsArr$ | async)?.length }}</span>
    </div>
    <div [ngClass]="[
      'vendor-products_vendor',
      allVendorsShown ? 'vendor-products_vendor_expanded' : '',
    ]">
      <div *ngFor="let item of vendorsArr$ | async" class="vendor-items">
        <app-vendor-card [vendor]="item" [routerLink]="['/feed/place', item.id]"></app-vendor-card>
      </div>
    </div>
    <div *ngIf="!allVendorsShown" class="vendor-products_all-vendors">
      <button (click)="loadAllVendors()">{{ "VENDOR_PRODUCT.ALL_VENDORS" | translate }}</button>
    </div>
    <div class="vendor-products__title">
      <span>{{ 'SEARCH_RESULT.PRODUCTS' | translate }}</span>
      <span>{{productNumber}}</span>
    </div>
    <div *ngFor="let item of (vendorsArr$ | async)?.slice(0, itemsToShow)" class="vendor-products__vendor">
      <div class="vendor-info">
        <div class="vendor-info__image">
          <img
            class="photo"
            src="https://source.unsplash.com/collection/8613861/56x{{ 56 }}"
          />
        </div>
        <div class="vendor-info__text">
            <div class="vendor-info__text__name">{{item.name}}</div>
            <div class="text-row">
                <div class="text-row_rate">
                  <img src="../../../../assets/images/star.svg" />
                  {{ item.average_rate }}
                </div>
                <div class="text-row_distance">
                  {{ item.locations[0]?.distance || distance}} {{'VENDOR_CARD.UNIT' | translate}}
                </div>
                <div class="text-row_delimiter">•</div>
                <div class="text-row_orders">
                  {{ item.orders_count }} {{ 'VENDOR_CARD.ORDERS' | translate }}
                </div>
              </div>
        </div>

      </div>
      <div class="vendor-items">
        <app-product-card *ngFor="let el of item.products" [product]="el">
        </app-product-card>
      </div>
    </div>
  </div>
  <ng-template #noResult>
    <div class="no-result-page-container_main-content">
      <div class="no-result-page-container_main-content__image"></div>
      <div class="no-result-page-container_main-content__message">
        {{ "NO_RESULTS_PAGE.NO_RESULTS_FOUND" | translate }} <span>{{ productName }}</span> <br>
        Please try another phrase
      </div>
    </div>
  </ng-template>
  <app-cookie-popup></app-cookie-popup>
</div>
