@import "../../../scss/constants";
@import "../../../scss/mixins";

.search-results-container {
  width: 80%;
  margin: 0 auto;
  &_navigation {
    margin: 24px 0;
  }

  &_result {
      margin-bottom: 16px;
  }
  &_filter {
      @include flex (row, center, space-between);
      margin-bottom: 70px;
      background-color: $light-grey;
  }
}

.vendor-products {

  &__title {
    margin-bottom: 28px;

    :first-child {
        @include text--h8($medium);
        background-color: red($color: #000000);
    }

    :last-child {
        @include text--h8($regular);
        color: $color-text-grey;
    }
  }

  &_vendor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 30px;
    grid-template-columns: auto auto auto auto;
    max-height: 600px;
    overflow-y: hidden;
    margin-bottom: 25px;
    transition: all 1s;

    &.vendor-products_vendor_expanded {
      max-height: max-content;
    }

    .vendor-items {
      min-width: 365px;
      @include size(calc(25% - 18px), 276px);

      @media screen and (max-width: 1950px) {
        width: calc(33% - 12px);
      }
      @media screen and (max-width: 1440px) {
        width: calc(50% - 12px);
      }
    }
  }
  &_all-vendors {
    display: flex;
    justify-content: center;

    button {
      text-align: center;
      background-color: $light-grey;
      border: none;
      padding: 6px 8px;
      cursor: pointer;
    }
  }

  &__vendor {
    padding-bottom: 70px;
  }
}
.vendor-products__vendor {

  .vendor-info {
    @include flex(row, center, normal);
    margin-bottom: 12px;

    &__image {
      margin-right: 16px;
    }

    &__text {
      @include text--h4($bold);

      &__name {
        padding-bottom: 8px;
      }
    }
  }

  .vendor-items {
    width: max-content;
    padding-top: 24px;
    border-top: solid $border-color 1px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;

    & > * {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .vendor-items {
    grid-template-columns: auto auto auto;
  }
}

.text-row {
  @include flex(row, center, normal);
  flex-direction: row;
  padding: 0;
  gap: 10px;
  height: 20px;

  &_rate {
    @include text--h5($regular);
    @include flex(row, center, center);
    padding: 2px 4px;
    gap: 3px;
    min-width: 52px;
    width: auto;
    height: 24px;
    background: $icon-background;
    border-radius: 33px;
  }

  &_distance,
  &_delimiter,
  &_orders {
    @include text--h5($regular);
    @include flex(row, center, normal);
    color: $color-text-grey;
  }
}

.no-result-page-container_main-content {
  @include flex (column, center, center);
  height: 60vh;

  &__image {
      width: 351px;
      height: 265px;
      background-image: url(../../../assets/images/no-result.svg);
      background-size: cover;
  }

  &__message {
      @include text--h5 ($normal);
      color: $color-text-grey;
      text-align: center;
      margin-top: 20px;

      span {
          font-weight: $medium;
      }
  }
}
