<div class="cross">
  <img src="../../../assets/images/cross_close.svg" mat-dialog-close/>
</div>
<div class="login_attempts">
  <div class="login_attempts__stop">
    <img src="../../../assets/images/stop.svg"/>
  </div>
  <div class="login_attempts__header">
    {{ "MODERATOR_LOG_IN.PLEASE_TRY_AGAIN_LATER" | translate }}
  </div>
  <div class="login_attempts__text">
    {{ "MODERATOR_LOG_IN.MAXIMUM_NUMBER" | translate }}
  </div>
  <button (click)="changeButton()" [style.backgroundColor]="buttonColor" class="login_attempts__reset">
    {{ buttonText | translate }}
  </button>

  <button class="login_attempts__try">
    {{ "MODERATOR_LOG_IN.TRY_AGAIN_LATER" | translate }}
  </button>
</div>
