@import "../../../scss/constants";
@import "../../../scss/mixins";
.login_attempts {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  &__stop {
    @include size(64px, 64px);
    @include flex(row, center, center);
    border-radius: 50%;
    background-color: #fff2f2;

    img {
      @include size(33px, 33px);
    }
  }

  &__header {
    @include text--h8(500);
    @include flex(row, center, center);
    height: 24px;
    margin-top: 20px;
  }

  &__text {
    @include text--h4(400);
    @include flex(row, center, center);
    text-align: center;
    margin-top: 12px;
  }

  &__reset,
  &__try {
    @include text--h4(500);
    @include size(402px, 42px);
    background-color: $orange;
    color: $white;
    border: none;
    border-radius: 2px;
    align-self: stretch;
    flex-grow: 0;
    text-align: center;
    margin-top: 16px;

    &:hover {
      cursor: pointer;
    }
  }
  &__try {
    @include text--h4(500);
    background-color: transparent;
    color: #1a1a1a;
    margin: 10px auto;
  }
}

.cross {
  @include flex(row, center, flex-end);
}
