<div class="cart">
    <div class="cart-header">
        <div class="cart-header_title">
            <div class="cart-header_title__name">{{ "CART.MY_ORDER" | translate }}</div>
            <div *ngIf="(productCart$ | async)?.length" class="cart-header_title__quantity">{{ (productCart$ | async)?.length }}</div>
        </div>
        <div class="cart-header_button" *ngIf="(productCart$ | async)?.length"  mat-dialog-close (click)="openDialog()">{{ "CART.CLEAR_ALL" | translate }}</div>
    </div>
    <div *ngIf="(productCart$ | async)?.length;else emptyCart">
        <div class="cart-items">
            <div class="cart-items_item" *ngFor="let item of productCart$ | async" >
                <app-cart-item [cartItem]="item"></app-cart-item>
            </div>
        </div>
        <div class="cart-footer">
            <div class="cart-footer_title">
                <div class="cart-footer_title__name" >{{ "CART.TOTAL_PRICE" | translate }}</div>
                <div class="cart-footer_title__price">{{ "CART.CURRENCY" | translate }} {{ totalPrice$ | async }}</div>
            </div>
            <button class="cart-footer_button"  (click)="goToOrderDetailsPage()">{{ "CART.ORDER" | translate }}</button>
        </div>
    </div>
    <ng-template #emptyCart>
        <div class="emty-cart_content">
            <img class="emty-cart_content__image" src="../../../assets/images/cart.png" />
            <div class="emty-cart_content__text">{{ "CART.SELECT_PRODUCTS" | translate }}</div>
        </div>
    </ng-template>
</div>
