@import '../../../scss/constants';
@import '../../../scss/mixins';

::ng-deep.app-cart-dialog .mat-dialog-container{
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 16px 0px 32px;
    gap: 462px;
    background-color: $white;
    width: 500px;
    border-radius: 0px;
    transform: translate(-50%, 0);
}

::ng-deep.app-cart-dialog.cdk-overlay-pane {
    width: 0 !important;
}

.cart-header {
    @include flex(row, center, space-between);
    height: 56px;
    border-bottom: 0.5px solid $border-color;
    padding: 0 32px;

    &_title {
        @include flex(row, center, flex-start);
        @include text--h4($semibold);
        color: $color-text-default;
    }

    &_button {
        @include text--h4($regular);
        color: $color-text-grey;
        &:hover {
            color: $color-text-default;
            text-decoration: underline;
            cursor: pointer;
         }
    }
}

.cart-items {
    @include flex(column, center, flex-start);
    padding: 0 32px;

    &_item {
        border-bottom: 0.5px solid $border-color;
    }
}

.cart-footer {
    @include flex(column, flex-end, center);
    border-top: 0.5px solid $border-color;
    padding: 22px 32px 32px;
    width: 436px;

    &_title {
        @include flex(row, center, space-between);
        width: 100%;
        margin-bottom: 16px;

        &__name {
            @include text--h5($regular);
        }

        &__price {
            @include text--h2;
        }
    }

    &_button {
        @include text--h4 ($regular);
            background-color: $orange;
            color: $white;
            width: 448px;
            border: none;
            border-radius: 2px;
            align-self: stretch;
            flex-grow: 0;
            text-align: center;
            padding: 12px 0;
            &:hover {
               cursor: pointer;
            }
    }
}

.emty-cart_content {
    @include flex(column, center, center);
    text-align: center;
    margin-top: 30vh;

    &__text {
        @include text--h5 ($normal);
        width: 164px;
        color: $color-text-grey;
        margin-top: 20px;
    }
}
