@import '../../../../scss/mixins';

.no-result-page-container {
    &_navigation {
        margin: 24px 0;
    }

    &_result {
        margin-bottom: 16px;
    }

    &_filter {
        @include flex (row, center, space-between);
        margin-bottom: 70px;
        background-color: $light-grey;
    }

    &_main-content {
        @include flex (column, center, center);

        &__image {
            width: 351px;
            height: 265px;
            background-image: url(../../../../assets/images/no-result.svg);
            background-size: cover;
        }

        &__message {
            @include text--h5 ($normal);
            color: $color-text-grey;
            text-align: center;
            margin-top: 20px;

            span {
                font-weight: $medium;
            }
        }
    }
}
