<div class="no-result-page-container">
    <div class="no-result-page-container_navigation">
        <app-navigation></app-navigation>
    </div>
    <div class="no-result-page-container_result">
        <app-result-bar></app-result-bar>
    </div>
    <div class="no-result-page-container_filter">
        <app-search-bar
        [marginTop]="searchBarMargin"
        ></app-search-bar>
        <app-dropdown-multiselect
            label="Dietary"
            [options]="dietaryOptions"
        ></app-dropdown-multiselect>
        <app-dropdown-radio
            label="Sort by"
            controlName="sortBy"
            [options]="sortOptions"
        ></app-dropdown-radio>
    </div>
    <div class="no-result-page-container_main-content">
        <div class="no-result-page-container_main-content__image"></div>
        <div class="no-result-page-container_main-content__message">
          {{ "NO_RESULTS_PAGE.NO_RESULTS_FOUND" | translate }} <span>{{ "NO_RESULTS_PAGE.TRY_AGAIN" | translate }}</span> <br>
            Please try another phrase</div>
    </div>
</div>
