<app-banner-top  ></app-banner-top>
<div class="vendors">
    <app-often-ordered-products></app-often-ordered-products>
</div>
<div class="vendors">
    <app-vendors></app-vendors>
</div>
<app-cookie-popup></app-cookie-popup>
