@import '../../../../scss/constants';

.wrapper {
    font-family: $font-family;
    width: 80%;
    margin: 24px auto;

    a {
        text-decoration: none;
    }

    span {
        font-weight: bold;
    }
}