<div class="wrapper">
  <h1>{{ "TERMS.TERMS_AND_CONDITIONS" | translate }}</h1>
  <h4>{{ "TERMS.REUSE_OF_WEB_CONTENT" | translate }}</h4>
  <p>
    {{ "TERMS.CONTENT_ON_THE_FAO" | translate }}
    <a href="{{ faoDoc }}" target="_blank">
      {{ "TERMS.FAO_DOCUMENT_REPOSITORY" | translate }}</a
    >{{ "TERMS.IS_GOVERNED_BY_AN" | translate }}
    <a href="{{ openAccess }}" target="_blank">{{
      "TERMS.OPEN_ACCESS_POLICY" | translate
    }}</a>
    {{ "TERMS.PLEASE_CONSULT_THIS" | translate }}
  </p>
  <p>
    {{ "TERMS.SPECIFIC_STATISTICAL" | translate }}
    <a href="{{ openDataLicense }}" target="_blank">
      {{ "TERMS.OPEN_DATA_LICENSING_POLICY" | translate }}</a
    >
    {{ "TERMS.AND_GOVERNED_BY_THE" | translate }}
    <a href="{{ statistical }}" target="_blank">
      {{ "TERMS.STATISTICAL_DATABASES" | translate }}</a
    >
  </p>
  <p>
    {{ "TERMS.ALL_OTHER_CONTENT" | translate }}
  </p>
  <p>
    {{ "TERMS.ALL_REQUESTS_FOR" | translate }}
    <a href="mailto: copyright@fao.org">
      {{ "TERMS.COPYRIGHT_FAO" | translate }}</a
    >
  </p>
  <h4>{{ "TERMS.RECOMMENDED_CITATION" | translate }}</h4>
  <p>
    {{ "TERMS.TITLE" | translate }}
  </p>
  <p>
    <span>{{ "TERMS.THIRD_PARTY_CONTENT" | translate }}</span
    >{{ "TERMS.FAO_DOES_NOT" | translate }}
  </p>
  <p>
    {{ "TERMS.ALL_QUERIES_ON" | translate }}
    <a href="mailto: copyright@fao.org">{{
      "TERMS.COPYRIGHT_FAO" | translate
    }}</a>
  </p>
  <h4>{{ "TERMS.REUSE_OF_PHOTOGRAPHS" | translate }}</h4>
  <p>
    {{ "TERMS.CONDITIONS_FOR_REUSE" | translate }}
  </p>
  <p>
    {{ "TERMS.PERMISSION_MUST_BE" | translate }}
  </p>
  <p>
    {{ "TERMS.TO_REQUEST_PERMISSIONS" | translate }}
    <a href="mailto: photo-library@fao.org">
      {{ "TERMS.PHOTO-LIBRARY" | translate }}</a
    >.
  </p>
  <h4>{{ "TERMS.NON_FAO_CONTENT" | translate }}</h4>
  <p>
    {{ "TERMS.THE_FAO_WEBSITE_MAY" | translate }}
  </p>
  <h4>{{ "TERMS.USE_OF_FAO_LOGO" | translate }}</h4>
  <p>
    {{ "TERMS.THE_FAO_LOGO" | translate
    }}<a href="mailto:logo@fao.org">{{ "TERMS.LOGO" | translate }}</a
    >{{ "TERMS.IF_PERMISSION_FOR" | translate }}
  </p>
  <h4>{{ "TERMS.LINKING_TO_THE_FAO_WEBSITE" | translate }}</h4>
  <p>
    {{ "TERMS.FAO_ENCOURAGES" | translate }}
  </p>
  <h4>{{ "TERMS.DISCLAIMERS" | translate }}</h4>
  <p>
    {{ "TERMS.THE_DESIGNATIONS_EMPLOYED" | translate }}
  </p>
  <p>
    {{ "TERMS.INFORMATION_ON_THIS" | translate }}
  </p>
  <p>
    {{ "TERMS.HYPERLINKS_TO_NON_FAO" | translate }}
  </p>
  <p>
    {{ "TERMS.NO_PART_OF_THESE" | translate }}
  </p>
  <h4>{{ "TERMS.DISCUSSION_FORA" | translate }}</h4>
  <p>
    {{ "TERMS.THE_FAO_WEBSITE" | translate }}
  </p>
  <ul>
    <li>
      {{ "TERMS.LI1" | translate }}
    </li>
    <li>
      {{ "TERMS.LI2" | translate }}
    </li>
    <li>
      {{ "TERMS.LI3" | translate }}
    </li>
    <li>
      {{ "TERMS.LI4" | translate }}
    </li>
  </ul>
  <p>
    {{ "TERMS.USERS_SPECIFICALLY" | translate }}
  </p>
  <h4>{{ "TERMS.SECURITY" | translate }}</h4>
  <p>
    {{ "TERMS.FOR_SITE_SECURITY" | translate }}
  </p>
  <p>
    {{ "TERMS.EXCEPT_FOR_AUTHORIZED" | translate }}
  </p>
  <p>
    {{ "TERMS.ANY_INFORMATION" | translate }}
    <a href="{{ privacyPolicy }}" target="_blank">{{
      "TERMS.PRIVACY_POLICY" | translate
    }}</a>
    {{ "TERMS.OR_IN_ANY_ADDITIONAL" | translate }}
  </p>
  <p>
    {{ "TERMS.All_FAO" | translate }}
  </p>
  <h4>{{ "TERMS.NOTIFICATION_OF_AMENDMENTS" | translate }}</h4>
  <p>
    {{ "TERMS.FAO_RESERVES" | translate }}
  </p>
  <app-cookie-popup></app-cookie-popup>
</div>
