<div class="moderate">
  <div class="moderate_header">
    <div class="moderate_header_breadcrumbs">
      <app-navigation navigation="/feed/moderation/moderator-account/hotline" home="Products"
                      [address]="oneProduct.name || 'Product name'"
                      class="moderate_header_breadcrumbs_item"></app-navigation>
    </div>
    <div >
      <button (click)="onAdd()" [disabled]="review.length!==0" type="button"  class="moderate_header_button">
        <svg-icon class="moderate_header_button_icon"
                  src="../../../../assets/images/moderation/product-on-moderation/add_comment.svg"></svg-icon>
        {{ "MODERATOR_ACCOUNT_HOTLINE.ADD_COMMENT" | translate }}
      </button>
    </div>
  </div>
  <div class="moderate_content">
    <div class="moderate_content_header">
      <div class="moderate_content_header_toggle">
        <div class="moderate_content_header_toggle_title" (click)="switchCurrentTab('information')"
             [class.active]="currentTab === 'information'">
          {{ "MODERATOR_ACCOUNT_HOTLINE.INFORMATION" | translate }}
        </div>
        <div class="moderate_content_header_toggle_title" (click)="switchCurrentTab('status-history')"
             [class.active]="currentTab === 'status-history'">
          {{ "MODERATOR_ACCOUNT_HOTLINE.STATUS_HISTORY" | translate }}
        </div>
      </div>
    </div>
    <ng-container *ngIf="reviews$ | async as review">
      <div *ngIf="review && Object.keys(review).length" class="moderate_content_attention">
        <div class="moderate_content_attention_box">
          <div class="moderate_content_attention_box_item">
            <svg-icon src="../../../../assets/images/moderation/product-on-moderation/attention.svg"></svg-icon>
          </div>
          <div class="moderate_content_attention_box_item">
            <div *ngFor="let rev of review  | keyvalue  ">
              <span *ngIf="rev.key==='system'">
                <b> {{rev.value}} </b>
              </span>
            </div>
            <div *ngFor="let rev of review  | keyvalue  ">
                  <span *ngIf="rev.value && rev.key!=='system'">
                    <b> {{rev.key}}: </b> &nbsp; {{rev.value}}
                  </span>
            </div>
          </div>
          <div class="moderate_content_attention_box_item">
            <button (click)="showDialog()" type="button" class="btn">
              <svg-icon src="../../../../assets/images/moderation/product-on-moderation/pencil.svg"></svg-icon>
              {{ "MODERATOR_ACCOUNT_HOTLINE.EDIT_COMMENTS" | translate }}</button>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="currentTab === 'information'" class="moderate_content_container">
      <div class="moderate_content_container_left-block">
        <div class="moderate_content_container_left-block_top-block">
          <div
            class="moderate_content_container_left-block_top-block_title">{{ "MODERATOR_ACCOUNT_HOTLINE.GENERAL" | translate }}</div>
          <form>
            <div class="form-group">
              <label for="productName">{{ "MODERATOR_ACCOUNT_HOTLINE.PRODUCT_NAME" | translate }}</label> <input
              id="productName" class="form-control" [value]="oneProduct.name || '-' " placeholder="-" readonly>
            </div>
            <div class="form-group">
              <label for="ingredients">{{ "MODERATOR_ACCOUNT_HOTLINE.INGREDIENTS" | translate }}</label> <input
              id="ingredients" class="form-control" [value]="(ingredients || '-')" placeholder="-" readonly>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 weight">
                <label for="productWeight"> {{"MODERATOR_ACCOUNT_HOTLINE.WEIGHT" | translate }}</label> <input
                id="productWeight" class="form-control" [value]="oneProduct.weight" placeholder="-" readonly>
                <div class="option">g</div>
              </div>
              <div class="form-group col-md-6">
                <label for="cookingTime">{{ "MODERATOR_ACCOUNT_HOTLINE.COOKING_TIME"| translate }}</label> <input
                id="cookingTime" class="form-control" [value]="oneProduct.cooking_time " placeholder="-" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="foodGroup">{{ "MODERATOR_ACCOUNT_HOTLINE.FOOD_GROUP" | translate }}</label> <input
              id="foodGroup" class="form-control" [value]="foodGroups " placeholder="-" readonly>
            </div>
            <div class="form-group">
              <label for="dietaryTag">{{ "MODERATOR_ACCOUNT_HOTLINE.DIETARY_TAG" | translate }}</label> <input
              id="dietaryTag" class="form-control" [value]="dietary_tags" placeholder="-" readonly>
            </div>
          </form>
        </div>
        <div class="moderate_content_container_left-block_bottom-block">
          <div
            class="moderate_content_container_left-block_bottom-block_title">  {{ "MODERATOR_ACCOUNT_HOTLINE.PRICING" | translate }}</div>
          <div class="container">
            <div class="form-row">
              <div class="form-group col-md-6 price">
                <label for="price">{{ "MODERATOR_ACCOUNT_HOTLINE.PRICE"| translate }}</label>
                <input id="price" class="form-control" [value]="oneProduct.price " placeholder="-" readonly>
                <div class="option">$</div>
              </div>
              <div class="form-group col-md-6">
                <label for="discount">{{ "MODERATOR_ACCOUNT_HOTLINE.DISCOUNT"| translate }}</label>
                <input id="discount" class="form-control" [value]="oneProduct.product_discount_percent" placeholder="-"
                       readonly>
                <div class="option">%</div>
              </div>
            </div>
          </div>
          <div class="prod-moderate_content_main_leftbox_pricing-group">
            <div class="form-row price-group-final">
              <div class="form-group col-md-6 priceFinal red">
                <label for="discountFinal">{{ "MODERATOR_ACCOUNT_HOTLINE.DISCOUNT_UPPER"| translate }}</label> <input
                id="discountFinal" class="form-control discountFinal" [value]="'-'+ (discount |currency)    "
                placeholder="-" readonly>
              </div>
              <div class="form-group col-md-6 priceFinal green">
                <label for="priceFinal">{{ "MODERATOR_ACCOUNT_HOTLINE.PRICE_UPPER" | translate }}</label> <input
                id="priceFinal" class="form-control" [value]="(price_with_discount | currency) "
                placeholder="-" readonly></div>
            </div>
          </div>
        </div>
      </div>
      <div class="moderate_content_container_right-block">
        <div class="moderate_content_container_right-block_photo">
          <div
            class="moderate_content_container_right-block_photo_title"> {{ "MODERATOR_ACCOUNT_HOTLINE.PHOTO" | translate }}</div>
          <img class="moderate_content_container_right-block_photo_img" src="{{ oneProduct.image }}"
               (error)="onImageError($event)" alt="photo of product">
        </div>
        <div class="moderate_content_container_right-block_description">
          <div class="moderate_content_container_right-block_description_img">
            <img class="moderate_content_container_right-block_description_img_vendor" src=""
                 (error)="onImageError($event)" alt="photo of vendor">
            <div class="moderate_content_container_right-block_description_img_group">
              <div
                class="moderate_content_container_right-block_description_img_group_vendor"> {{oneProduct.vendor_name}}</div>
              <div
                class="moderate_content_container_right-block_description_img_group_quantity">{{oneProduct.count_products}}{{oneProduct.count_products| i18nPlural:{
                '=0': ' products',
                '=1': ' product',
                'other': ' products'
              } }}
              </div>
            </div>
          </div>
          <div class="moderate_content_container_right-block_description_updated">
            <div class="moderate_content_container_right-block_description_updated_last">
              {{ "MODERATOR_ACCOUNT_HOTLINE.LAST_UPDATED" | translate }}</div>
            <div
              class="moderate_content_container_right-block_description_updated_date">{{oneProduct.updated_at | date: 'short' }}</div>
          </div>
          <div class="moderate_content_container_right-block_description_assign">
            <div
              class="moderate_content_container_right-block_description_assign_last">{{"MODERATOR_ACCOUNT_HOTLINE.ASSIGNEE" | translate }}</div>
            <div class="moderate_content_container_right-block_description_assign_moderator"
                 [ngStyle]="{'background':oneProduct.moderatorColor}">
              {{ oneProduct.assignee | uppercase | slice :0:2 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentTab === 'information'" class="moderate_content_footer">
      <div class="moderate_content_footer_group">
        <button
          routerLink="/feed/moderation/moderator-account/hotline"
          class="moderate_content_footer_group_cancel-button">  {{ "MODERATOR_ACCOUNT_HOTLINE.CANCEL" | translate }}</button>
        <button (click)="moderate()"
                class="moderate_content_footer_group_moderate-button">  {{ "MODERATOR_ACCOUNT_HOTLINE.MODERATE" | translate }}</button>
      </div>
    </div>
  </div>
  <div *ngIf="currentTab === 'status-history'" class="history">
    <app-status-history></app-status-history>
  </div>
</div>
<p-dialog [(visible)]="display" [modal]="true" class="modal-edit" [closable]="true">
  <div class="modal-edit_header">
    <h2 class="modal-edit_header_title"> {{ "MODERATOR_ACCOUNT_HOTLINE.EDIT_COMMENTS" | translate }}</h2>
  </div>
  <div *ngIf="primeNGInitialized" class="modal-edit_body">
<!--    for next development-->
<!--    <div class="modal-edit_body_buttons">-->
<!--      <button pButton (click)="submit()" class="p-button-default p-button-outlined">-->
<!--        <svg-icon class="icon"-->
<!--                  src="../../../../assets/images/moderation/product-on-moderation/add_comment.svg"></svg-icon>-->
<!--        {{"MODERATOR_ACCOUNT_HOTLINE.ADD_COMMENT" | translate}}</button>-->
<!--      <button pButton (click)="removeAll()" class="p-button-danger p-button-outlined">-->
<!--        <svg-icon class="icon" src="../../../../assets/images/moderation/product-on-moderation/delete.svg"></svg-icon>-->
<!--        {{"MODERATOR_ACCOUNT_HOTLINE.REMOVE_ALL" | translate}}</button>-->
<!--    </div>-->
    <div *ngIf="review" [formGroup]="form" (ngSubmit)="submit()">
      <div class="modal-edit_textarea">
       <span class="p-float-label" style="display:none">
        <textarea #textarea (keyup)="editTextarea(Object.keys(review)[0])" formControlName="system" id=system
                  pInputTextarea cols="32" rows="3"></textarea>
        <div class="modal-edit_body_icons">
          <svg-icon (click)="disable()" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/pencilBlack.svg"></svg-icon>
          <svg-icon (click)="deleteItem(Object.keys(review)[0])" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/deleteBlack.svg"></svg-icon>
        </div>
        <label for="system">
          {{Object.keys(review)[0]}}
        </label>
      </span>
        <span class="p-float-label">
        <textarea #textarea (keyup)="editTextarea(Object.keys(review)[1])" formControlName="general" id=general
                  pInputTextarea cols="32" rows="3"></textarea>
        <div class="modal-edit_body_icons">
          <svg-icon (click)="disable()" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/pencilBlack.svg"></svg-icon>
          <svg-icon (click)="deleteItem(Object.keys(review)[1])" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/deleteBlack.svg"></svg-icon>
        </div>
        <label for="general">
          {{Object.keys(review)[1]}}
        </label>
      </span>
      </div>
      <div class="modal-edit_textarea">
        <span class="p-float-label">
          <textarea formControlName="photo" id=photo pInputTextarea cols="32" rows="3"></textarea>
             <div class="modal-edit_body_icons">
          <svg-icon (click)="disable()" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/pencilBlack.svg"></svg-icon>
          <svg-icon (click)="deleteItem(Object.keys(review)[2])" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/deleteBlack.svg"></svg-icon>
        </div>
        <label for="photo">
          {{Object.keys(review)[2]}}
        </label>
      </span>
      </div>
      <div class="modal-edit_textarea">
        <span class="p-float-label">
          <textarea formControlName="name" id=name pInputTextarea cols="32" rows="3"></textarea>
             <div class="modal-edit_body_icons">
          <svg-icon (click)="disable()" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/pencilBlack.svg"></svg-icon>
          <svg-icon (click)="deleteItem(Object.keys(review)[3])" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/deleteBlack.svg"></svg-icon>
        </div>
        <label for="name">
          {{Object.keys(review)[3]}}
        </label>
      </span>
      </div>
      <div class="modal-edit_textarea">
        <span class="p-float-label">
          <textarea formControlName="weight" id=weight pInputTextarea cols="32" rows="3"></textarea>
             <div class="modal-edit_body_icons">
          <svg-icon (click)="disable()" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/pencilBlack.svg"></svg-icon>
          <svg-icon (click)="deleteItem(Object.keys(review)[4])" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/deleteBlack.svg"></svg-icon>
        </div>
        <label for="weight">
          {{Object.keys(review)[4]}}
        </label>
      </span>
      </div>
      <div class="modal-edit_textarea">
        <span class="p-float-label">
          <textarea formControlName="price" id=priceId pInputTextarea cols="32" rows="3"></textarea>
             <div class="modal-edit_body_icons">
          <svg-icon (click)="disable()" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/pencilBlack.svg"></svg-icon>
          <svg-icon (click)="deleteItem(Object.keys(review)[5])" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/deleteBlack.svg"></svg-icon>
             </div>
        <label for="priceId">
          {{Object.keys(review)[5]}}
        </label>
        </span>
      </div>
      <div class="modal-edit_textarea">
        <span class="p-float-label">
          <textarea formControlName="manual" id=manual pInputTextarea cols="32" rows="3"></textarea>
             <div class="modal-edit_body_icons">
          <svg-icon (click)="disable()" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/pencilBlack.svg"></svg-icon>
          <svg-icon (click)="deleteItem(Object.keys(review)[6])" class="modal-edit_body_icon_textarea"
                    src="../../../../assets/images/moderation/product-on-moderation/deleteBlack.svg"></svg-icon>
        </div>
        <label for="manual">
          {{Object.keys(review)[6]}}
        </label>
      </span>
      </div>
      <footer>
        <button pButton class="p-button-default" (click)="display = false">Cancel</button>
        <button pButton (click)="submit()" class="p-button-primary">Save</button>
      </footer>
    </div>
  </div>
</p-dialog>
<p-dialog [(visible)]="displayRemove" [modal]="true" class="modal" [closable]="true">
  <p-header> {{"MODERATOR_ACCOUNT_HOTLINE.REMOVE_COMMENT" | translate}}</p-header>
  <div class="modal_body">
    <p>
      {{"MODERATOR_ACCOUNT_HOTLINE.THE_COMMENT_WILL" | translate}}
    </p>
    <div>
      <input
        [(ngModel)]="isChecked"
        (change)="isCheckedFn()"
        class="modal_body_checkbox"
        id="checkBox"
        type="checkbox"/>
      <label class="comment_select_group_checkbox_label" for="checkBox"
      >{{ "MODERATOR_ACCOUNT_HOTLINE.DONT_SHOW_IT_AGAIN" | translate }}
      </label>
    </div>
  </div>
  <p-footer>
    <button pButton class="p-button-default"
            (click)="cancelEdit()">{{"MODERATOR_ACCOUNT_HOTLINE.CANCEL" | translate}}</button>
    <button pButton (click)="remove()"
            class="p-button-primary">{{"MODERATOR_ACCOUNT_HOTLINE.REMOVE" | translate}}</button>
  </p-footer>
</p-dialog>
<p-dialog *ngIf="!oneProduct.has_reviews" [(visible)]="displayPublish" [modal]="true" class="modal" [closable]="true">
  <p-header> {{"MODERATOR_ACCOUNT_HOTLINE.PUBLISH_THE_PRODUCT" | translate}}</p-header>
  <div class="modal_body">
    <p>
      {{"MODERATOR_ACCOUNT_HOTLINE.AFTER_YOU_CLICK" | translate}}
    </p>
    <div>
      <input
        [(ngModel)]="isChecked"
        (change)="isCheckedFn()"
        class="modal_body_checkbox"
        id="checkBoxPublish"
        type="checkbox"/>
      <label class="comment_select_group_checkbox_label" for="checkBoxPublish"
      >{{ "MODERATOR_ACCOUNT_HOTLINE.DONT_SHOW_IT_AGAIN" | translate }}
      </label>
    </div>
  </div>
  <p-footer>
    <button pButton class="p-button-default"
            (click)="displayPublish = false">{{"MODERATOR_ACCOUNT_HOTLINE.CANCEL" | translate}}</button>
    <button pButton (click)="publish()"
            class="p-button-primary">{{"MODERATOR_ACCOUNT_HOTLINE.PUBLISH" | translate}}</button>
  </p-footer>
</p-dialog>
<p-dialog *ngIf="oneProduct.has_reviews" [(visible)]="displaySend" [modal]="true" class="modal" [closable]="true">
  <p-header> {{"MODERATOR_ACCOUNT_HOTLINE.SEND_THE_PRODUCT"| translate}}</p-header>
  <div class="modal_body">
    <ng-container *ngIf="reviews$ | async as review">
      <div *ngIf="review && Object.keys(review).length">
        <div class="moderate_content_attention_box_item">
          <div *ngFor="let rev of review  | keyvalue  ">
                  <span *ngIf="rev.value">
                    <b> {{rev.key}}: </b> &nbsp; {{rev.value}}
                  </span>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="modal_checkbox">
      <input
        [(ngModel)]="isChecked"
        class="modal_body_checkbox"
        id="checkBoxSend"
        type="checkbox"/>
      <label class="comment_select_group_checkbox_label" for="checkBoxSend"
      >{{ "MODERATOR_ACCOUNT_HOTLINE.DONT_SHOW_IT_AGAIN" | translate }}
      </label>
    </div>
  </div>
  <p-footer class="modal_footer">
    <button pButton class="p-button-default"
            (click)="displaySend = false">{{"MODERATOR_ACCOUNT_HOTLINE.CANCEL"| translate}}</button>
    <button pButton (click)="sendBAck()"
            class="p-button-primary">{{"MODERATOR_ACCOUNT_HOTLINE.SEND_BACK" | translate}}</button>
  </p-footer>
</p-dialog>

