@import "../../../../scss/_mixins";
@import "../../../../scss/constants";

@mixin input-styles {
  @include text--h4(400);
  border: none;
  border-radius: 0.5em;
  background: $grey;
  padding-top: 1em;
  padding-left: 1em;
}

@mixin label-styles {
  @include text--label();
  position: absolute;
  padding-left: 1.4em;
  color: $dark-grey;
}

.moderate {
  margin: 0 4.625rem 0 3.375rem;
  background: $grey;
  max-width: 100%;

  ::ng-deep .navigation-container_breadcrumb__item {
    background: $grey !important;
  }

  &_header {
    @include flex(row, center, space-between);
    margin-bottom: 24px;
    width: 100%;

    &_button {
      @include flex(row, center, space-between);
      @include size(162px, 40px);
      @include text--h4($medium);
      cursor: pointer;
      box-sizing: border-box;
      border: solid 1px $border-color;
      border-radius: 4px;
      background-color: $white;
      padding: 0 16px 0 8px;
      color: $color-text-default;
      text-align: center;

      &_icon {
        @include size(20px, 20px);
      }

      span {
        text-align: center;
      }
    }
  }

  &_content {
    @include flex(column, stretch, flex-start);
    border: solid 1px $easy-grey;
    border-radius: 0.25rem;
    background: $white;
    max-width: 100%;

    &_attention {
      @include flex(column, stretch, flex-start);
      margin: 1.5rem;
      border: 1px solid $color-text-red;
      background: $red200;

      &_box {
        @include flex(row, flex-start, space-around);
        align-content: flex-start;
        margin: 1rem;

        &_item {
          @include flex(column, stretch, center);
          margin: 0 0.5rem;
        }

        &_item:nth-child(2) {
          flex: 3 1 auto;
        }

        &_item:nth-child(3) {
          align-self: center;
        }

        .btn {
          @include flex(row, center, space-around);
          @include size(8.6875rem, 2rem);
          @include text--h5($medium);
          border: none;
          border-radius: 0.25rem;
          background: $white;
          color: $red;
        }
      }
    }

    &_header {
      &_toggle {
        @include flex(row, center, flex-start);
        border-bottom: 1px solid $grey-button-background;

        &_title {
          @include text--h5($medium);
          border-bottom: 2px solid transparent;
          padding: 13px 41.5px 15px;
          color: $dark-grey;

          &.active {
            border-bottom: 2px solid $orange;
            color: $orange;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &_container {
      display: flex;
      flex-direction: row;
      max-width: 100%;

      &_left-block {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-top: 2rem;
        margin-left: 2.75rem;
        min-width: 18.75rem;
        max-width: 31.25rem;

        &_bottom-block {
          &_title {
            margin-bottom: 1rem;
          }
        }

        &_top-block, &_bottom-block {
          flex-grow: 1;

          &_title {
            @include text--h2();
            margin-left: 1rem;
          }

          .form-group {
            display: flex;
            flex-direction: column;
            margin: 1rem;

            input {
              @include input-styles;
              overflow-wrap: break-word;
            }

            input:focus {
              outline: none;
            }

            input:hover {
              background: $orange;
            }

            label {
              @include label-styles;
            }
          }

          .form-row {
            display: flex;
            flex-wrap: nowrap;
            margin-top: -1rem;
            margin-bottom: -1rem;
          }

          .option {
            position: relative;
            top: -44%;
            left: 85%;
          }

          .form-control {
            display: block;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            padding: .375rem .75rem;
            width: 100%;
            font-size: 1rem;
            line-height: 1.5;
          }

          .col-md-6 {
            margin-left: 1rem;
          }

          .weight, .price {
            margin-right: 0rem;
          }

          .priceFinal {
            margin-right: -1rem;

            input {
              @include text--h2;
              background: none;
            }

            .discountFinal {
              color: $dark-grey;
            }

            label {
              @include text--overline--h6();
            }
          }

          .red {
            max-width: 7rem;

            input:hover {
              background: lightsalmon;
            }
          }

          .green {
            max-width: 7rem;

            input:hover {
              background: lightgreen;
            }
          }

          .price-group-final {
            margin-left: -1rem;
            padding-left: 0;
          }
        }
      }

      &_right-block {
        @include flex(column, flex-start, flex-start);
        margin-top: 2rem;
        margin-right: 6.25rem;
        margin-left: 6.25rem;
        width: 300px;

        &_photo {
          @include size(300px, 166px);
          margin-bottom: 5rem;

          &_title {
            @include text--h2();
            margin-bottom: 1rem;
            margin-left: 1rem;
          }

          &_img {
            @include size(300px, 166px)
          }
        }

        &_description {
          border-radius: 4px;
          background: $grey;
          padding: 1.5rem 2.5rem 1.5rem 1.5rem;
          max-width: 308px;

          &_updated {
            &_last {
              @include text--h6();
              color: $dark-grey;
            }

            &_date {
              @include text--h4($regular);
              color: $color-text-default;
            }
          }

          &_img {
            @include flex(row, flex-start, flex-start);
            margin-bottom: 1.5rem;
            width: 14.75rem;

            &_group {
              margin-left: 1rem;

              &_quantity {
                @include text--h5($regular);
                color: $dark-grey;
              }
            }

            &_vendor {
              @include size(64px, 64px);
              @include text--h4($regular);
              border-radius: 50%;
              object-fit: cover;
            }
          }

          &_assign {
            margin-top: 1rem;

            &_last {
              @include text--h6();
              color: $dark-grey;
            }

            &_moderator {
              @include flex(row, center, center);
              @include size(1.75rem, 1.75rem);
              @include text--h5($medium) ;
              border-radius: 50%;
              color: $white;
            }
          }
        }
      }
    }

    &_footer {
      @include flex(row, center, flex-end);
      margin-top: 1rem;
      border-top: $grey solid 1px;
      height: 4.5rem;

      &_group {
        margin-right: 1rem;

        &_cancel-button {
          @include text--h5($medium);
          cursor: pointer;
          margin-right: 0.5rem;
          border: none;
          background: none;
          color: $color-text-default;
        }

        &_moderate-button {
          @include text--h5($medium);
          cursor: pointer;
          margin-right: 8px;
          border: none;
          border-radius: 0.25rem;
          background: $orange;
          height: 2.25rem;
          color: $white;
        }
      }
    }
  }

  .history {
    width: 100%;

    ::ng-deep {
      .status_history_container {
        margin-top: -2px;
        margin-right: 0;
        margin-left: 0;
        border: $grey-button-background solid 1px;
        border-radius: 0.25rem;
        background: $white;
        height: 7rem;
      }

      .status_history_container__item {
        margin-top: 0;
        margin-left: 1rem;
        background: $white;
      }

      .status_history_container__item__changed {
        margin-top: 0;
        background: $white;
        padding-top: 1rem;
        padding-left: 1rem;
      }
    }
  }
}

::ng-deep {
  .p-dialog {
    font-family: $font-family;
  }

  .p-dialog-content {
    padding: 0 !important;
  }

  .p-button.p-button-primary, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-primary > .p-button {
    background: $orange !important;
  }

  .p-button.p-button-default, .p-buttonset.p-button-danger > .p-button, .p-splitbutton.p-button-default > .p-button {
    border: 0 none;
    background: none !important;
    color: #1A1A1A !important;
  }

  .p-inputtextarea {
    padding-right: 3rem !important;
  }
}

.icon {
  @include size(1rem, 1rem);
  margin-right: 0.5rem;
}

.modal-edit {
  ::ng-deep {
    .p-dialog {
      @include size(400px, 100% !important);
      position: absolute !important;
      right: 0;
      max-height: none !important;
      font-family: $font-family;
    }

    .p-dialog .p-dialog-header-icons {
      display: none !important;
    }

    .p-dialog .p-dialog-header {
      display: none !important;
    }
  }

  &_header {
    margin: 0;

    &_title {
      @include text--h2();
      border-bottom: 0.5px solid $easy-grey;
      padding: 0 1.5rem 1.5rem 1.5rem;
    }
  }

  &_textarea {
    textarea {
      overflow-y: hidden;
    }
  }

  &_body {
    padding: 1.5rem;

    &_buttons {
      padding-bottom: 1.5rem;

      button {
        margin-right: 1rem;
      }
    }

    &_icons {
      svg-icon {
        position: relative;
        top: -74px;
        left: 263px;
        margin-right: 0.75rem;
        cursor: pointer;
      }
    }
  }
}

.modal {
  position: absolute;
  top: 0;

  ::ng-deep {
    .p-dialog {
      @include size(550px, auto !important);
    }
  }

  &_body {
    margin: 0 1rem;
    border-bottom: 1px solid $grey;
    padding: 1rem;

    &_checkbox {
      @include size(1rem, 1rem);
      accent-color: #E4771D;
    }
  }

  &_checkbox {
    margin-top: 1rem;
  }
}
