<app-popup
  title="Didn’t get the code?">
  <div class="popup__text">Please call <span>+123 456 7891</span> or check your phone number</div>
  <button mat-raised-button color="accent">
    <div class="buttons">
      <img class="buttons__arrow" src="assets/images/arrow_left.svg">
      <span (click)="goBack()"> {{"SIGN_UP.BACK" | translate}}</span>
    </div>
  </button>
</app-popup>
