@import '../../../scss/constants';
@import '../../../scss/mixins';

button {
  @include text--h4 ($regular);
  background-color: $light-grey;
  color: $color-text-default;
  margin-top: 32px;
  width: 448px;
  border: none;
  border-radius: 2px;
  align-self: stretch;
  flex-grow: 0;
  text-align: center;
  padding: 12px 0;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background: #D3D3D3;
  }
}

.buttons {
  &__arrow {
    margin-right: 10px;
  }
}

.popup__text {
  color:  $color-text-grey;

  span {
    color: #000;
    font-weight: $bold;
  }
}

.mat-raised-button {
  box-shadow: none;
}
