@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.wrapper {
  @include flex(column, center, flex-start);
  gap: 16px;

  .header {
    @include flex(row, flex-start, space-between);
    width: 100%;

    &__text {
      @include flex(column, center, flex-start);
      gap: 4px;

      &_title {
        @include text--h2;
        color: $color-text-default;
        margin: 0;
        width: 100%;
      }

      &_subtitle {
        @include text--h4(400);
        margin: 0;
      }
    }

    &__action_close {
      cursor: pointer;
    }
  }
}

.content {
  width: 100%;
}
