  <div class="wrapper">
      <header class="header">
        <div class="header__text">
          <h2 class="header__text_title">{{ title }}</h2>
          <ng-container *ngIf="subtitle">
            <div *ngIf="!isSubtitleString(subtitle); else stringSubtitleRef">
              <ng-container *ngTemplateOutlet="subtitle"></ng-container>
            </div>
            <ng-template #stringSubtitleRef>
              <h4 *ngIf="isSubtitleString(subtitle)" class="header__text_subtitle">{{ subtitle }}</h4>
            </ng-template>
          </ng-container>
        </div>
        <div class="header__action">
          <img class="header__action_close" src="../../../../assets/images/cross_close.svg" mat-dialog-close>
        </div>
      </header>
      <content class="content">
        <ng-content></ng-content>
      </content>
  </div>
