<div class="error-page-container">
    <div class="error-page-container_navigation">
        <app-navigation></app-navigation>
    </div>
    <div class="error-page-container_main">
        <div class="error-page-container_main__content">
            <div class="error-page-container_main__content_image"></div>
            <div class="error-page-container_main__content_message">
                {{'ERROR_PAGE.SOMETHING_WENT_WRONG' | translate}}       
                <br>{{'ERROR_PAGE.TRY_AGAIN_LATER' | translate}} </div>
        </div>
    </div>   
    <app-cookie-popup></app-cookie-popup>  
</div>