@import '../../../../scss/mixins';

.error-page-container {

    &_navigation {
        margin-top: 24px;
        margin-left: 10%;
    }

    &_main {
        @include flex (column, center, center);

        &__content {
            @include flex (column, center, center);
            height: 70vh;

            &_image {
                width: 351px;
                height: 265px;
                background-image: url(../../../../assets/images/error.svg);
                background-size: cover;
            }

            &_message {
                @include text--h5 ($normal);
                color: $color-text-grey;
                text-align: center;
                margin-top: 20px;
            }
        }
    }

}
