<app-popup class="report-date" title="{{ 'REPORT_DATE.TITLE' | translate }}">
  <div class="content-wrapper">
    <p class="subtitle">{{ 'REPORT_DATE.SUBTITLE' | translate }}</p>
    <p>{{ 'REPORT_DATE.MESSAGE' | translate }}</p>
    <div class="date-picker">
      <fieldset>
        <legend>Date</legend>
        <div>
          <input matInput
            [matDatepicker]="dp"
            [formControl]="formDate"
            [max]="date">
          <mat-datepicker #dp></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="dp">
            <mat-icon matDatepickerToggleIcon><img
                src="../../../../assets/images/vendor-account-page/trailing-icon.svg"></mat-icon>
          </mat-datepicker-toggle>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="buttons">
    <div class="buttons_back" (click)="openPreviousModal()">
      <span>{{ "REPORT_DATE.BACK" | translate }}</span>
    </div>
    <div class="buttons_create">
      <span>{{ "REPORT_DATE.CREATE" | translate }}</span>
    </div>
  </div>
</app-popup>
