@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep {

  .report-date header.header {
    padding: 24px 24px 0px 24px;
  }

  .mat-dialog-container {
    padding: 0;
  }

}

.content-wrapper {
  padding: 0px 24px;
  height: 130px;

  p {
    @include text--h5($regular);
    color: $dark-grey;
    margin: 0px 0px 16px 0px;
  }

  .subtitle {
    @include text--h5($medium);
    color: $color-text-default;
    margin: 0px 0px 8px 0px;
  }

  .date-picker {
    @include flex(row, flex-end, flex-start);

    fieldset {
      @include size(100%, 46px);
      border: solid 1px $border-color;
      background-color: $white;
      color: $color-text-default;
      border-radius: 4px;
      padding: 0px 0px 0px 10px;

      legend {
        @include text--h6;
        color: $dark-grey;
      }

      div {
        @include flex(row, center, flex-start);
        height: 22px;
      }
    }
  }
}

.report-date .buttons {
  @include flex(center, center, flex-end);
  @include text--h4 ($medium);
  border-top: 1px solid $border-color;
  padding-top: 16px;

  &_back {
    @include size(100px, 40px);
    background-color: $white;
    color: $color-text-default;
    text-align: center;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }

  &_create {
    @include size(102px, 40px);
    background-color: $orange;
    color: $white;
    border-radius: 4px;
    text-align: center;
    margin-right: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    display: block;
    margin-top: 8px;
  }
}
