<div *ngIf="!isInfoInHeader" class="header">
  <div></div>
  <div class="header__left">
    <div class="header__left__logo">
      <app-title></app-title>
    </div>
  </div>

  <div class="header__right">
    <div style="flex: 1">
      <div
        *ngIf="(visibility$ | async) !== 'hidden'"
        [@inOutAnimation]
        class="header__right__map"
        (click)="openMapDialog()"
      >
        <button mat-raised-button color="accent">
          <div class="menu-button">
            <img src="../../../../assets/images/map-icon.svg" alt="vector" />
            <div
              class="menu-button__text"
              *ngIf="!locationAddress; else isAddress"
            >
              {{ "HEADER.CHOOSE_LOCATION" | translate }}
            </div>
            <ng-template #isAddress>
              <div class="menu-button__text">
                {{ locationAddress }}
              </div>
            </ng-template>
          </div>
        </button>
      </div>
      <div class="header__right__search-bar_container" [formGroup]="searchForm">
        <app-search-bar
          *ngIf="(visibility$ | async) === 'hidden'"
          [@inOutAnimation]
          class="header__right__searchbar"
          [marginTop]="0"
          controlName="search"
        >
        </app-search-bar>
      </div>
    </div>

    <div
      class="header__right__cart"
      [ngClass]="{ 'full-cart': totalPrice$ | async }"
    >
      <button mat-button (click)="openDialog()">
        <div class="menu-button">
          <svg-icon
            class="header-icon"
            [svgClass]="'cart'"
            src="../../../../assets/images/cart-icon.svg"
            alt="vector"
          ></svg-icon>
          <div
            class="menu-button__text"
            *ngIf="totalPrice$ | async as totalPrice; else emptyCart"
          >
            {{ "CART.CURRENCY" | translate }}{{ totalPrice }}
          </div>
          <ng-template #emptyCart>
            <div class="menu-button__text">
              {{ "CART.CURRENCY" | translate }}00.00
            </div>
          </ng-template>
        </div>
      </button>
    </div>

    <div *ngIf="!isAuth" class="header__right__login">
      <button mat-button>
        <div class="menu-button" (click)="sigInAsCustomer()">
          <img
            class="header-icon"
            src="../../../../assets/images/login-icon.svg"
            alt="vector"
          />
          <span class="menu-button__text">{{
            "HEADER.LOG_IN" | translate
          }}</span>
        </div>
      </button>
    </div>
    <button
      *ngIf="isAuth"
      class="header__right__user"
      [ngClass]="{ clicked: isCustomerButtonClicked }"
      (click)="isCustomerButtonClicked = true"
    >
      <p *ngIf="!!customerName; else customerIconPlaceholder">
        {{ customerNameAbbreviation }}
      </p>
      <ng-template #customerIconPlaceholder>
        <svg-icon
          src="../../../../assets/images/login-icon-grey.svg"
          alt="vector"
        ></svg-icon>
      </ng-template>
    </button>
    <ng-container *ngIf="isCustomerButtonClicked; then backdropTemplate"></ng-container>
  </div>
</div>

<ng-template #backdropTemplate>
  <div class="backdrop" (click)="isCustomerButtonClicked = false"></div>
  <div class="user-logout">

    <div class="user-logout_top">
      <div
        *ngIf="!!customerName; else customerIconPlaceholder"
        class="user-logout_top_icon"
      >
        {{ customerNameAbbreviation }}
      </div>
      <div class="user-logout_top__data">
        <div
          *ngIf="!!customerName; else customerNamePlaceholder"
          class="user-logout_top__name"
        >
          {{ customerName!.split(" ").slice(0, 2).join(" ") }}
        </div>
        <div class="user-logout_top__email">{{ customerEmail }}</div>
      </div>
    </div>

    <div class="user-logout_bottom">
      <div class="user-logout_bottom__profile" [routerLink]="['/feed/customer-account/profile']">
        <div>
          <img
            class="header-icon"
            src="../../../../assets/images/my-profile.svg"
            alt="vector"
          />
        </div>
        <span>{{ "HEADER.MY_PROFILE" | translate }}</span>
      </div>

      <div class="user-logout_bottom__history">
        <div>
          <img
            class="header-icon"
            src="../../../../assets/images/show-history.svg"
            alt="vector"
          />
        </div>
        <span>{{ "HEADER.ORDER_HISTORY" | translate }}</span>
      </div>

      <div class="user-logout_bottom__logout" (click)="logout()">
        <div>
          <img
            class="header-icon"
            src="../../../../assets/images/logout.svg"
            alt="vector"
          />
        </div>
        <span>{{ "HEADER.LOG_OUT" | translate }}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #customerNamePlaceholder>
  <div class="user-logout_top__name">
    user{{ customerPhone!.substr(-4, 4) }}
  </div>
</ng-template>

<ng-template #customerIconPlaceholder>
  <div class="user-logout_top_icon">
    <svg-icon
      src="../../../../assets/images/login-icon-grey.svg"
      alt="vector"
    ></svg-icon>
  </div>
</ng-template>

<div *ngIf="isInfoInHeader" class="order-page_header">
  <app-title></app-title>
</div>
