@import '../../../../scss/constants';
@import '../../../../scss/mixins';


  .header {
    @include flex(row, center, space-between);
    max-width: 100%;
    height: 72px;

    &__left {
      @include flex(row, center, space-between);
      flex:1;

      &__logo {
        cursor: pointer;
      }
    }

    &__right {
      @include flex(row, center, space-between);
      width: calc(100vw - 260px);
      flex:1;

      &__map {
        .mat-raised-button {
          box-shadow: none;
        }
      }

      &__cart {
        @include flex(row, center, normal);

        &.full-cart {
          @include text--h4 ($regular);
          background-color: $orange;
          color: $white;
          border-radius: 2px;

          .header-icon {
            .cart {
              cursor: pointer;
                    path {
                    fill: $white;
                    }
            }
        }
        }

      }

      &__user {
        @include  text--h4 ($regular);
        @include flex(row, center, center);
        @include size(48px, 48px);
        margin-left: 32.5px;
        background-color: $grey;
        border: 1px solid $light-grey;
        border-radius: 100px;
        position: relative;

        &.clicked {
          background-color: $grey;
          border: 1px solid $grey-button-background;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .user-logout {
        @include size(252px, 209px);
        position: absolute;
        background: $white;
        border-radius: 4px;
        padding: 8px 0 8px 0;
        top: 70px;
        right: 50px;
        box-shadow: 0 5px 28px rgba(0, 0, 0, 0.07);
        z-index: 10;

        &_bottom {
          padding-top: 1px;

          &__logout, &__history, &__profile {
            @include flex(row, center, flex-start);
            @include  text--h4 ($regular);
            padding: 7px 0 7px 12px;
            z-index: 10;

            &:hover {
              cursor: pointer;
              background-color: $light-grey;
              transition: background-color .3s;
              border-radius: 4px;
            }
          }
        }

        &_top {
          @include flex(row, center, flex-start);
          padding: 12px;
          border-bottom: 1px solid $grey-button-background;

          &_icon {
            @include  text--h4 ($regular);
            @include flex(row, center, center);
            @include size(48px, 48px);
            background-color: $grey;
            border: 1px solid $light-grey;
            border-radius: 50px;
            margin-right: 12px;
          }

          &__data {
            @include flex(column, flex-start, center);

            .user-logout_top__name {
              @include  text--h4 ($regular);
            }

            .user-logout_top__email {
              @include text--h6;
              color: $color-text-grey;
            }
          }
        }
      }
    }
  }

  .header__left__selectors {
    flex: 1;
  }

  .menu-button {
    @include flex (row, center, space-between);
    height: 48px;
    max-width: 240px;

    :hover {
      cursor: pointer;
    }

    .menu-button__text {
      @include text--h4 ($medium);
      text-overflow: ellipsis;
      overflow:hidden;
    }

    :first-child {
      margin-right: 10px;
    }
  }

.header-icon {
  padding-right: 10px;
  padding-top: 5px;
}

.search-bar {
  padding-top: $search-padding;
  margin-right: 20px;
}

.order-page_header {
  @include flex(row,center,center);
  height: 72px;
}

.backdrop {
  @include size(100vw, 100vh);
  position: fixed;
  left: 0;
  top: 0;
}

@media screen and (max-width: 1100px) {
  .header {
    &__right {
      &__search-bar_container {
        width: calc(100vw - 530px);
      }
    }
  }
}
