@import '../../../scss/constants';
@import '../../../scss/mixins';

mat-form-field {
  width: 100%;
}

button {
  @include text--h4($regular);
  background-color: $orange;
  color: $white;
  width: 448px;
  border: none;
  border-radius: 2px;
  align-self: stretch;
  flex-grow: 0;
  text-align: center;
  padding: 12px 0;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background: #d3d3d3;
  }
}

.popup__text {
  color: #707070;
  font-weight: 300;
  margin-bottom: 32px;
  margin-top: 0;
}

.popup__link {
  color: #000;
  font-weight: $regular;
}

.confirm-form {
  color: $color-text-default;
}
.app-popup {
  ::ng-deep {
    .mat-form-field-invalid .mat-form-field-ripple,
    .mat-fo-invalid-invalid .mat-form-field-ripple,
    .mat-form-field-invalid .mat-form-field-ripple.mat-accent {
      background-color: $red;
    }
    .mat-form-field-ripple{
      background-color: $color-text-default;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0 12px 0 16px !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
      padding: 0;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0 12px 0 16px !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
      padding: 0;
    }
  }
}
