<app-popup class="app-popup" title="{{ 'POPUPS.ENTER_MOBILE' | translate }}">
  <mat-form-field [formGroup]="group" appearance="fill" hideRequiredMarker>
    <mat-label class="confirm-form">{{
      "SIGN_UP.PHONE_NUMBER_LABEL" | translate
    }}</mat-label>
    <input
      formControlName="phone"
      matInput
      placeholder="Phone number"
      type="text"
      [mask]="'000 00 000 00 99'"
      prefix="+"
      autocomplete="off"
    />
    <mat-error *ngIf="phone?.invalid" class="validation">
      {{ "SIGN_UP.INVALID_FORMAT" | translate }}
    </mat-error>
  </mat-form-field>
  <p class="popup__text">
    {{ "SIGN_UP.AGREEMENT" | translate}}
    <a
      class="popup__link"
      [routerLink]="['/feed/termsAndCondactions']"
      target="_blank"
      >{{ "FOOTER.TERMS_OF_SERVICE" | translate }}
    </a>
    {{ "FOOTER.AND" | translate }}
    <a
      class="popup__link"
      [routerLink]="['/feed/privacyPolicy']"
      target="_blank"
      >{{ "FOOTER.PRIVACY_POLICY" | translate }}</a
    >
  </p>
  <button
    class="confirm-phone__button"
    [disabled]="group.invalid"
    (click)="sendCode()"
  >
    {{ "CART.SEND_CODE" | translate }}
  </button>
</app-popup>
