@import '../../../../scss/constants';
.scroll-to-top {
    position: fixed;
    right:0px;
    height: 100%;
    width: 50px;
    opacity: 0;
    transition: all .2s ease-in-out;
    background-color: antiquewhite;

    &__button {
        height: 100%;
        background-color: $light-grey;
    }
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }