<div class="scroll-to-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <button
    class="scroll-to-top__button"
    mat-button
    type="button"
    (click)="scrollToTop()"
  >
    <img src="../../../../assets/images/arrow-top.svg" alt="arrow" />
  </button>
  <p>{{ scrollingNumber }}</p>
</div>
