<div class="order-details-page-content">
    <div class="order-details-page-content_left">
        <div class="go-back-button" (click)="goBack()">
            <img class="go-back-button_image" src="../../../assets/images/arrow_left.svg" />
            <div class="go-back-button_text">{{'CART.BACK_TO_MENU' | translate}}</div>
        </div>
        <div class="order-details-page-content_common-information">
            <div class="order-details-page-content_common-information__header">
                <div class="header_image">
                    <img src="https://source.unsplash.com/collection/8613861/350x{{200+ currentVendorId}}"/>
                </div>
                <div class="header_text">
                    <div class="header_text__title">{{'CART.YOUR_ORDER_FROM' | translate}}</div>
                    <div class="header_text__vendor-name">{{currentVendorName}}</div>
                </div>
            </div>
            <div class="order-details-page-content_common-information__info">
                <div class="vendor-info">
                    <div class="vendor-info_title">{{'CART.COMMON_INFORMATION' | translate}}</div>
                    <div class="vendor-info_content">
                        <img class="vendor-info_content__icon" src="../../../../assets/images/map-icon.svg" alt="vector" />
                        <div class="user-info_content__data">
                            <div class="vendor-info_content__data_title">{{'CART.VENDOR_ADDRESS' | translate}}</div>
                            <div class="vendor-info_content__data_address">{{currentVendorAddress}}</div>
                        </div>
                    </div>
                </div>
                <div class="user-info">
                    <div class="user-info_title">{{'CART.CONTACT_DETAILS' | translate}}</div>
                    <div class="user-info_content">
                        <div class="user-info_content__left">
                            <img class="user-info_content__left_icon" src="../../../../assets/images/map-icon.svg" alt="vector" />
                            <div class="user-info_content__left_data">
                                <div class="user-info_content__left_data__title">{{'CART.YOUR_LOCATION' | translate}}</div>
                                <div class="user-info_content__left_data__address">{{locationAddress}}</div>
                            </div>
                        </div>
                        <button class="user-info_content__button" (click)="openMap()">{{'CART.CHANGE_LOCATION' | translate}}</button>
                    </div>
                </div>
                <form class="input-group" [formGroup]="customerDataGroup">
                    <div class="input-group_name">
                        <mat-form-field  appearance="fill" hideRequiredMarker>
                            <mat-label>Full name</mat-label>
                            <input matInput formControlName="customerName" onInput="this.value = this.value| removeAllSymbols">
                            <mat-error *ngIf="customerDataGroup.get('customerName')?.hasError('required')" class="validation">
                                Please enter your full name
                            </mat-error>
                        </mat-form-field>
                    </div>
                   <div class="input-group_contacts">
                        <div class="input-group_phone">
                            <mat-form-field  appearance="fill" hideRequiredMarker>
                                <mat-label>Phone number</mat-label>
                                <input readonly matInput type="tel" mask="+000 00 000 0000" formControlName="customerPhone">
                                <mat-error *ngIf="customerDataGroup.get('customerPhone')?.hasError('required')" class="validation">
                                    Please enter your phone number
                                </mat-error>
                                <mat-error *ngIf="customerDataGroup.get('customerPhone')?.hasError('pattern')" class="validation">
                                    Invalid format
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="input-group_email">
                            <mat-form-field appearance="fill" hideRequiredMarker>
                                <mat-label>Email (optional)</mat-label>
                                <input matInput type="email" formControlName="customerEmail">
                                <mat-error *ngIf="customerDataGroup.get('customerEmail')?.hasError('email')" class="validation">
                                    Invalid format
                                </mat-error>
                            </mat-form-field>
                        </div>
                   </div>
                   <div class="input-group_comment">
                        <mat-form-field  appearance="fill">
                            <mat-label>Comment (optional)</mat-label>
                            <textarea matInput formControlName="customerComments" maxlength="256" onInput="this.value = this.value| removeAllSymbols"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="input-group_comment__hint">{{customerDataGroup.get('customerComments')?.value?.length}} / 256</div>
                </form>

            </div>
        </div>

        <div class="order-details-page-content_order">
            <div class="order-header">
                <div class="order-header_title">
                    <div class="order-header_title__name">{{"CART.YOUR_ORDER" | translate}}</div>
                    <div class="order-header_title__quantity">({{(productCartData$ | async).length}})</div>
                </div>
            </div>
            <div class="order-items">
                <div class="order-items_item" *ngFor="let item of productCartData$ | async">
                    <app-cart-item [cartItem]="item"></app-cart-item>
                </div>
            </div>
        </div>
    </div>


    <div class="order-details-page-content_payment">
        <div class="order-details-page-content_payment__header">{{"CART.PAYMENT" | translate}}</div>
        <div class="order-details-page-content_payment__content">
            <div class="order-details-page-content_payment__content_payment-method">
                <mat-form-field appearance="fill" >
                    <mat-label disabled>Payment method</mat-label>
                    <mat-select [value]="selected" [disabled]="disableSelect.value">
                      <mat-option value="By cash">By cash</mat-option>
                    </mat-select>
                  </mat-form-field>

                <!-- commented for next release -->

                <!-- <app-dropdown-radio
                    label="Payment method"
                    [control]="paymentMethodControl"
                    [options]="paymentMethod"
                ></app-dropdown-radio>
                <div *ngIf="paymentMethodControl.touched && !paymentMethodControl.dirty " class="validation">
                    Select a payment method
                </div >
                <div *ngIf="paymentMethodControl.value?.title === 'By card online'"  class="remember-the-card">
                    <mat-checkbox class="remember-the-card_checkbox">Remember the card</mat-checkbox>
                </div> -->
            </div >
            <div class="order-details-page-content_payment__content_total">
                <!-- <div class="total-line">
                    <div class="total-line_title">{{"CART.TOTAL_SAVE" | translate}}</div>
                    <div class="total-line_amount">{{"CART.MINUS" | translate}}{{"CART.CURRENCY" | translate}}{{discount}}</div>
                </div> -->
                <div class="total-line">
                    <div class="total-line_title">{{"CART.TOTAL_PRICE" | translate}}</div>
                    <div class="total-price_amount">{{"CART.CURRENCY" | translate}}{{totalPrice$ | async}}</div>
                </div>
            </div>
        <button class="order-details-page-content_payment__content_button" (click)="sendOrder()">{{"CART.ORDER" | translate}}</button>
        </div>

    </div>
    <app-cookie-popup></app-cookie-popup>
</div>

