@import '../../../scss/mixins';

.order-details-page-content{
    @include flex(row, flex-start, center);
    margin-bottom: 128px;

    &_left {
        margin-right: 20px;

        .go-back-button{
            @include flex(row, center, flex-start);
            margin: 24px 0 44px;
            &:hover {
                cursor: pointer;
            }

            &_image {
                margin-right: 11px;
            }

            &_text {
                @include text--h5($medium);
            }
        }
    }

    &_common-information {
        width: 773px;
        box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.07);
        border-radius: 4px;
        background: $white;
        padding: 16px 0;
        margin-bottom: 32px;

        &__header {
            @include flex(row, center, flex-start);
            border-bottom: 0.5px solid $border-color;
            padding-bottom: 16px;

            .header_image {
                width: 44px;
                height: 44px;
                margin-left: 16px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .header_text {
                @include flex(column, flex-start, space-between);
                margin-left: 16px;

                &__title {
                    @include text--h5($regular);
                    color: $color-text-grey;
                }

                &__vendor-name {
                    @include text--h4($semibold);
                }
            }
        }

        &__info {
            padding: 42px 16px 26px;
        }

        .vendor-info {

            &_title {
                @include text--h4 ($medium);
                margin-bottom: 20px;
            }

            &_content {
                @include flex(row, center, flex-start);

               &__icon {
                margin-right: 17px ;
               }

               &__data{
                @include flex(column, flex-start, center);

                &_title {
                    @include  text--overline--h6;
                    text-transform: uppercase;
                    color: $color-text-grey;
                }

                &_address{
                    @include text--h4 ($regular);
                }
               }
            }
        }

        .user-info {
            margin-bottom: 20px;

            &_title {
                @include text--h4 ($medium);
                margin-top: 36px;
                margin-bottom: 20px;
            }

            &_content {
                @include flex(row, center, space-between);

                &__left {
                    @include flex(row, center, flex-start);

                    &_icon {
                        margin-right: 17px ;
                       }

                       &_data{
                        @include flex(column, flex-start, center);

                        &__title {
                            @include  text--overline--h6;
                            text-transform: uppercase;
                            color: $color-text-grey;
                        }

                        &__address{
                            @include text--h4 ($regular);
                        }
                       }
                }

                &__button {
                    @include text--h4 ($regular);
                    color: $color-text-default;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 8px;
                    gap: 4px;
                    width: 139px;
                    height: 36px;
                    background: $container-background;
                    border-radius: 2px;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    border: none;

                    &:hover {
                        cursor: pointer;
                    }

                }

            }
        }

        .input-group {

            height: auto;

            &_name {
                ::ng-deep .mat-focused .mat-form-field-label {
                    @include text--h4 ($regular);
                    color: $color-text-grey;
                }

                ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
                    color:  $color-text-grey;
                }

                ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                    padding: 12px 12px 0;
                    height: 48px;

                    .mat-form-field-infix {
                        border-top: 0.5em solid transparent;
                    }
                }

                ::ng-deep .mat-form-field{
                    width: 100%;

                    input {
                        @include text--h4 ($regular);
                        caret-color: $color-text-grey
                    }

                    .mat-focused .mat-form-field-ripple {
                        display: none;
                    }

                    .mat-form-field-underline {
                        display: none;
                    }
                }

                ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
                    padding: 0;
                    margin-top: 0;
                }

            }

            &_contacts {
                @include flex(row, center, space-between);

                .input-group_phone, .input-group_email {

                    ::ng-deep .mat-focused .mat-form-field-label {
                        @include text--h4 ($regular);
                        color: $color-text-grey;
                    }

                    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
                        color:  $color-text-grey;
                    }

                    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                        padding: 12px 12px 0;
                        height: 48px;

                        .mat-form-field-infix {
                            border-top: 0.5em solid transparent;
                            width: 100%;
                        }
                    }

                    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
                        padding: 0;
                        margin-top: 0;
                    }

                    ::ng-deep .mat-form-field{
                        width:362.5px;

                        input {
                            @include text--h4 ($regular);
                            caret-color: $color-text-grey
                        }

                        .mat-focused .mat-form-field-ripple {
                            display: none;
                        }

                        .mat-form-field-underline {
                            display: none;
                        }
                    }
                }
            }

            &_comment {

                ::ng-deep .mat-focused .mat-form-field-label {
                    @include text--h4 ($regular);
                    color: $color-text-grey;
                }

                ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                    padding: 12px 12px 0;
                    height: 102px;
                }

                ::ng-deep .mat-form-field{
                    width:100%;

                    textarea {
                        @include text--h4 ($regular);
                        caret-color: $color-text-grey;
                        resize: none;
                    }

                    .mat-focused .mat-form-field-ripple {
                        display: none;
                    }

                    .mat-form-field-underline {
                        display: none;
                    }

                    .mat-form-field-wrapper {
                        padding-bottom: 2px;
                    }
                }

                &__hint {
                    @include text--h6;
                    color: $color-text-grey;
                    text-align: end;
                    background-color: #FFFFFF
                }
            }

            .validation {
                @include text--h6;
                width: 100%;
                border-top: solid 1px $red;
                color: $red;
            }
        }

    }

    &_order {
        width: 773px;
        box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.07);
        border-radius: 4px;
        background: $white;
        padding: 16px 0 0;

        .order-header {
            @include flex(row, center, space-between);
            border-bottom: 0.5px solid $border-color;

            &_title {
                @include flex(row, center, flex-start);
                @include text--h4($semibold);
                color: $color-text-default;
                padding-bottom: 16px;
                margin-left: 16px;
            }
        }

        .order-items{
            padding: 0 16px;

            &_item:not(:last-child)  {
                border-bottom: 0.5px solid $border-color;
            }
        }
    }

    &_payment {
        width: 377px;
        max-height: 298px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.07);
        border-radius: 4px;
        padding: 16px 0;
        position: sticky;
        top: 90px;
        z-index:10;
        margin-top: 88px;

        &__header {
            @include text--h4 ($semibold);
            border-bottom: 0.5px solid $border-color;
            padding: 0 16px 16px;
        }

        &__content {
            @include flex(column, space-between, flex-start);

            &_payment-method {
                @include flex(column, flex-start, center);
                padding: 16px 0;
                margin-left: 16px;

                ::ng-deep .mat-form-field-wrapper {
                    padding-bottom: 0em;
                }

                ::ng-deep .mat-form-field-infix {
                    width: 317px;
                    max-width: 317px;

                    .mat-select-disabled .mat-select-value {
                        color: $color-text-default;
                    }
                }

                .validation {
                    @include text--h6;
                    width: 100%;
                    max-width: 345px !important;
                    border-top: solid 1px $red;
                    color: $red;
                }

                .remember-the-card {
                    @include flex(row, center, flex-start);
                    margin-top: 16px;

                    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
                        background-color: $orange;
                    }

                    ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
                        @include text--h4 ($regular);
                    }

                }

                ::ng-deep.radio-select {
                    width: 317px;
                    background: $container-background;
                    border-radius: 2px 2px 0px 0px;
                    padding: 6px 12px 6px 16px;
                    gap: 12px;
                }

            }

            &_total {
                border-top: 0.5px solid $border-color;
                padding: 0 16px;

                .total-line {
                    @include flex(row, center, space-between);
                    @include text--h5 ($regular);
                    width: 100%;
                    color: $color-text-grey;
                    margin-top: 16px;

                    .total-price_amount {
                        @include text--h2;
                        color: $color-text-default;
                    }
                }
            }

            &_button {
                @include text--h4 ($regular);
                background-color: $orange;
                color: $white;
                width: 345px;
                border: none;
                border-radius: 2px;
                align-self: stretch;
                flex-grow: 0;
                text-align: center;
                padding: 12px 0;
                margin: 10px auto 16px;
                &:hover {
                    cursor: pointer;
                }
            }
        }

    }
}






