<div class="dialog">
    <img class="dialog-close" src="../../../../assets/images/cross_close.svg" [routerLink]="['/feed']" mat-dialog-close>
    <img class="dialog-image" src="../../../../assets/images/cook.png">
    <div class="dialog-text">
        <h2 class="dialog-text_title">{{"ORDER.THANK_YOU" | translate}}</h2>
        <div class="dialog-text_subtitle">{{"ORDER.ORDER_IS_SENT" | translate}}
          <span class="dialog-text_subtitle__vendor-name">{{this.data.currentVendorName}}</span>
          <span>{{"ORDER.MANAGER_WILL_CONTACT" | translate}}</span>
        </div>
      </div>
    <button class="dialog-button" [routerLink]="['/feed']" mat-dialog-close>{{"ORDER.GOT_IT" | translate}}</button>
</div>
