@import '../../../../scss/constants';
@import '../../../../scss/mixins';

  .dialog {
    @include flex(column, center, center);
    gap: 16px;
    position: relative;

      &-close {
        position: absolute;
        top:0;
        right: 0;
        &:hover {
          cursor: pointer;
      }
      }

      &-text {
        @include flex(column, center, center);
        text-align: center;
        gap: 4px;

        &_title {
          @include text--h2;
          color: $color-text-default;
          margin: 0 0 12px;
          width: 100%;
        }

        &_subtitle {
          @include text--h4($normal);
          margin-bottom: 12px;

          &__vendor-name {
            @include text--h4($medium);
          }
        }
      }
      &-button {
        @include text--h4 ($regular);
            background-color: $orange;
            color: $white;
            width: 448px;
            border: none;
            border-radius: 2px;
            align-self: stretch;
            flex-grow: 0;
            text-align: center;
            padding: 12px 0;
            &:hover {
               cursor: pointer;
            }
    }


    }
//   }


