<div clickoutsidedirective (clickOutside)="clickedOutside()">
  <div class="dropdown-button" (click)="toggleDropdownMenu()"
       [class.active]="selectedOptions.length !== 0 && !isDropdownMenuOpened"
       [class.border]="isDropdownMenuOpened">
    <div class="dropdown-button_label">
      <div class="dropdown-button_label__name">{{ filterName }}</div>
      <div *ngIf="selectedOptions.length !== 0 && !isDropdownMenuOpened"
           class="dropdown-button_label__number">{{ selectedOptions.length }}</div>
    </div>
    <svg-icon class="dropdown-button_label__svg" src="../../../../assets/images/Vector.svg"></svg-icon>
  </div>
  <div *ngIf="isDropdownMenuOpened" class="dropdown-menu">
    <div class="dropdown-menu_header"
         *ngIf="selectedOptions.length === 0">{{ "VENDOR_ACCOUNT_PPODUCTS.NO_FILTERS_APPLIED" | translate }}</div>
    <div *ngIf="selectedOptions.length !== 0" class="dropdown-menu_header">
      <div><span>{{ selectedOptions.length }}</span>{{ "VENDOR_ACCOUNT_PPODUCTS.FILTERS_APPLIED" | translate }}</div>
      <div class="dropdown-menu_header__clear-button"
           (click)="clearFilter()">{{ "VENDOR_ACCOUNT_PPODUCTS.CLEAR_ALL" | translate }}</div>
    </div>
    <div class="dropdown-menu_options">
      <mat-option *ngFor="let option of options" [formGroup]="dropdownOptions">
        <p>
          <mat-checkbox [formControlName]="option"><span
            class="{{ option.toLowerCase().split(' ').join('') }}">{{ option }}</span></mat-checkbox>
        </p>
      </mat-option>
    </div>
  </div>
</div>
