@import '../../../../scss/mixins';
@import '../../../../scss/constants';

.dropdown-button {
    @include flex(row, center,space-between);
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    padding: 8px 8px 8px 16px;
    color: $dark-grey;
    width: auto;

    &.active {
        color: $color-text-default;
        background-color: $light-grey;
        width: auto;
    }

    &.border {
        border: 1px solid $color-text-default;
        border-radius: 4px;
        background-color: $white;
    }

    &_label {
        @include flex(row, center, space-between);

        &__number {
            @include flex(row, center, center);
            @include text(600, 12px, 16px);
            @include size(20px, 20px);
            background: $dark-grey;
            border-radius: 40px;
            color: $white;
            text-align: center;
            margin-left: 8px;
        }
    }

    svg-icon {
        margin-left: 14px;
    }

    &:hover {
        cursor: pointer;
    }
}

.dropdown-menu {
    @include text--h4 ($regular);
    @include size(240px, auto);
    color: $color-text-default;
    background: $white;
    border: 1px solid $grey-button-background;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 4px;
    position: absolute;
    z-index: 10;

    &_header {
        @include flex(row, center, space-between);
        @include text--h5 ($regular);
        padding: 12px 16px;
        color: $dark-grey;
        border-bottom: 1px solid $grey-button-background;

        &__clear-button {
            color:$color-text-default;

            &:hover {
                cursor: pointer;
                color: $orange;
                text-decoration: underline;
            }
        }
    }

    .onmoderation {
        font-weight: $semibold;
        color: $dark-orange;
        background-color: $banner-background;
        border: 0.5px solid $light-orange;
        border-radius: 4px;
        padding: 2px 8px;
        text-align: center;
        max-width: 110px;
    }

    .published {
        font-weight: $semibold;
        color: $green700;
        background-color: $green100;
        border: 0.5px solid $green300;
        border-radius: 4px;
        padding: 2px 8px;
        text-align: center;
        max-width: 84px;
    }

    .declined {
        font-weight: $semibold;
        color: $red500;
        background-color: $red100;
        border: 0.5px solid $red300;
        border-radius: 4px;
        padding: 2px 8px;
        text-align: center;
        max-width: 76px;
    }

    .archived {
        font-weight: $semibold;
        color: $color-text-default;
        background-color: $light-grey;
        border: 0.5px solid $dark-grey;
        border-radius: 4px;
        padding: 2px 8px;
        text-align: center;
        max-width: 77px;
    }

    .draft {
        font-weight: $medium;
    }
}
