<app-popup class="report-date-range" title="{{ 'REPORT_DATE_RANGE.TITLE' | translate }}">
  <div class="content-wrapper">
    <p class="subtitle">{{ 'REPORT_DATE_RANGE.SUBTITLE' | translate }}</p>
    <p>{{ 'REPORT_DATE_RANGE.MESSAGE' | translate }}</p>
    <div class="date-picker-from">
      <fieldset>
        <div>
          <input matInput
            placeholder="From"
            [matDatepicker]="from"
            [formControl]="fromDateForm"
            (dateChange)="onFromDateChange()"
            [max]="maxDateFrom">
          <mat-datepicker #from></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="from">
            <mat-icon matDatepickerToggleIcon><img
                src="../../../../assets/images/vendor-account-page/trailing-icon.svg"></mat-icon>
          </mat-datepicker-toggle>
        </div>
      </fieldset>
    </div>
    <div class="date-picker-to">
      <fieldset>
        <div>
          <input matInput
            placeholder="To"
            [matDatepicker]="to"
            [formControl]="toDateForm"
            (dateChange)="onToDateChange()"
            [max]="maxDateTo"
            [min]="minDateTo">
          <mat-datepicker #to></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="to">
            <mat-icon matDatepickerToggleIcon><img
                src="../../../../assets/images/vendor-account-page/trailing-icon.svg"></mat-icon>
          </mat-datepicker-toggle>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="buttons">
    <div class="buttons_back" (click)="openPreviousModal()">
      <span>{{ "REPORT_DATE_RANGE.BACK" | translate }}</span>
    </div>
    <div class="buttons_create">
      <span>{{ "REPORT_DATE_RANGE.CREATE" | translate }}</span>
    </div>
  </div>
</app-popup>
