<ng-container [formGroup]="form">
  <mat-form-field class="radio-select">
   <mat-label>{{label}}</mat-label>
   <mat-select
     disableOptionCentering
     [formControlName]="controlName"
     panelClass="radio-layer__panel">
      <mat-option *ngFor="let option of options" [value]="option.value">
        <mat-radio-button class="example-radio-button" [checked]="form.get(controlName)?.value === option.value" labelPosition="before" disableRipple="true">
         <span>{{option.title}}</span>
       </mat-radio-button>
     </mat-option>
   </mat-select>
 </mat-form-field>
</ng-container>
