@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep.radio-select {
  width: 228px;

  &.mat-focused {

    .mat-form-field-label {
      color: $color-text-grey;
    }

    .mat-select-arrow {
      transform: rotate(180deg) translateY(3px) !important;
    }
  }

  .mat-select {
    font-family: $font-family;
  }

  .mat-form-field-label {
    font-family: $font-family;
    color: $color-text-default;
    top: 0.7em;
  }

  &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-0.8em) scale(0.75) perspective(100px);
  }

  .mat-form-field-wrapper {
    padding: 0;

    .mat-form-field-infix {
      font-family: $font-family;
      padding: 0 0 0.4em 0;

      .mat-select-arrow-wrapper {
        height: 24px;

        .mat-select-arrow {
          border: unset;
          width: 12px;
          height: 12px;
          background: url('../../../../assets/images/Vector.svg') no-repeat;
          object-fit: cover;
          margin: 0 16px;
        }
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}


::ng-deep.radio-layer {
  width: 228px;
  transform: translateX(0px) translateY(38px) !important;

  .radio-layer__panel {
      min-width: unset !important;
      width: 228px;
      padding: 8px 0;

    .mat-option:hover {
      background: $light-grey;
    }

    .mat-option.mat-selected:not(.mat-option-disabled) {
      color: $color-text-default;
      background: $light-grey;
    }

    .mat-option-text {
      overflow: unset;

      .mat-radio-button {
        font-family: $font-family !important;
        width: 100%;
        border-color: $color-text-orange;
        border-width: 4px;

        .mat-radio-inner-circle {
          background-color: $light-grey;
        }

        .mat-radio-outer-circle {
          border-color: $border-color;
          background-color: $light-grey;
          border-width: 1px;
        }

        &.mat-radio-checked .mat-radio-outer-circle {
          border-color: $color-text-orange;
          border-width: 4px;
        }

        .mat-radio-label {
          justify-content: space-between;
        }
      }
    }
  }
}
