@import 'src/scss/mixins';
@import 'src/scss/constants';

h2 {
    @include text--h2;
    letter-spacing: 0.15px;
    color: #1A1A1A;
    margin-bottom: 40px;
}
.often-ordered__products-container {
    display: grid;
    column-gap: 24px;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;

    a {
        text-decoration: none;
        color: $color-text-default;
    }
}
