<section *ngIf="products$ | async as products">
    <h2 *ngIf="products.length">Often ordered</h2>
    <div class="often-ordered__products-container">
        <app-often-ordered-product
            *ngFor="let product of products"
            [product]="product"
            [ignoreSchedule]="true"
        ></app-often-ordered-product>
    </div>
</section>
