<div class="search-bar_wrapper">
  <div class="form-group" [ngStyle]="{'margin-top.px': marginTop}"
       (click)="onEnter($event)">
    <input
      #search
      id="search"
      type="text"
      class="form-field"
      [placeholder]=title
      [formControl]="searchField"
      spellcheck="false"
      autocomplete="off"
    >
    <label for="search" class="form-label">{{title}}</label>
    <img src="../../../../assets/images/search.svg" />
  </div>
  <div *ngIf="addresses.length > 1" class="search-results">
    <div *ngFor="let address of addresses" class="link" (click)="onSelect(address)">
      <div class="search-results_product">
        <div class="search-results_vendor__text">
          <div class="title" [innerHTML]="address.structured_formatting.main_text | substringEmphasize:search.value"></div>
          <div class="subtitle">{{address.structured_formatting.secondary_text}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
