@import '../../../../scss/constants';
@import '../../../../scss/mixins';

:host {
  width: 100%;

  .search-bar_wrapper {
    width: 100%;
    z-index: 10;
    padding: 0;
    margin: 0;
    position: relative;
    height: 48px;
    background: #F7F7F7;
    border-radius: 2px;
    transition: border-bottom 0.1s;
    border-bottom: 2px solid transparent;

    .form-field {
      width: 90%;
      border: 0;
      outline: 0;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #1A1A1A;
      background: transparent;
      padding-inline-start: 48px;
      margin: 20px 0px 4px 0px;
    }

    .form-group {
      position: relative;
      padding: 0;
      margin-top: 10px;
      height: 48px;
      background: $container-background;
      border-radius: 2px;
      transition: border-bottom 0.2s;
      border-bottom: 2px solid transparent;

      .form-field {
        @include text--h4($regular);
        width: 85%;
        border: 0;
        outline: 0;
        color: $color-text-default;
        background: transparent;
        padding-inline-start: 48px;
        margin: 20px 0px 4px 0px;
      }

      .form-field::placeholder {
        color: transparent;
      }

      .form-field:placeholder-shown ~ .form-label {
        font-family: $font-family;
        font-size: 16px;
        cursor: text;
        top: 16px;
      }

      label,
      .form-field:focus ~ .form-label {
        @include text--h6;
        position: absolute;
        top: 4px;
        left: 48px;
        display: block;
        transition: 0.2s;
        color: $color-text-default;
      }

      .form-field:focus ~ .form-label {
        color: $color-text-default;
      }


      img {
        position: absolute;
        left: 12px;
        top: 12px;
      }
    }

    .form-group:focus-within {
      border-bottom: 2px solid $color-text-default;
    }

    .search-results {
      @include flex(column, normal, normal);
      position: absolute;
      top: 50px;
      background-color: $header-background;
      width: 100%;
      padding: 8px 0;
      gap: 8px;
      box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.05);
      border-radius: 0px 0px 4px 4px;

      &_header {
        color: $color-text-grey;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding: 0 12px;
      }

      &_vendor, &_product {
        @include flex(row, center, normal);
        flex-direction: row;
        padding: 8px 12px;
        gap: 12px;
        text-decoration: none;

        &__img {
          width: 44px;
          height: 44px;
          object-fit: cover;
          border-radius: 2px;
        }

        &__text {
          @include flex(column, flex-start, normal);
          padding: 0;
          flex-grow: 1;

          .title {
            @include text--h5($regular);
            //@include flex(row, center, normal);
            color: $color-text-default;
          }

          .subtitle {
            @include text--h6;
            color: $color-text-grey;
          }

          .distance {
            @include text--h6;
            @include flex(row, center, normal);
            color: $color-text-grey;
          }
        }

        &__button {
          width: 24px;
          height: 24px;
          padding: 0;
          gap: 10px;
        }
      }

      .link {
        display: block;
        text-decoration: none;
        background-color: $header-background;
        transition: background-color 0.5s;
      }

      .link:hover {
        background-color: $link-hover-background;
        transition: background-color 0.5s;
        cursor: pointer;
      }
    }
  }
}
