@import '../../../../scss/constants';
@import '../../../../scss/mixins';


.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  line-height: 2rem;

  &__text {
    @include text--h4($regular);
    color: $color-text-default;
  }

  &__img_open {
    transform: rotate(180deg) translateY(0px);
  }
}
.active {
  background: #FFF;
}

::ng-deep.cdk-overlay-pane.vendors-filter-menu {
  width: 228px;
  transform: translateX(0px) translateY(14px);

  .mat-menu-panel {
    width: 228px;

    .mat-menu-item {
      font-family: $font-family;
      font-size: 16px;
    }
    .active {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}
