<button
  mat-button
  (click)="onSelect()"
  [class.active]="!form.controls[controlName].value">
  <div class="button">
    <span class="button__text">
      All
    </span>
  </div>
</button>
<button
  mat-button
  *ngFor="let inlineOption of inlineOptions"
  (click)="onSelect(inlineOption)"
  [class.active]="form.controls[controlName].value === inlineOption">
  <div class="button">
    <span class="button__text">
      {{ inlineOption }}
    </span>
  </div>
</button>
<button
  mat-button
  [matMenuTriggerFor]="menu"
  #trigger="matMenuTrigger"
  [class.active]="hiddenOptions.includes(form.controls[controlName].value)">
  <div class="button">
    <span class="button__text">
      {{ hiddenOptionsTitle() }}
    </span>
    <img
      [class.button__img_open]="trigger.menuOpen"
      src="../../../../assets/images/Vector.svg"
    />
  </div>
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngFor="let hiddenOption of hiddenOptions"
    (click)="onSelect(hiddenOption)"
    [class.active]="form.controls[controlName].value === hiddenOption">
    {{ hiddenOption }}
  </button>
</mat-menu>
