@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.buttons {
    border-top: 2px solid $light-grey;
    padding: 10px 0;
    @include flex(row, center, flex-end);

    &_cancel {
        margin-right: 10px;
        padding: 12px 16px;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        background-color: transparent;
        border: none;
    }

    &_submit {
        background-color: $orange;
        color: $white;
        width: 103px;
        padding: 12px 16px;
        border: none;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        display: inline-block;
    }
}
