<app-popup
    [title]="title"
    [subtitle]="subtitle"
>
    <image-cropper
        [imageFile]="imageBlob"
        [imageURL]="imageUrl"
        [maintainAspectRatio]="!!aspectRatio"
        [aspectRatio]="aspectRatio ?? 4 / 3"
        [format]="format"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>
    <div class="modal-footer">
        <div class="buttons">
            <button (click)="cancel()" class="buttons_cancel">{{ 'VENDOR_PRODUCT.CANCEL' | translate }}</button>
            <button (click)="submit()" class="buttons_submit">{{ 'VENDOR_PRODUCT.SUBMIT' | translate }}</button>
        </div>
    </div>
</app-popup>