<div class="cookie_pop-up-wrapper" *ngIf="isCookiePopupOpen">
    <header class="header">
        <img class="header_image" src="../../../../assets/images/cookie.png"/>
        <div class="header_text">
        <div class="header_text__title">{{"COOKIE_POP_UP.TITLE" | translate}}</div>
        <div class="header_text__subtitle">{{"COOKIE_POP_UP.SUBTITLE" | translate}}
            <span class="header_text__link" mat-dialog-close (click)="openCookiePreferences()">{{"COOKIE_POP_UP.LINK" | translate}}</span>
        </div>
        </div>
        <div class="header__action">
        <img class="header__action_close" src="../../../../assets/images/cross_close.svg" mat-dialog-close (click)="closeCookiePopup()"/>
        </div>
    </header>
</div>
