@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.cookie_pop-up-wrapper {
  @include flex(column, center, flex-start);
  position: fixed;
  bottom: 8px;
  right: 8px;
  width: 582px;
  background-color: $white;
  z-index: 1000300;
  padding: 24px;
  border: 0.5px solid #BFBFBF;
  box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.07);
  border-radius: 4px;

  .header {
    @include flex(row, flex-start, space-between);
    width:100%;

    &_image {
        margin-right: 40px;
    }

    &_text {
      @include flex(column, center, flex-start);

      &__title {
        @include text--h4 ($medium);
        color: $color-text-default;
        margin-bottom: 8px;
        width: 100%;
      }

      &__subtitle {
        @include text--h5($normal);
        color: $color-text-grey;
        margin: 0;
      }

      &__link {
        @include text--h5($medium);
        color: $color-text-default;
        margin: 0;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__action_close {
      cursor: pointer;
    }
  }
}

.mat-dialog-container {
  display: none;
}
