@import '../../../scss/mixins';
@import '../../../scss/constants';

.vendor-page-container {
    width: 100%;

    &_banner {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 98.96%), url('../../../assets/images/vendor-banner.png');
        background-size: cover;
        max-height: 412px;
        height: 100%;
        padding: 24px 0 44px 135px;

        &__content {
            @include flex(column, flex-start, flex-start);
            color: $white;
            margin-top: 124px;

            .banner-content_first-line {
                @include flex(row, center, flex-start);
                @include text($regular, 14px, 20px);

                div {
                    margin-right: 10px;
                }

                &__rate {
                    @include text($regular, 14px, 20px);
                    @include flex(row, baseline, center);
                    color: $color-text-default;
                    padding: 4px 4px 2px;
                    gap: 3px;
                    width: 52px;
                    background: $icon-background;
                    border-radius: 33px;
                    text-align: center;
                }

                &__reviews {
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                      }
                }
            }
            .banner-content_title {
                @include text($semibold ,48px, 56px);
                margin: 12px 0;
            }
            .banner-content_second-line {
                @include flex(row, center, flex-start);
                @include text($regular, 14px, 20px);

                &__content_hours {
                    color: white;

                  &__closing {
                    color: map-get($delivery-platform-orange, 400);
                  }
                  &__closed {
                    color: $color-text-red;
                  }
                }

                .delimiter {
                  margin: 0px 10px 0px 10px;
                }
            }
        }
    }
    &_content {
        @include flex(column, center, center);
        max-width: 85%;
        margin: 24px auto 0;
        text-align: center;

        &__filter {
            @include flex(row, center, space-between);
            @include text($regular, 16px, 24px);
            background-color: $container-background;
            height: 48px;
            padding-left: 6px;
            width: 1576px;
            max-width: 100%;
            margin-bottom: 44px;
            position: sticky;
            top: 72px;
            z-index:10;

            &-sticked {
              width: 100vw;
              padding: 0 25%;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline;
                    margin-right: 26px;
                    padding: 6px 8px;
                    border-radius: 2px;

                    a {
                        text-decoration: none;
                        color: $color-text-default;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &.active {
                        background-color: $white;
                    }
                }
            }
        }
        &__sections {
            .section {
                @include flex(column, flex-start, center);
                width: 1576px;
                max-width: 100%;
                margin-bottom: 80.5px;

                &_title {
                    @include flex(row, center, flex-start);
                    margin-bottom: 28px;

                    &__text{
                        @include text($medium, 20px, 28px);
                        margin-right: 6px;
                    }

                    &__quantity {
                        @include text($regular, 20px, 28px);
                    }

                }

                &_cards {
                    display: grid;
                    justify-content: space-between;
                    column-gap: 24px;
                    row-gap: 50px;
                    grid-template-columns: auto auto auto auto;
                }
            }


        }
    }

}

.no-result-page-container_main-content {
    @include flex (column, center, center);
    height: 60vh;

    &__image {
        width: 351px;
        height: 265px;
        background-image: url(../../../assets/images/no-result.svg);
        background-size: cover;
    }

    &__message {
        @include text--h5 ($normal);
        color: $color-text-grey;
        text-align: center;
        margin-top: 20px;

        span {
            font-weight: $medium;
        }
    }
}

    @media screen and (max-width: 1440px) {
        .section_cards{
          grid-template-columns: auto auto auto ;
        }
      }
