<div class="vendor-page-container">
        <div  class="vendor-page-container_banner">
            <app-navigation [address]="(vendorData$ | async)!.name"></app-navigation>
            <div class="vendor-page-container_banner__content">
                <div class="banner-content_first-line">
                    <div class="banner-content_first-line__rate">
                        <img src="../../../assets/images/black-star.svg" alt="star">
                        <span>{{ (vendorData$ | async)!.average_rate }}</span>
                    </div>
                    <div class="banner-content_first-line__reviews">
                        {{ reviews }} {{ 'VENDOR_PAGE.REVIEWS' | translate }}
                    </div>
                    <div class="delimiter">
                        •
                    </div>
                    <div class="banner-content_first-line__orders">
                        {{ (vendorData$ | async)!.orders_count }} {{ 'VENDOR_CARD.ORDERS' | translate }}
                    </div>
                </div>
                <div class="banner-content_title" >{{ (vendorData$ | async)!.name }}</div>
                <div class="banner-content_second-line">
                    <div class="banner-content_second-line__content_hours"
                         [ngClass]="{'banner-content_second-line__content_hours__closing': (vendorsSchedule | scheduleCalc).isClosesIn30Minutes,
                         'banner-content_second-line__content_hours__closed' : !(vendorsSchedule | scheduleCalc).isStoreOpen}"
                    >
                      {{ (vendorsSchedule | scheduleCalc).openedHours }}
                    </div>
                    <div class="delimiter">
                        •
                    </div>
                    <div class="banner-content_second-line__content_address">
                        {{ (vendorData$ | async)!.locations[0]?.address_1 }}, {{ (vendorData$ | async)!.locations[0]?.address_2 }}
                    </div>
                </div>
            </div>
        </div>
        <div class = "vendor-page-container_content">
          <ng-container [formGroup]="filterForm">
              <div
                class="vendor-page-container_content__filter"
                stickedClass="vendor-page-container_content__filter-sticked"
                [transitionTop]="72"
              >
                  <ul>
                      <li *ngFor="let item of list" (click)="onSelectItem(item.split(' ').join(''))" [class.active]="item === activeItem">
                          {{ item }}
                      </li>
                  </ul>
                <app-dropdown-multiselect
                    label="Dietary"
                    controlName="dietaryTags"
                    [options]="dietaryOptions"
                ></app-dropdown-multiselect>
            </div>
          </ng-container>
          <div *ngIf="list.length === 0" class="no-result-page-container_main-content">
            <div class="no-result-page-container_main-content__image"></div>
            <div class="no-result-page-container_main-content__message">
              {{ "NO_RESULTS_PAGE.NO_RESULTS_FOUND" | translate }} <span>{{ filterForm.get('dietaryTags')?.value }}</span> <br>
                Please try another phrase</div>
        </div>

            <div *ngIf="list.length !== 0" class="vendor-page-container_content__sections">
                <div  *ngFor="let item of list" class="section" id="{{ item.split(' ').join('') }}">
                    <div class="section_title">
                        <div class="section_title__text">
                            {{item}}
                        </div>
                        <div class="section_title__quantity">{{ (products$ | async)![item]?.length }}</div>
                    </div>
                    <div class="section_cards">
                        <div *ngFor="let el of (products$ | async)![item]">
                            <app-product-card
                              [product]="el"
                              [vendorsSchedule] = "(vendorsSchedule | scheduleCalc)"
                            ></app-product-card>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <app-cookie-popup></app-cookie-popup>
</div>
