<div class="wrapper">    
      <header class="header">
        <div class="header__text">
            <h2 class="header__text_title"> {{"COOKIE_POP_UP.WEBSITE_DATA" | translate}} </h2>       
            <h4 class="header__text_subtitle">{{"COOKIE_POP_UP.WE_USE_DATA" | translate}}
                <span *ngIf="!isLinkOpened" (click)="isLinkOpened=true" class="header__text_link">{{"COOKIE_POP_UP.LEARN_MORE" | translate}}</span>
                <span *ngIf="isLinkOpened" class="header_text__subtitle">{{"COOKIE_POP_UP.TO_IMPROVE" | translate}}</span>
            </h4>
        </div>
        <div class="header__action">
            <img class="header__action_close" src="../../../../assets/images/cross_close.svg" mat-dialog-close>
        </div>           
      </header>
      <content class="content">
        <div *ngFor="let item of cookiePreferences">
          <app-cookie-preferences-item [cookieItem]="item"></app-cookie-preferences-item>
        </div>
        <div class="buttons">
          <div class="buttons_delete" mat-dialog-close (click)="acceptCookie()">{{'COOKIE_POP_UP.ACCEPT_ALL_COOKIES' | translate}}</div>
          <div class="buttons_cancel" mat-dialog-close (click)="acceptCookie()">{{'COOKIE_POP_UP.SAVE_SETTINGS' | translate}}</div>        
        </div>
      </content>      
    </div>