@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}

  .wrapper {
    @include flex(column, flex-end, flex-start);

    .header {
      @include flex(row, flex-start, space-between);
      width:100%;
      margin-bottom: 32px;

      &__text {
        @include flex(column, flex-start, flex-start);

        &_title {
          @include text--h2;
          color: $color-text-default;
          width: 100%;
          margin-bottom: 12px;
        }

        &_subtitle {
          @include text--h5 ($normal);
          color: $color-text-grey;
          margin: 0;
        }

        &_link {
            @include text--h5 ($medium);
            color: $color-text-default;
            text-decoration: underline;

            &:hover {
            cursor: pointer;
            }
        }
      }

      &__action_close {
        cursor: pointer;
      }
    }
  }

  .content {
    width: 100%;
  }

  .buttons {
    @include flex(column, center, center);
    @include text--h4 ($regular);
    width: 452px;
    margin-top: 22px;

    &_cancel {
        text-align: center;
        margin-top: 10px;
        width: 420px;
        padding: 12px 16px;
        background-color: $container-background;
        &:hover {
            cursor: pointer;
         }
    }

    &_delete {
        margin-top: 10px;
        background-color: $orange;
        color: $white;
        width: 420px;
        padding: 12px 16px;
        border: none;
        border-radius: 2px;
        text-align: center;
        &:hover {
           cursor: pointer;
        }
    }
}
