<div class="reset-password-page">
    <div class="reset-password-page_navigation">
        <app-navigation [address]="'Reset password'"></app-navigation>
    </div>
    <div *ngIf="isEmailSent === false">
        <div class="reset-password-page_content">
            <div class="reset-password-page_content__icon">
                <svg-icon src= "../../../assets/images/key.svg"></svg-icon>
            </div>
            <div class="reset-password-page_content__title">
                {{'LOG_IN.FORGOT_PASSWORD' | translate}}
            </div>
            <div class="reset-password-page_content__subtitle">
                {{'LOG_IN.NO_WORRIES' | translate}}
            </div>
            <div class="reset-password-page_content__input" [formGroup]="emailGroup">
                <mat-form-field  appearance="fill" hideRequiredMarker>
                    <mat-label>{{'LOG_IN.EMAIL' | translate}}</mat-label>
                    <input autocomplete="new-password" matInput formControlName="email">
                    <mat-error *ngIf="emailGroup.get('email')?.hasError('required')" class="validation">
                        {{'LOG_IN.ENTER_EMAIL' | translate}}
                    </mat-error>
                    <div *ngIf="isEmailRegistred === false" class="validation wrong">
                        {{'LOG_IN.IS_NOT_REGISTRED' | translate}}
                    </div>
                </mat-form-field>
            </div>
            <button class="reset-password-page_content__button" (click)="sentResetLink(emailGroup.get('email')?.value)">{{"LOG_IN.RESET_PASSWORD" | translate}}</button>
            <div class="reset-password-page_content__go-back-button">
                <div class="go-back-button" [routerLink]="['/feed/vendor/login']">
                    <img class="go-back-button_image" src="../../../assets/images/arrow_left.svg" />
                    <div class="go-back-button_text">{{'LOG_IN.BACK_TO_LOG_IN' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isEmailSent === true && isEmailReceived === true && isPasswordReset === false">
        <div class="reset-password-page_content">
            <div class="reset-password-page_content__icon">
                <svg-icon src= "../../../assets/images/email.svg"></svg-icon>
            </div>
            <div class="reset-password-page_content__title">
                {{'LOG_IN.CHECK_YOUR_EMAIL' | translate}}
            </div>
            <div class="reset-password-page_content__subtitle">
                {{'LOG_IN.WE_SENT_A_RESET_LINK_TO' | translate}} <span>{{encryptedEmail}}</span>
            </div>
            <div *ngIf="isEmailResend === true && counter > 0; else placeholder" class="reset-password-page_content__resend-link_grey">
                <span *ngIf="counter>9">00:{{counter}}  {{'LOG_IN.RESEND_LINK' | translate}}</span>
                <span *ngIf="counter<10">00:0{{counter}}  {{'LOG_IN.RESEND_LINK' | translate}}</span>
            </div>
            <ng-template #placeholder>
                <div class="reset-password-page_content__resend-link">
                    <a (click)="resendEmail(emailGroup.get('email')?.value)">{{"SIGN_UP.RESEND_LINK" | translate}}</a>
                </div>
            </ng-template>
            <div class="reset-password-page_content__go-back-button">
                <div class="go-back-button" (click)="goToPreviousStep()">
                    <img class="go-back-button_image" src="../../../assets/images/arrow_left.svg" />
                    <div class="go-back-button_text">{{'LOG_IN.PREVIOUS_STEP' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isEmailSent === true && isEmailReceived === false">
        <div class="reset-password-page_content">
            <div class="reset-password-page_content__icon">
                <svg-icon src= "../../../assets/images/sad_emoticon.svg"></svg-icon>
            </div>
            <div class="reset-password-page_content__title">{{"SIGN_UP.EMAIL_NOT_RECEIVED" | translate}}</div>
            <div class="reset-password-page_content__subtitle">{{"SIGN_UP.PLEASE_CALL" | translate}}
                <span>{{"SIGN_UP.PHONE_NUMBER" | translate}} </span>
                {{"LOG_IN.CHECK_YOUR_EMAIL_SPELLING" | translate}}
            </div>
            <button class="reset-password-page_content__button-grey" (click)="goToPreviousStep()">
                <div class="go-back-button">
                    <img class="go-back-button_image" src="../../../assets/images/arrow_left.svg" />
                    <div class="go-back-button_text">{{'LOG_IN.BACK_TO_EMAIL' | translate}}</div>
                </div>
            </button>
        </div>
    </div>
</div>
