@import "../../../scss/mixins";

.reset-password-page {
    @include flex(column, center, center);
    max-width: 80%;
    margin: 24px 135px 0;

    &_navigation {
        @include flex(row, center, flex-start);
        width: 100%;
    }

    &_content {
        margin: 84px auto 0;

        &__icon {
            margin-bottom: 12px;
        }

        &__title {
            @include text--h3;
            margin-bottom: 12px;
        }

        &__subtitle {
            @include text--h4 ($regular);
            color: $color-text-grey;
            margin-bottom: 44px;
            max-width: 377px;

            span {
                font-weight: $medium;
                color: $color-text-default;
            }
        }


        &__input{
            @include flex(column, center, center);

            .password-requirement {
                margin: 0 0 12px;

                &_item {
                    @include flex(row, center, flex-start);

                    div {
                        @include text--h6;
                        color: $color-text-grey;
                        margin-left: 8px;

                        &.red {
                            color: $red;
                        }

                        &.green {
                            color: $green;
                        }
                    }
                }
            }

            ::ng-deep {
                .mat-focused .mat-form-field-label {
                    @include text--h4 ($regular);
                    color: $color-text-default;
                }

               .mat-form-field.mat-form-field-invalid .mat-form-field-label {
                    color:  $color-text-default;
                }

                .mat-form-field-appearance-fill .mat-form-field-flex {
                    padding: 12px 12px 0;
                    height: 48px;
                    background-color: #EEEEEE;

                    .mat-form-field-infix {
                        border-top: 0.5em solid transparent;
                    }
                }

                .mat-form-field{
                    width: 416px;

                    input {
                        @include text--h4 ($regular);
                        caret-color: $color-text-grey
                    }

                    input:-webkit-autofill,
                    input:-webkit-autofill:hover,
                    input:-webkit-autofill:focus,
                    input:-webkit-autofill:active{
                        -webkit-box-shadow: 0 0 0 30px #EEEEEE inset !important;
                    }

                    .mat-focused .mat-form-field-ripple {
                        display: none;
                    }

                    .mat-form-field-underline {
                        display: none;
                    }
                }

                .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
                    padding: 0;
                    margin-top: 0;
                }
            }

            .validation {
                @include text--h6;
                width: 100%;
                border-top: solid 1px $red;
                color: $red;

                &.wrong {
                    position: absolute;
                    top: auto;
                    left: -12px;
                    width: 416px;
                }

                &.mismatch {
                    position: absolute;
                    top: auto;
                    left: -12px;
                    width: 416px;
                }
            }
        }

        &__button, &__button-grey {
            @include text--h4 ($regular);
            background-color: $orange;
            color: $white;
            width: 416px;
            border: none;
            border-radius: 2px;
            align-self: stretch;
            flex-grow: 0;
            text-align: center;
            padding: 12px 0;
            margin: 10px auto 20px;

            &:hover {
                cursor: pointer;
            }

            &.continue {
                margin-top: 32px;
            }
        }

        &__button-grey {
            @include flex(row, center, center);
            background-color: $grey-button-background;
            color: $color-text-grey;

            &:hover {
                cursor: auto;
            }

            .go-back-button {
                @include flex(row, center, center);
                margin: 0;

                &:hover {
                    cursor: pointer;
                }

                &_image {
                    margin-right: 10px;
                }

                &_text {
                    color: $color-text-default;
                }
            }
        }

        &__go-back-button {

            .go-back-button{
                @include flex(row, center, center);
                margin: 0;

                &:hover {
                    cursor: pointer;
                }

                &_image {
                    margin-right: 10px;
                }

                &_text {
                    color: $color-text-default;
                }
            }
        }

        &__resend-link{
            @include text--h5 ($medium);
            text-decoration: underline;
            text-align: center;
            margin: 14px 0 34px;

            &:hover {
                cursor: pointer;
            }

            &_grey {
                color: $color-text-grey;
                text-decoration: none;
                text-align: center;
                margin: 14px 0 34px;

                &:hover {
                    cursor:auto;
                }
            }
        }
    }
}
