@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.32);
}

.location {
  @include flex(column, center, flex-start);
  gap: 8px;

  &__settings {
    @include flex(row, center, flex-start);
    width: 100%;
    gap: 8px;

    .location__button {
      @include flex(row, center, center);
      @include text--h4($regular);
      padding: 12px 28px;
      gap: 6px;
      height: 50px;
      background: #EEEEEE;
      border-radius: 2px;
    }

    .orange {
      color: $white;
      background: $orange;
    }

    .orange:hover {
      background: $orange-hover;
      transition: background .2s;
    }
  }
}
