<app-popup
  title="Location details"
  subtitle="Please enter your location to identify the nearest restaurants available in your city.">
  <div class="location">
    <div class="location__settings">
      <button type="button" mat-button class="location__button" tabindex="-1" (click)="resetLocation()">
        <img src="../../../../assets/images/navigation-arrow.svg" />
      Current
      </button>
      <app-search-address
        title="Search location"
        [marginTop]=0
        [searchField]="searchField"
        (newSelection)="onSelected($event)"
      >
      </app-search-address>
      <button
        mat-button
        class="location__button orange"
        (click)="confirmLocation()"
      >
        Confirm
      </button>
    </div>
    <app-map
    height="420px"
    [center]="location"
    [markers]="markers"
    [zoom]="zoom"
    (newPosition)="showPosition($event)"
    >
    </app-map>
  </div>
</app-popup>
