<div class="moderator-account-page">
  <app-moderator-account-sidebar (onLogout)="removeCookie($event)">
  </app-moderator-account-sidebar>
  <div class="moderator-account-page_content">
    <router-outlet></router-outlet>
  </div>
</div>
