@import "../../../../scss/mixins";

.moderator-account-page {
  @include flex(row, flex-start, space-between);
  @include size(100%, 100vh);

  &_content {
    width: 100%;
    height: 100vh;
    padding: 30px 30px;
    background: #F7F7F7;
  }
}
