@import "../../../../scss/constants";
@import "../../../../scss/mixins";


.cookie-item {
    @include flex(row, flex-start, space-between);
    margin-top: 8px;

    &_content {
        @include flex(column, flex-start, flex-start);

        &__title {
            @include text--h4 ($medium);
            color: $color-text-default;
        }

        &__subtitle {
            @include text--h4 ($normal);
            color: $color-text-grey;
            margin: 8px 0;
        }
    }

    &.border {
        border-bottom: solid 1px $border-color;
    }

    ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: #707070;
    }

    ::ng-deep  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: #EEEEEE;
    }

    ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: $orange;
    }

    ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: $white;
    }
}
