<div class="cookie-item" [class.border]="cookieItem.isBorderDisplay">
    <div class="cookie-item_content">
        <div class="cookie-item_content__title">{{cookieItem.title}}</div>
        <div class="cookie-item_content__subtitle">{{cookieItem.subtitle}}</div>
    </div>
    <mat-slide-toggle
        [(ngModel)]="cookieItem.isChecked"
        class="cookie-item_content__slide"
        [disabled]="cookieItem.disabled">
    </mat-slide-toggle>
</div>