<div class="header-container">
  <app-header *ngIf="!isHideHeader"></app-header>
</div>

<div class="content-outer-container">
  <app-scroll-to-top></app-scroll-to-top>
  <div class="content-inner-container">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!isHideFooter" class="footer-container">
  <app-footer></app-footer>
</div>
