@import "../scss/constants";
@import "../scss/mixins";

:host {
  display: block;
}

.header-container {
  padding-left: 45px;
  padding-right: 45px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 11;
}

.content-outer-container {
  @include flex(column, center, center);
  min-height: 100%;
}

.content-inner-container {
  width: 100%;
}

.footer-container {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.app-title {
  margin-bottom: 0;
  margin-top: 0;
  padding: 12px;
}
