@import '../../../../scss/constants';
@import '../../../../scss/mixins';

  .wrapper {
    @include flex(column, flex-end, flex-start);

    .header {
      @include flex(column, center, flex-start);
      width:100%;

      &__text {
        @include flex(column, center, flex-start);
        text-align: center;

        &_title {
          @include text--h2;
          color: $color-text-default;
          margin: 22px 0 12px;
          width: 100%;
        }

        &_subtitle {
          @include text--h4 ($normal);
          margin: 0 0 22px;
        }
      }

      &__action_close {
        cursor: pointer;
      }
    }
  }

  .content {
    width: 100%;
  }

  .buttons {
    @include flex(column, center, flex-start);
    @include text--h4 ($regular);
    width: 402px;

    &_cancel {
        text-align: center;
        margin-top: 10px;
        width: 370px;
        padding: 12px 16px;
        &:hover {
            cursor: pointer;
         }
    }

    &_delete {
        margin-top: 10px;
        background-color: $orange;
        color: $white;
        width: 370px;
        padding: 12px 16px;
        border: none;
        border-radius: 2px;
        text-align: center;
        &:hover {
           cursor: pointer;
        }
    }
}
