<div class="wrapper">  
  <div class="header__action">
    <img class="header__action_close" src="../../../../assets/images/cross_close.svg" mat-dialog-close>
  </div>  
    <header class="header">
      <svg-icon
      class="forbid-icon"
      [svgClass]="'cart'"
      src="../../../../assets/images/forbid-icon.svg"
      alt="vector"
    ></svg-icon>
      <div class="header__text">
        <h2 class="header__text_title"> {{"LOG_IN.PLEASE_TRY_AGAIN_LATER" | translate}} </h2>
        <h4 class="header__text_subtitle">{{"LOG_IN.MAXIMUM_NUMBER" | translate}}</h4>
      </div>
        
    </header>
    <content class="content">
      <div class="buttons">
        <div class="buttons_delete" [mat-dialog-close]="true">{{'LOG_IN.RESET_PASSWORD' | translate}}</div>
        <div class="buttons_cancel" mat-dialog-close>{{'LOG_IN.TRY_AGAIN_LATER' | translate}}</div>        
      </div>
    </content>      
  </div>
  
