<div class="header-title" [routerLink]="['/feed']">
  <div *ngIf="isTitleOrange === false" class="header-title__logo transparent">
    <img alt="logo leaf" src="../../../../assets/images/logo.svg" />
  </div>
  <div *ngIf="isTitleOrange === true" class="header-title__logo">
    <img alt="logo leaf" src="../../../../assets/images/orange-Leaf.svg" />
  </div>
  <div class="header-title__text">
    {{ "TITLE.TITLE" | translate }}
  </div>
</div>
