@import "../../../../scss/mixins";

.header-title {
  display: flex;
  align-items: center;
  cursor: pointer;

  .header-title__logo {
    width: 40px;
    &.transparent {
      margin-right: 10px;
    }
  }

  .header-title__text {
    @include text--h5($semibold);
    width: 100px;
    vertical-align: middle;
    text-align: left;
    line-height: 14px;
  }
}
