<p>moderator-account-support works!</p>
<p>Sorry, but ACCOUNT page ...</p>
<div style="padding-top: 56.25%; position: relative">
  <iframe
    src="https://functionalworks-backend--prod.s3.amazonaws.com/logos/f3b67b06b5abd0a8accab5e57b61de5e"
    width="100%"
    height="100%"
    style="position: absolute; top: 0; left: 0"
    frameBorder="0"
    allowFullScreen
  ></iframe>
</div>
