<div class="vendor-account-page">
    <app-vendor-account-page-sidebar
        (onLogout)="removeCookie($event)"
    ></app-vendor-account-page-sidebar>
    <div class="vendor-account-page_content">
        <router-outlet></router-outlet>
    </div>    
</div>