<p>moderator-account-user works!</p>
<p>Sorry, but ACCOUNT page ...</p>
<div style="padding-top: 56.25%; position: relative">
  <iframe
    src="https://otkritkis.com/wp-content/uploads/2022/07/hrfc5.gif"
    width="100%"
    height="100%"
    style="position: absolute; top: 0; left: 0"
    frameBorder="0"
    allowFullScreen
  ></iframe>
</div>
