@import '../../../../scss/constants';
@import '../../../../scss/mixins';

  .wrapper {
    @include flex(column, center, flex-start);
    gap: 16px;

    .header {
      @include flex(row, flex-start, space-between);
      width:100%;

      &__text {
        @include flex(column, center, flex-start);
        gap: 4px;

        &_title {
          @include text--h2;
          color: $color-text-default;
          margin: 0 0 12px;
          width: 100%;
        }

        &_subtitle {
          @include text--h4 ($normal);
          margin: 0;

          span {
            @include text--h4 ($medium);
            color: $color-text-default;
          }
        }
      }

      &__action_close {
        cursor: pointer;
      }
    }
  }


  .content {
    width: 100%;
  }

  .buttons {
    @include flex(row, center, flex-end);
    @include text--h4 ($regular);
    margin-top: 16px;

    &_cancel {
        margin-right: 10px;
        padding: 12px 16px;
        text-align: center;
        &:hover {
            cursor: pointer;
         }
    }

    &_delete {
        background-color: $orange;
        color: $white;
        width: 103px;
        padding: 12px 16px;
        border: none;
        border-radius: 2px;
        text-align: center;
        &:hover {
           cursor: pointer;
        }
    }
}
