<div class="wrapper">  
  <header class="header">
    <div class="header__text">
      <h2 class="header__text_title">{{"CART.ORDER_FROM" | translate}} {{newVendorName}}{{"CART.QUESTION_SYMBOL" | translate}} </h2>
      <h4 class="header__text_subtitle">{{"CART.WE_CAN_DELIVER" | translate}} <span>{{currentVendorName}}</span>{{"CART.WILL_BE_REMOVED" | translate}}</h4>
    </div>
    <div class="header__action">
      <img class="header__action_close" src="../../../../assets/images/cross_close.svg" mat-dialog-close>
    </div>    
  </header>
  <content class="content">
    <div class="buttons">
      <div class="buttons_cancel" mat-dialog-close>{{'CART.CANCEL' | translate}}</div>
      <div class="buttons_delete" [mat-dialog-close]="true" (click)="changeVendor()">{{'CART.CONTINUE' | translate}}</div>
    </div>
  </content>      
</div>

