@import "../../../../scss/mixins";

.login-page-moderator {
  @include flex(column, flex-start, flex-start);
  max-width: 80%;
  height: 100vh;
  margin: 24px auto 0;

  &__content {
    @include flex(column, flex-start, flex-start);
    @include size(377px, 60%);
    margin: 128px auto 0;

    &_title {
      @include text--h7;
      margin-bottom: 20px;
    }

    &_subtitle {
      @include text--h4($regular);
      color: $color-text-grey;
      margin-bottom: 44px;
    }

    &_inputs {
      &__login {
        ::ng-deep {
          .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.5em;
          }
          .mat-form-field-appearance-outline .mat-form-field-flex {
            align-items: center;
          }
          .mat-focused .mat-form-field-label {
            @include text--h4($regular);
            color: $color-text-grey;
          }

          .mat-form-field-appearance-fill .mat-form-field-flex {
            padding: 12px 12px 0;
            background-color: #eeeeee;
          }

          .mat-form-field-infix {
            border-top: 0.5em solid transparent;
          }

          .mat-form-field {
            width: 377px;

            input {
              @include text--h4($regular);
              caret-color: $color-text-grey;
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0 30px #eeeeee inset !important;
            }

            .mat-focused .mat-form-field-ripple {
              display: none;
            }

            .mat-form-field-underline {
              display: none;
            }
          }

          .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
            padding: 0;
            margin-top: 0;
          }
        }

        .validation {
          @include text--h6;
          width: 100%;
          color: $red;

          &.wrong {
            position: absolute;
            top: auto;
            left: -12px;
            width: 377px;
          }
        }
      }

      &__password {
        ::ng-deep {
          .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.5em;
          }
          .mat-form-field-appearance-outline .mat-form-field-flex {
            align-items: center;
          }
          .mat-focused .mat-form-field-label {
            @include text--h4($regular);
            color: $color-text-grey;
          }

          .mat-form-field-appearance-fill .mat-form-field-flex {
            padding: 12px 12px 0;
            background-color: #eeeeee;
          }

          .mat-form-field-infix {
            border-top: 0.5em solid transparent;
          }

          .mat-form-field {
            width: 377px;

            input {
              @include text--h4($regular);

              caret-color: $color-text-grey;
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0 30px #eeeeee inset !important;
            }

            .mat-focused .mat-form-field-ripple {
              display: none;
            }

            .mat-form-field-underline {
              display: none;
            }
          }

          .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
            padding: 0;
            margin-top: 0;
          }
        }

        .validation {
          @include text--h6;
          width: 100%;
          color: $red;

          &.wrong {
            top: auto;
            left: -12px;
            width: 377px;
          }
        }
      }
    }

    &_password-section {
      @include flex(row, center, space-between);
      width: 100%;

      &__checkbox {
        //visibility: hidden;
        ::ng-deep {
          .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
          .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: $orange;
          }

          .mat-checkbox-layout .mat-checkbox-label {
            @include text--h4($regular);
          }

          .mat-checkbox-inner-container {
            @include size(18px, 18px);
          }
        }
      }

      a {
        @include text--h5($medium);
        color: $color-text-default;
      }
    }

    &_button {
      @include text--h4($regular);
      background-color: $orange;
      color: $white;
      width: 377px;
      border: none;
      border-radius: 2px;
      align-self: stretch;
      flex-grow: 0;
      text-align: center;
      padding: 12px 0;
      margin: 46px auto 12px;

      &:hover {
        cursor: pointer;
      }
    }

    &_sign-up {
      @include flex(row, center, center);
      width: 100%;

      div {
        @include text--h5($regular);
        color: $color-text-grey;

        a {
          @include text--h5($medium);
          color: $color-text-default;
          margin-left: 8px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__footer {
    @include flex(column, center, center);
    @include text--h5($normal);
    @include size(100%, 40px);
    color: $color-text-grey;
    position: relative;
    left: 0;
    bottom: 0;
    margin: -5px auto 0px;

    a {
      @include text--h5($regular);
      color: $color-text-default;

      &:hover {
        cursor: pointer;
      }
    }
  }

  span {
    @include text--h4($medium);
    color: $color-text-default;
  }
}
