<div class="login-page-moderator">
  <div class="login-page-moderator__breadcrumbs">
    <app-navigation [address]="'Log in moderator'"></app-navigation>
  </div>
  <div class="login-page-moderator__content" [formGroup]="loginAndPassword">
    <div class="login-page-moderator__content_title">
      {{ "MODERATOR_LOG_IN.LOGIN" | translate }}
    </div>
    <div class="login-page-moderator__content_subtitle">
      {{ "MODERATOR_LOG_IN.PLEASE" | translate }}
    </div>
    <div autocomplete="nope" class="login-page-moderator__content_inputs">
      <div class="login-page-moderator__content_inputs__login">
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>{{ "MODERATOR_LOG_IN.EMAIL" | translate }}</mat-label>
          <input autocomplete="new-password" matInput formControlName="login"/>
          <mat-error
            *ngIf="loginAndPassword.get('login')?.hasError('required')"
            class="validation"
          >
            {{ "MODERATOR_LOG_IN.PLEASE_ENTER_YOUR_EMAIL" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login-page-moderator__content_inputs__password">
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>{{ "MODERATOR_LOG_IN.PASSWORD" | translate }}</mat-label>
          <input matInput formControlName="password"/>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          ></button>
          <mat-error
            *ngIf="loginAndPassword.get('password')?.hasError('required')"
            class="validation"
          >
            {{ "MODERATOR_LOG_IN.PLEASE_ENTER_YOUR_PASSWORD" | translate }}
          </mat-error>
        </mat-form-field>
        <div
          *ngIf="
            isCredentialsWrong &&
            !loginAndPassword.get('password')?.hasError('required') &&
            !loginAndPassword.get('login')?.hasError('required')
          "
          class="login-page-moderator__content_inputs__password validation wrong"
        >
          {{ "MODERATOR_LOG_IN.INCORRECT_LOGIN_OR_PASSWORD" | translate }}
        </div>
      </div>
    </div>
    <div class="login-page-moderator__content_password-section">
      <div class="login-page-moderator__content_password-section__checkbox">
        <mat-checkbox formControlName="remember">{{
          "MODERATOR_LOG_IN.REMEMBER_ME" | translate
          }}</mat-checkbox>
      </div>
      <div class="login-page-moderator__content_password-section__link">
        <a href="#"  [routerLink]="['/feed/vendor/reset']">{{
          "LOG_IN.FORGOT_PASSWORD" | translate
          }}</a>
      </div>
    </div>
    <button
      class="login-page-moderator__content_button"
      (click)="
        loginModerator(
          loginAndPassword.get('login')?.value,
          loginAndPassword.get('password')?.value
        )
      "
    >
      {{ "MODERATOR_LOG_IN.LOGIN" | translate }}
    </button>
  </div>
  <div class="login-page-moderator__footer">
    <div class="footer_text">{{ "FOOTER.ARGEEMENT" | translate }}</div>
    <div>
      <a
        class="footer_link"
        [routerLink]="['/feed/termsAndCondactions']"
        target="_blank"
      >{{ "FOOTER.TERMS_OF_SERVICE" | translate }}</a
      >
      {{ "FOOTER.AND" | translate }}
      <a
        class="footer_link"
        [routerLink]="['/feed/privacyPolicy']"
        target="_blank"
      >{{ "FOOTER.PRIVACY_POLICY" | translate }}</a
      >
    </div>
  </div>
  <app-cookie-popup></app-cookie-popup>
</div>
