<svg [style]="styleExpression" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" (mouseenter)="changeColor()" (mouseleave)="changeColor()">
  <rect width="40" height="40" transform="translate(0 0.982422)" [attr.fill]="defaultBackgroundColor" />
  <use [attr.href]="link" />
</svg>