@import "../../../../scss/mixins";

.customer-page {
  background-color: $light-grey;

  .customer-page_content {
    @include text--h5($regular);
    display: grid;
    grid-template-areas:
      "breadcrumbs breadcrumbs"
      "tabs tabs"
      "main progress-bar"
      "main promo-code"
      "main review"
      "main ."
      "bottom bottom";
    grid-template-columns: 8fr 4fr;
    column-gap: 20px;
    color: $color-text-default;
    padding: 0 140px;

    &__breadcrumbs {
      grid-area: breadcrumbs;
      margin: 24px 0 12px 0;

      .title {
        font-weight: $medium;
      }
    }

    &__tab {
      @include flex(row, center, flex-start);
      grid-area: tabs;
      font-weight: $medium;
      color: $dark-grey;
      height: 48px;
      margin-bottom: 24px;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $light-grey;
        z-index: -1;
      }

      .active {
        transition: color .3s;
        color: orange;
        border-bottom: 2px solid $orange;
      }

      .link-container {
        padding: 10px 15px;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }

    &__main {
      grid-area: main;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      align-self: start;
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    &__progress-bar {
      @include flex(row, center, flex-start);
      min-width: 205px;
      padding: 16px;
      grid-area: unset;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      .progress-circle {
        position: relative;
        margin-right: 24px;

        &__percent {
          @include text--h4($regular);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .text {
        margin: auto;

        &__text-title {
          @include text--h4($semibold);
          margin-bottom: 4px;
        }

        &__text-subtitle {
          @include text--h5($normal);
          color: $dark-grey;
        }
      }
    }

    &__promo-code {
      @include flex(column, flex-start, center);
      grid-area: unset;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      .title {
        @include flex(row, center, center);
        margin: 16px 16px 16px 24px;

        svg-icon {
          padding-top: 5px;
        }

        .gift {
          margin: 0 12px 0 0;
        }

        .title-text {
          @include text--h4($semibold);
        }
      }

      .separator {
        @include separator(1px, $light-grey);
      }

      .subtitle {
        @include text--h5($regular);
        color: $dark-grey;
        margin: 16px;
      }

      .code {
        @include text--h4($semibold);
        @include flex(row, center, center);
        text-align: center;
        align-self: stretch;
        height: 40px;
        margin: 0 16px;
        border: 1px solid $dark-grey;
        border-radius: 4px;
        background-color: $light-grey;
      }

      .copy-button {
        @include text--h4($regular);
        @include flex(row, center, center);
        text-align: center;
        align-self: stretch;
        background-color: $light-grey;
        height: 40px;
        margin: 12px 16px 16px 16px;
      }
    }

    &__review {
      @include flex(column, flex-start, center);
      grid-area: unset;
      background-color: $white;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;

      .title {
        @include flex(row, center, center);
        @include text--h4($semibold);
        margin: 16px 16px 4px 16px;
      }

      .subtitle {
        @include text--h5($regular);
        color: $dark-grey;
        margin: 0 16px;
      }

      .separator {
        @include size(100%, 1px);
        margin: 16px 0;
        background-color: $light-grey;
      }

      .progress-bar {
        @include flex(row, center, space-between);
        @include text--h4($semibold);
        align-self: stretch;
        margin: 0 16px;

        .progress-scale {
          margin-right: 15px;
          width: 90%;
        }

        .counter {
          @include text--h5($normal);
          color: $dark-grey;

          span {
            @include text--h4($semibold);
            color: $color-text-default;
          }
        }
      }

      .store-image {
        @include flex(row, center, center);
        margin: 16px;
        align-self: stretch;

        img {
          max-height: 230px;
          max-width: 230px;
        }
      }

      .rate-text {
        @include text--h4($regular);
        align-self: center;

        span {
          font-weight: $semibold;
        }
      }

      .review-button {
        @include text--h4($regular);
        @include flex(row, center, center);
        text-align: center;
        align-self: stretch;
        background-color: $light-grey;
        height: 40px;
        margin: 12px 16px 16px 16px;
      }
    }

    &__bottom {
      grid-area: bottom;
      height: 100px;
    }
  }
}
