<div class="customer-page">
  <div class="customer-page_content">
    <!-- Breadcrumbs -->
    <div class="customer-page_content__breadcrumbs">
      <span class="title">Home</span><span class="address"> &nbsp; / &nbsp; My profile</span>
    </div>
    <!-- Tab navigation -->
    <div class="customer-page_content__tab">
      <div class="link-container" routerLinkActive="active">
        <a [routerLink]="['/feed/customer-account/profile']">{{ 'CUSTOMER_ACCOUNT_PROFILE.PERSONAL_INFORMATION' | translate }}</a>
      </div>
      <div class="link-container line" routerLinkActive="active">
        <a [routerLink]="['/feed/customer-account/history']">{{ 'CUSTOMER_ACCOUNT_PROFILE.ORDER_HISTORY' | translate }}</a>
      </div>
    </div>
    <!-- Main content -->
    <div class="customer-page_content__main">
      <router-outlet></router-outlet>
    </div>
    <!-- User info progress bar -->
    <div class="customer-page_content__progress-bar">
      <div class="progress-circle">
        <div class="progress-circle__percent">{{ userInfoProgress }}%</div>
        <mat-progress-spinner diameter="64" mode="determinate" [value]="userInfoProgress" strokeWidth="5"></mat-progress-spinner>
      </div>
      <div class="text">
        <div class="text__text-title">{{ 'CUSTOMER_ACCOUNT_PROFILE.YOUR_PROFILE' | translate }}</div>
        <div class="text__text-subtitle">{{ 'CUSTOMER_ACCOUNT_PROFILE.ADD_AN_EMAIL' | translate }}</div>
      </div>
    </div>
    <!-- Promo code section -->
    <div class="customer-page_content__promo-code">
      <div class="title">
        <svg-icon svgClass="gift" src="../../../../assets/images/gift.svg"></svg-icon>
        <div class="title-text">
          {{ 'CUSTOMER_ACCOUNT_PROFILE.YOUR_PROMO_CODE' | translate }}
        </div>
      </div>
      <div class="separator"></div>
      <div class="subtitle">
        {{ 'CUSTOMER_ACCOUNT_PROFILE.SHARE_PROMO_CODE' | translate }}
      </div>
      <div class="code">
        {{promoCode}}
      </div>
      <button class="copy-button" [cdkCopyToClipboard]="promoCode" mat-button>
        {{ 'CUSTOMER_ACCOUNT_PROFILE.COPY' | translate }}
      </button>
    </div>
    <!-- Review section -->
    <div class="customer-page_content__review">
      <div class="title">
        {{ 'CUSTOMER_ACCOUNT_PROFILE.GET_UP_TO_DISCOUNT' | translate }}
      </div>
      <div class="subtitle">
        {{ 'CUSTOMER_ACCOUNT_PROFILE.LEAVE_10_REVIEWS' | translate }}
      </div>
      <div class="separator"></div>
      <div class="progress-bar">
        <div class="progress-scale">
          <mat-progress-bar mode="determinate" [value]="reviewsCount"></mat-progress-bar>
        </div>
        <div class="counter">
          <span>{{leavedReviews}}</span>/10
        </div>
      </div>
      <div class="store-image">
        <img src="../../../../assets/images/vendor-log-in-banner.png" alt="store-image" />
      </div>
      <div class="rate-text">
        {{ 'CUSTOMER_ACCOUNT_PROFILE.HOW_WOULD_YOU_RATE' | translate }} <span>{{orderFromLastStoreName}}</span> ?
      </div>
      <button class="review-button" mat-button>
        {{ 'CUSTOMER_ACCOUNT_PROFILE.LEAVE_REVIEW' | translate }}
      </button>
    </div>
    <div class="customer-page_content__bottom">
    </div>
  </div>
</div>
