<div class="cart-item_wrapper">
    <div class="cart-item" [class.opacity]="cartItem.count === 0">
        <div class="cart-item_content">
            <div class="cart-item_content__image">
                <img class="photo" src="https://source.unsplash.com/collection/8613861/350x{{ 200 + cartItem.id }}">
            </div>
            <div class="cart-item_content__description">
                <div class="description_title">{{ cartItem.name }}</div>
                <div class="description_weight">{{ cartItem.weight }} {{ 'CART.UNIT' | translate }}</div>
            </div>
        </div>
        <div class="cart-item_price">
            <div class="cart-item_quantity">
                <div class="cart-item_quantity__minus" (click)="decreaseProductQuantity(cartItem)"><svg-icon [svgClass]="'minus'" src="../../../../assets/images/minus.svg"></svg-icon></div>
                <div class="cart-item_quantity__number">{{ cartItem.quantity }}</div>
                <div class="cart-item_quantity__plus" (click)="increaseProductQuantity(cartItem)"><svg-icon [svgClass]="'plus'" src="../../../../assets/images/plus.svg"></svg-icon></div>
            </div>
        <div class="cart-item_price__text">{{ 'CART.CURRENCY' | translate }} {{ cartItem.price | priceRound }}</div>
            <svg-icon
                class="cart-item_price__icon"
                [svgClass]="'trash'"
                src="../../../../assets/images/trash-icon.svg"
                (click)="removeProductFromCart(cartItem)"
            ></svg-icon>
        </div>
    </div>
    <div *ngIf="cartItem.out_of_stock" class="out-of-stock-notification">{{ 'CART.OUT_OF_STOCK' | translate }}</div>
</div>

