@import '../../../../scss/mixins';
@import '../../../../scss/constants';

.cart-item_wrapper {
    @include flex(column, flex-start, space-between);
    padding: 24.25px 0 12.25px;

    &.opacity {
        opacity: 0.4;
    }

    .cart-item {
        @include flex(row, flex-start, space-between);
        min-width: 448px;
        width: 100%;

        &.opacity {
            opacity: 0.4;
        }

        &_content {
            @include flex(row, center, space-between);

            &__image {
                width: 56px;
                height: 56px;
                margin-right: 12px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__description {
                @include flex(column, flex-start, center);
                width: 186px;

                .description_title {
                    @include text--h4($medium);
                }
                .description_weight {
                    @include text--h5($regular);
                    color: $color-text-grey;
                }
            }
        }



        &_price {
            @include flex(row, center, flex-end);

            .cart-item_quantity {
                @include flex(row,center,space-between);
                @include text--h4($regular);
                height: 24px;
                border-radius: 2px;
                padding: 0 4px;
                margin-right: 12px;
                &:hover {
                    background-color: $orange;
                    color: $white
                }
                &:hover .cart-item_quantity__minus {
                    display:block;
                    padding-bottom: 8px;
                }
                &:hover .cart-item_quantity__plus {
                    display:block;
                }

                &__minus, &__plus {
                    display:hidden;
                    width: 26px;
                    cursor: pointer;
                    text-align: center;
                }

            }

            &__text {
                @include text--h4($regular);
                margin-right: 17px;
            }

            &__icon {

                .trash {
                  cursor: pointer;
                    &:hover {
                        path {
                        fill: $color-text-default;
                        }
                    }
                }
              }
        }
    }

    .out-of-stock-notification {
        @include text--h5 ($medium);
        padding: 4px 8px;
        text-align: left;
        background-color: $footer-background;
        color: $color-text-default;
        width: 448px;
        margin-top: 16px;
    }

}

