@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep.location-pop-up-dialog .mat-dialog-container{
  display: block;
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 24px;
  gap: 32px;
  background-color: $white;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  outline: 0;
  width: 500px;
  height: 124px;
  box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.07);
  border: 0.5px solid $border-color;
  transform: translate(-50%, 0);
}

::ng-deep.cdk-overlay-dark-backdrop {
  background: transparent;
}

.location_pop-up-wrapper {
  @include flex(column, center, flex-start);

  .header {
    @include flex(row, flex-start, space-between);
    width:100%;

    &_text {
      @include flex(column, center, flex-start);
      gap: 4px;

      &__title {
        @include text--h4 ($medium);
        color: $color-text-default;
        margin-bottom: 12px;
        width: 100%;
      }

      &__subtitle {
        @include text--h5($normal);
        color: $color-text-grey;
        margin: 0;
      }

      &__link {
        @include text--h5($medium);
        color: $color-text-default;
        margin: 0;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__action_close {
      cursor: pointer;
    }
  }
}

.mat-dialog-container {
  display: none;
}
