<div class="location_pop-up-wrapper">
    <header class="header">
      <div class="header_text">
        <div class="header_text__title">{{"LOCATION_POP_UP.TITLE" | translate}}</div>
        <div class="header_text__subtitle">{{"LOCATION_POP_UP.SUBTITLE" | translate}}
            <span class="header_text__link" mat-dialog-close (click)="setLocation()">{{"LOCATION_POP_UP.LINK" | translate}}</span>
        </div>
      </div>
      <div class="header__action">
        <img class="header__action_close" src="../../../../assets/images/cross_close.svg"  mat-dialog-close />
      </div>
    </header>
</div>
