<app-popup
  title="Delete all items?"
  subtitle="The cart will be cleared. All items will be removed.">
  <div class="buttons">
    <div class="buttons_cancel" mat-dialog-close>{{'CART.CANCEL' | translate}}</div>
    <div class="buttons_delete" [mat-dialog-close]="true" (click)="removeAllProductsFromCart()">{{'CART.DELETE' | translate}}</div>
  </div>
</app-popup>
