<ng-container [formGroup]="searchForm">
  <app-vendor-sign-up-banner
    *ngIf="isBannerVisible"
    (closeBanner)="onCloseBanner()"
  ></app-vendor-sign-up-banner>
  <div class="banner-wrapper">
  <div
    class="banner-wrapper__img"
    appVisibility
    (notVisible)="onHidden()"
    [threshold]="0.5"
  >
    <div class="banner-wrapper__content">
      <h1>{{ "BANNER.TITLE" | translate }}</h1>
      <div class="banner-wrapper__actions">
        <app-search-bar
        appVisibility
        [debounceTime]="300"
        [threshold]="1"
        (visible)="onVisible()"
        (notVisible)="onHidden()"
        controlName="search"
        ></app-search-bar>
        <button mat-button class="map-button">
          <img src="../../../assets/images/map.svg" /> Open map
        </button>
      </div>
    </div>
  </div>
</div>
</ng-container>
