@import '../../../scss/constants';
@import '../../../scss/mixins';

.banner-wrapper {

  @include flex(column, left, center);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 800px;
  background: url("../../../assets/images/top-banner.svg") no-repeat, linear-gradient(257.91deg, #FDAE4A 1.64%, #FDC379 85.45%);
  background-size: cover;

  &__content {
    width: 100%;
    max-width: 600px;
    padding-left: 120px;

    h1 {
      @include text--h1;
      @include flex (row, center, flex-start);
      letter-spacing: -1.5px;
      color: $color-text-default;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 8px;

    .map-button {
      font-family: 'Inter', serif;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px 16px;
      gap: 6px;
      width: 140px;
      height: 50px;
      background: #F7F7F7;
      border-radius: 2px;
    }
  }
}

@media screen and (max-width: 900px) {
  .banner-wrapper {
    &__img {
      display: flex;
      justify-content: center;
    }
    &__content {
      width: 400px;
      padding-left: 0;
    }
  }
}
