<div class="footer-content">
  <div class="footer-content__title">
    <app-title></app-title>
  </div>

  <div class="footer-content__info">
    <table class="footer-content__info__links">
      <td>
        <tr class="footer-content__info__links__link">
          {{
          "FOOTER.LEAVE_REVIEW" | translate
          }}
        </tr>
        <tr class="footer-content__info__links__link">
          {{
          "FOOTER.VENDORS_MAP" | translate
          }}
        </tr>
        <tr class="footer-content__info__links__link">
          <a href="{{ contactUs }}" target="_blank">
            {{ "FOOTER.CONTACT_US" | translate }}</a
          >
        </tr>
      </td>
    </table>

    <table class="footer-content__info__links">
      <td>
        <tr class="footer-content__info__links__link">
          {{
          "FOOTER.GET_HELP" | translate
          }}
        </tr>
        <tr
          class="footer-content__info__links__link"
          [routerLink]="['/feed/vendor/login']"
        >
          {{
          "FOOTER.LOG_IN_AS_VENDOR" | translate
          }}
        </tr>
        <tr
          class="footer-content__info__links__link"
          [routerLink]="['/feed/moderation/sign-in']"
        >
          <!-- delete ^^^^ [routerLink]="['/feed/moderator/sign-in']" ^^^^ after testing  -->
          {{
          "FOOTER.LOG_IN_AS_COURIER" | translate
          }}
        </tr>
      </td>
    </table>

  </div>
  <div class="footer-content__social">
    <div class="footer-content__social__text">
      {{ "FOOTER.FOLLOW_US" | translate }}
    </div>
    <div class="footer-content__social__icons">
    <span class="footer-content__social__icons__icon">
      <a href="{{ facebook }}" target="_blank">
        <app-svg-icon
          type="facebook"
          backgroundColor="#3B5998"
        ></app-svg-icon
        ></a>
    </span>
      <span class="footer-content__social__icons__icon">
      <a href="{{ linkedin }}" target="_blank"
      ><app-svg-icon
        type="linkedin"
        backgroundColor="#0077B5"
      ></app-svg-icon
      ></a>
    </span>
      <span class="footer-content__social__icons__icon">
      <a href="{{ instagram }}" target="_blank"
      ><app-svg-icon
        type="instagram"
        backgroundColor="#E1306C"
      ></app-svg-icon
      ></a>
    </span>
      <span class="footer-content__social__icons__icon">
      <a href="{{ twitter }}" target="_blank">
        <app-svg-icon
          type="twitter"
          backgroundColor="#1DA1F2"
          fill="white"
        ></app-svg-icon
        ></a>
    </span>
      <span class="footer-content__social__icons__icon">
      <a href="{{ youtube }}" target="_blank+"
      ><svg-icon
        [svgClass]="'youtube'"
        src="../../../../assets/images/social-media-icons/youtube.svg"
        type="youtube"
      ></svg-icon>
      </a>
    </span>
    </div>
  </div>
</div>

<div class="footer-licenses">
  <div class="footer-licenses__license-items">
    <div
      class="footer-licenses__license-items__item"
      (click)="openLink('/feed/privacyPolicy')"
    >
      {{ "FOOTER.PRIVACY_POLICY" | translate }}
    </div>
    <div
      class="footer-licenses__license-items__item"
      (click)="openLink('/feed/termsAndCondactions')"
    >
      {{ "FOOTER.TERMS_AND_CONDITIONS" | translate }}
    </div>
    <div
      class="footer-licenses__license-items__item"
      (click)="openLink('/feed/reportMisconduct')"
    >
      {{ "FOOTER.REPORT_MISCONDUCT" | translate }}
    </div>
  </div>
  <div class="license-FAO">
    {{ "FOOTER.FAO" | translate }}
  </div>
</div>
