@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.footer-content {
  @include flex(row, top, space-between);
  height: 135px;
  border-bottom: 1px solid $border-color;

  &__title {
    @include flex(row, top, space-between);
    cursor: auto;
  }

  &__info {
    @include flex(row, top, space-between);

    &__links {
      border-spacing: 0;
      margin-right: 50px;
      text-align: left;

      &__link {
        display: block;
        padding-bottom: 15px;

        a {
          text-decoration: none;
          color: black;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

  }
  &__social {
    text-align: left;
    color: $color-text-grey;

    &__text {
      @include text--overline--h6;
    }

    &__icons {
      margin-top: 12px;
      display: flex;

      &__icon {
        @include size(40px, 40px);
        margin-right: 20px;

        .youtube {
          cursor: pointer;

          &:hover {
            rect {
              fill: $red;
            }
            path {
              fill: $white;
            }
          }
        }
      }

      &__icon:hover {
        cursor: pointer;
      }

      &__icon:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer-licenses {
  @include flex(row, center, space-between);
  color: $color-text-grey;

  &__license-items {
    display: flex;

    &__item {
      margin-right: 45px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .footer-content {
    padding: 0 calc((100% - 984px) / 2);
    width: 984px;
  }

  .footer-licenses {
    margin: 0 120px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-content {
    flex-wrap: wrap;
    height: max-content;
    width: 100%;

    &__title {
      width: 100%;
      margin-bottom: 20px;
    }
    &__social {
      margin-bottom: 20px;
    }
  }
  .footer-licenses {
    margin: 10px 0;
  }
}
@media screen and (max-width: 900px) {
  .footer-licenses {
    width: 100%;

    &__license-items {
      flex-wrap: wrap;
      width: 80%;

      &__item {
        margin: 10px;
        width: 50%;
      }
    }
  }
}
