<div class="profile">
  <div class="profile_photo">
    <div class="profile_photo-image">
      <img src="../../../../assets/images/login-icon-grey.svg" alt="vector" />
    </div>
    <div class="profile_photo-edit" (click)="showPhotoEditMenu()">
      <img src="../../../../assets/images/edit.svg" alt="vector" />
    </div>
    <div *ngIf="isEdiMenuVisible" class="profile_photo-dropdown">
      <div class="backdrop" (click)="isEdiMenuVisible = false"></div>
      <div class="profile_photo-dropdown__element" (click)="updatePhoto()">{{ 'CUSTOMER_ACCOUNT_PROFILE.PHOTO_UPDATE' | translate }}</div>
      <div class="profile_photo-dropdown__element" (click)="removePhoto()">{{ 'CUSTOMER_ACCOUNT_PROFILE.PHOTO_REMOVE' | translate }}</div>
    </div>
  </div>
  <div class="profile_general">
    <div class="profile_general-main">
      <div class="profile_general-main__title">
        {{ 'CUSTOMER_ACCOUNT_PROFILE.GENERAL' | translate }}
      </div>
      <form class="profile_general-main__form shrinking-mat-form-field shrinking-mat-checkbox-label" [formGroup]="customerDataGroup">
        <mat-form-field appearance="fill">
          <mat-label>
            {{ 'CUSTOMER_ACCOUNT_PROFILE.FULL_NAME' | translate }}
          </mat-label>
          <input
            matInput
            type="text"
            formControlName="customerName"
            placeholder="{{customerName}}"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            Email
          </mat-label>
          <input
            matInput
            type="email"
            formControlName="customerEmail"
            placeholder="{{customerEmail}}"
          />
        </mat-form-field>
        <mat-checkbox
          class="checkbox"
          formControlName="agreeToReceive"
          color="primary"
        >
          {{ 'CUSTOMER_ACCOUNT_PROFILE.AGREE_TO_RECEIVE' | translate }}
        </mat-checkbox>
      </form>
      <div class="profile_general-main__phone">
        <div>
          <div class="text">{{ 'CUSTOMER_ACCOUNT_PROFILE.PHONE_NUMBER' | translate }}</div>
          <div class="number">{{customerPhone}}</div>
        </div>
        <button
          mat-button
          (click)="changeCustomerNumber()"
        >
          {{ 'CUSTOMER_ACCOUNT_PROFILE.CHANGE' | translate }}
        </button>
      </div>
    </div>
    <div class="profile_general-locations">
      <div class="profile_general-locations__title">
        {{ 'CUSTOMER_ACCOUNT_PROFILE.SAVED_LOCATIONS' | translate }}
      </div>
      <div class="profile_general-locations__add">
        <button
          mat-button
          class="profile_general-locations__add-button"
          (click)="openMapDialog()"
        >
          <mat-icon>add</mat-icon>
          <span class="title">{{ 'CUSTOMER_ACCOUNT_PROFILE.ADD_ADDRESS' | translate }}</span>
        </button>
      </div>
      <ng-container
        class="profile_general-locations__addresses"
        *ngIf="customerLocation[0]; else noAddress"
      >
        <div class="address"  *ngFor="let address of customerLocation">{{address}}</div>
      </ng-container>
    </div>
    <div class="profile_general-buttons">
      <button
        mat-button
        class="profile_general-buttons__delete"
        (click)="deleteAccount()"
      >
        {{ 'CUSTOMER_ACCOUNT_PROFILE.DELETE' | translate }}
      </button>
      <div class="profile_general-buttons__devider"></div>
      <button
        class="profile_general-buttons__discard"
        mat-button
        (click)="discardChanges()"
      >
        {{ 'CUSTOMER_ACCOUNT_PROFILE.DISCARD_CHANGES' | translate }}
      </button>
      <button
        class="profile_general-buttons__save"
        mat-button
        (click)="updateUserData()"
        [disabled]="this.customerDataGroup.invalid"
      >
        {{ 'CUSTOMER_ACCOUNT_PROFILE.SAVE_CHANGES' | translate }}
      </button>
    </div>
  </div>
</div>
<ng-template #noAddress >
    <div class="profile_general-locations__no-address">
      {{ 'CUSTOMER_ACCOUNT_PROFILE.NO_ADDRESS' | translate }}
    </div>
</ng-template>
