@import "../../../../scss/mixins";

.profile {
  @include flex(row, space-between, flex-start);
  @include text--h4($regular);
  padding: 32px;

  .profile_photo {
    @include size(140px, 100%);
    margin-right: 60px;
    flex-grow: 2;

    .profile_photo-image {
      @include size(140px, 140px);
      border-radius: 70px;
      background-color: $light-grey;
      overflow: hidden;

      img {
        @include size(100%, 100%);
        position: relative;
        border-radius: 70px;
        top: 10px;
      }
    }

    .profile_photo-edit {
      @include size(36px, 36px);
      border-radius: 18px;
      cursor: pointer;
      background-color: $light-grey;
      position: relative;
      top: -20px;
      left: 50px;

      img {
        padding: 9px 9px;
      }
    }

    .profile_photo-dropdown {
      @include size(140px, 96px);
      @include flex(column, center, center);
      border: 1px solid $light-grey;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 8px 0;

      &__element {
        margin: auto;
        cursor: pointer;
      }
    }
  }

  .profile_general {
    @include flex(column, stretch, space-between);
    flex-grow: 6;

    .profile_general-main {
      @include flex(column, stretch, space-between);
      margin-bottom: 32px;

      &__title {
        font-weight: $semibold;
        margin-bottom: 16px;
      }

      &__form {
        @include flex(column, stretch, space-between);
        flex-grow: 1;
        margin-bottom: 16px;

        .checkbox span {
          display: inline-block;
          word-break: break-word;
          background-color: red;
        }
      }

      &__phone {
        @include flex(row, stretch, space-between);

        .text {
          @include text--overline--h6();
          color: $dark-grey;
        }

        .mat-button {
          @include text--h5($regular);
          text-decoration: underline;
        }
      }
    }

    .profile_general-locations {

      &__title {
        font-weight: $semibold;
      }

      &__add-button {
        padding: 0 5px;

        .title {
          @include text--h4($regular);
          margin-left: 4px;
        }
      }

      &__addresses {
        margin-top: 8px;
      }

      &__no-address {
        margin-top: 8px;
      }
    }

    .profile_general-buttons {
      @include flex(row, center, space-between);
      margin-top: 32px;

      .mat-button {
        @include text--h4($regular);
        height: 48px;
      }

      &__delete {
        color: $red;
        margin-right: 10px;
      }

      &__divider {
        flex-grow: 1;
      }

      &__save {
        background-color: $orange;
        color: $white;
        margin-left: 10px;
      }
    }
  }
}

.backdrop {
  @include size(100vw, 100vh);
  position: fixed;
  left: 0;
  top: 0;
}
