<div class="new-product">
  <div class="new-product_title">
    <app-navigation
      navigation="/feed/vendor/login"
      home="Products"
      address="{{ product?.name || 'New product' }}"
    ></app-navigation>
    <div class="new-product_title_buttons">
      <div
        *ngIf="!wasProductPublished"
        class="new-product_title_remove-button"
        (click)="openRemoveProductDialog()"
      >
        <div>
          <svg-icon
            src="../../../../assets/images/red-trash-icon.svg"
          ></svg-icon>
        </div>
        <div class="new-product_title_remove-button__text">
          {{ "VENDOR_PRODUCT.REMOVE_PRODUCT" | translate }}
        </div>
      </div>
      <div
        *ngIf="
          product &&
          (product?.approval_status)![0] !== productStatus.Draft &&
          (product?.approval_status)![0] !== productStatus.Archived
        "
        class="new-product_title_archive-button"
        (click)="openArchiveProductDialog()"
      >
        <div>
          <svg-icon src="../../../../assets/images/archive.svg"></svg-icon>
        </div>
        <div class="new-product_title_archive-button__text">
          {{ "VENDOR_PRODUCT.ARCHIVE_PRODUCT" | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="new-product_table">
    <div class="new-product_table__navigation">
      <div
        class="new-product_table__navigation_item"
        (click)="switchCurrentTab('information')"
        [class.active]="currentTab === 'information'"
      >
        {{ "VENDOR_PRODUCT.INFORMATION" | translate }}
      </div>
      <div
        class="new-product_table__navigation_item"
        (click)="switchCurrentTab('status-history')"
        [class.active]="currentTab === 'status-history'"
      >
        {{ "VENDOR_PRODUCT.STATUS_HISTORY" | translate }}
      </div>
    </div>
    <div *ngIf="currentTab === 'information'" [formGroup]="newProductForm">
      <div class="new-product_table__general">
        <div class="new-product_table__general_info">
          <div class="new-product_table__general_title">
            {{ "VENDOR_PRODUCT.GENERAL" | translate }}
            <span
              *ngIf="product?.approval_status"
              class="new-product_table__general_title_status_{{
                product?.approval_status
                  ?.toString()
                  ?.toLowerCase()
                  ?.replace(' ', '-')
              }}"
            >
              {{ processStatus(product!.approval_status![0]) }}
            </span>
          </div>
          <div class="new-product_table__general_inputs">
            <div class="new-product_table__general_inputs__product-name">
              <mat-form-field appearance="outline" hideRequiredMarker>
                <mat-label
                  [ngClass]="
                    newProductForm.get('productName')!.invalid &&
                    newProductForm.get('productName')!.touched
                      ? 'error'
                      : ''
                  "
                >{{ "VENDOR_PRODUCT.PRODUCT_NAME" | translate }}</mat-label
                >
                <input
                  matInput
                  placeholder="Product name"
                  formControlName="productName"
                />
                <mat-hint>{{
                  "VENDOR_PRODUCT.PRODUCT_NAME_HINT" | translate
                  }}</mat-hint>
                <mat-error
                  *ngIf="
                    newProductForm.get('productName')!.hasError('maxlength')
                  "
                >{{
                  "VENDOR_PRODUCT.PRODUCT_NAME_HINT" | translate
                  }}</mat-error
                >
                <mat-error
                  *ngIf="
                    newProductForm.get('productName')!.hasError('minlength')
                  "
                >{{
                  "VENDOR_PRODUCT.PRODUCT_NAME_MIN_LENGTH" | translate
                  }}</mat-error
                >
                <mat-error
                  *ngIf="
                    newProductForm.get('productName')!.hasError('required')
                  "
                >{{ "VENDOR_PRODUCT.ENTER_NAME" | translate }}</mat-error
                >
              </mat-form-field>
            </div>
            <div
              class="new-product_table__general_inputs__ingredients"
              [ngClass]="{
                'ingredient-error-board':
                  !dishIngredientSelectedList[0] &&
                  newProductForm.get('productCtrl')?.touched
              }"
            >
              <mat-form-field
                class="example-chip-list"
                appearance="outline"
                hideRequiredMarker
              >
                <mat-label
                  [ngClass]="
                    dishIngredientSelectedList.length === 0 &&
                    newProductForm.get('productCtrl')!.touched
                      ? 'error'
                      : ''
                  "
                >{{ "VENDOR_PRODUCT.INGREDIENTS" | translate }}</mat-label
                >
                <mat-chip-list #chipList aria-label="Product selection">
                  <mat-chip
                    *ngFor="let product of dishIngredientSelectedList"
                    (removed)="removeIngredient(product)"
                  >
                    {{ transformFirstLetterToUpperCase(product) }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    #productInput
                    formControlName="productCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    (matChipInputTokenEnd)="addIngredient($event)"
                  />
                </mat-chip-list>

                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selectedIngredient($event)"
                >
                  <mat-option
                    *ngFor="let product of dishIngredientFilteredList | async"
                    [value]="product"
                  >
                    {{ product }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div
                class="ingredient-error"
                *ngIf="
                  !dishIngredientSelectedList[0] &&
                  newProductForm.get('productCtrl')?.touched
                "
              >
                {{ "VENDOR_PRODUCT.ENTER_INGREDIENTS" | translate }}
              </div>
            </div>

            <div class="new-product_table__general_inputs_group">
              <div class="new-product_table__general_inputs__weight">
                <mat-form-field appearance="outline" hideRequiredMarker>
                  <mat-label
                    [ngClass]="
                      newProductForm.get('productWeight')!.invalid &&
                      newProductForm.get('productWeight')!.touched
                        ? 'error'
                        : ''
                    "
                  >{{ "VENDOR_PRODUCT.WEIGHT" | translate }}</mat-label
                  >
                  <input
                    type="number"
                    matInput
                    placeholder="Weight*"
                    formControlName="productWeight"
                  />
                  <span matSuffix>{{ "CART.UNIT" | translate }}</span>
                  <mat-error
                    *ngIf="
                      newProductForm.get('productWeight')!.hasError('required')
                    "
                  >{{ "VENDOR_PRODUCT.ENTER_WEIGHT" | translate }}</mat-error
                  >
                  <mat-error
                    *ngIf="
                      newProductForm.get('productWeight')!.hasError('pattern')
                    "
                  >Incorrect weight</mat-error
                  >
                </mat-form-field>
              </div>

              <div
                class="new-product_table__general_inputs__cooking-time cooking-time-prefix"
              >
                <mat-form-field appearance="outline" hideRequiredMarker>
                  <mat-label
                    [ngClass]="
                      newProductForm.get('productCookingTime')!.invalid &&
                      newProductForm.get('productCookingTime')!.touched
                        ? 'error'
                        : ''
                    "
                  >{{ "VENDOR_PRODUCT.COOKING_TIME" | translate }}</mat-label
                  >
                  <mat-select
                    placeholder="Cooking time*"
                    formControlName="productCookingTime"
                  >
                    <mat-option
                      *ngFor="let interval of cookingIntervalList"
                      [value]="interval"
                    >{{ interval }}</mat-option
                    >
                  </mat-select>
                  <span matSuffix>{{ "VENDOR_PRODUCT.MIN" | translate }}</span>
                  <mat-error
                    *ngIf="
                      newProductForm
                        .get('productCookingTime')!
                        .hasError('required')
                    "
                  >{{
                    "VENDOR_PRODUCT.ENTER_COOKING_TIME" | translate
                    }}</mat-error
                  >
                  <mat-error
                    *ngIf="
                      newProductForm
                        .get('productCookingTime')!
                        .hasError('pattern')
                    "
                  >Incorrect cooking time</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="new-product_table__general_group">
            <div
              class="new-product_table__general_group_title"
              [class.invalid]="isFoodGroupEmpty"
            >
              {{ "VENDOR_PRODUCT.FOOD_GROUPS" | translate }}
            </div>
            <div class="new-product_table__general_group_items">
              <div
                *ngFor="let group of foodGroupList$ | async"
                class="new-product_table__general_group_items__item"
                [class.checked]="group.status === true"
                (click)="handleFoodGroupClick(group.id)"
              >
                <div
                  *ngIf="group.status === true; else check"
                  class="new-product_table__general_group_items__item__icon"
                >
                  <svg-icon
                    src="../../../../assets/images/black-check.svg"
                  ></svg-icon>
                </div>
                <ng-template #check>
                  <div
                    class="new-product_table__general_group_items__item__icon"
                  >
                    <svg-icon
                      src="../../../../assets/images/grey-plus.svg"
                    ></svg-icon>
                  </div>
                </ng-template>
                <span>{{ transformFirstLetterToUpperCase(group.name) }}</span>
              </div>
            </div>
            <div
              *ngIf="isFoodGroupEmpty === true"
              class="new-product_table__general_group_error"
            >
              {{ "VENDOR_PRODUCT.SELECT_FOOD_GROUP" | translate }}
            </div>
          </div>

          <div class="new-product_table__general_group">
            <div class="new-product_table__general_group_title">
              {{ "VENDOR_PRODUCT.DIETARY_TAG" | translate }}
            </div>
            <div class="new-product_table__general_group_items">
              <div
                *ngFor="let tag of dietaryTypeList$ | async"
                class="new-product_table__general_group_items__item"
                [class.checked]="tag.status === true"
                [class.disabled]="tag.isDisabled"
                (click)="handleDietaryTypeListClick(tag.id)"
              >
                <div
                  *ngIf="tag.status === true; else check"
                  class="new-product_table__general_group_items__item__icon"
                >
                  <svg-icon
                    src="../../../../assets/images/black-check.svg"
                  ></svg-icon>
                </div>
                <ng-template #check>
                  <div
                    class="new-product_table__general_group_items__item__icon"
                  >
                    <svg-icon
                      src="../../../../assets/images/grey-plus.svg"
                    ></svg-icon>
                  </div>
                </ng-template>
                <span>{{ transformFirstLetterToUpperCase(tag.name) }}</span>
              </div>
            </div>
          </div>

          <div class="new-product_table__general_pricing">
            <div class="new-product_table__general_pricing_title">
              {{ "VENDOR_PRODUCT.PRICING" | translate }}
            </div>
            <div class="new-product_table__general_pricing-group">
              <div class="new-product_table__general_pricing__price">
                <mat-form-field appearance="outline" hideRequiredMarker>
                  <mat-label
                    [ngClass]="
                      newProductForm.get('productPrice')!.invalid &&
                      newProductForm.get('productPrice')!.touched
                        ? 'error'
                        : ''
                    "
                  >{{ "VENDOR_PRODUCT.PRICE" | translate }}</mat-label
                  >
                  <input
                    type="text"
                    matInput
                    placeholder="Price*"
                    formControlName="productPrice"
                  />
                  <span matSuffix>{{ "CART.CURRENCY" | translate }}</span>
                  <mat-error
                    *ngIf="
                      newProductForm.get('productPrice')!.hasError('required')
                    "
                  >Please enter the price</mat-error
                  >
                  <mat-error
                    *ngIf="
                      newProductForm.get('productPrice')!.hasError('pattern')
                    "
                  >Incorrect price</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                *ngIf="isShownDiscountInput"
                class="new-product_table__general_pricing__discount"
              >
                <mat-form-field appearance="outline">
                  <mat-label
                    [ngClass]="
                      newProductForm.get('productDiscount')!.invalid &&
                      newProductForm.get('productDiscount')!.touched
                        ? 'error'
                        : ''
                    "
                  >{{
                    "VENDOR_PRODUCT.DISCOUNT_LABEL" | translate
                    }}</mat-label
                  >
                  <input
                    type="text"
                    matInput
                    placeholder="Discount*"
                    formControlName="productDiscount"
                  />
                  <span matSuffix>{{
                    "VENDOR_PRODUCT.PERCENT" | translate
                    }}</span>
                  <mat-error
                    *ngIf="
                      newProductForm.get('productDiscount')!.hasError('pattern')
                    "
                  >Incorrect discount</mat-error
                  >
                  <mat-error
                    *ngIf="
                      newProductForm.get('productDiscount')!.hasError('max')
                    "
                  >Incorrect discount. Max 100%</mat-error
                  >
                </mat-form-field>
              </div>
              <div
                *ngIf="isShownDiscountInput"
                (click)="hideDiscountInput()"
                class="new-product_table__general_pricing__trash-icon"
              >
                <svg-icon
                  src="../../../../assets/images/red-trash-icon.svg"
                ></svg-icon>
              </div>
              <div
                *ngIf="!isShownDiscountInput"
                (click)="showDiscountInput()"
                class="new-product_table__general_pricing_add-discount"
              >
                <div
                  class="new-product_table__general_pricing_add-discount__icon"
                >
                  <svg-icon
                    [svgClass]="'plus'"
                    src="../../../../assets/images/plus.svg"
                  ></svg-icon>
                </div>
                <div
                  class="new-product_table__general_pricing_add-discount__text"
                >
                  {{ "VENDOR_PRODUCT.ADD_DISCOUNT" | translate }}
                </div>
              </div>
            </div>
            <div class="new-product_table__general_pricing_resume">
              <div
                *ngIf="
                  newProductForm.get('productPrice')?.valid &&
                  newProductForm.get('productDiscount')?.value &&
                  newProductForm.get('productDiscount')?.valid &&
                  finalProductPrice
                "
                class="new-product_table__general_pricing_resume__item"
              >
                <div
                  class="new-product_table__general_pricing_resume__item_title"
                >
                  {{ "VENDOR_PRODUCT.DISCOUNT" | translate }}
                </div>
                <div
                  class="new-product_table__general_pricing_resume__item_discount"
                >
                  -{{ "CART.CURRENCY" | translate }}{{ discount }}
                </div>
              </div>
              <div
                *ngIf="
                  newProductForm.get('productPrice')?.valid &&
                  newProductForm.get('productDiscount')?.value &&
                  newProductForm.get('productDiscount')?.valid &&
                  finalProductPrice
                "
                class="new-product_table__general_pricing_resume__item"
              >
                <div
                  class="new-product_table__general_pricing_resume__item_title"
                >
                  {{ "VENDOR_PRODUCT.FINAL_PRICE" | translate }}
                </div>
                <div
                  class="new-product_table__general_pricing_resume__item_final-price"
                >
                  {{ "CART.CURRENCY" | translate }}{{ finalProductPrice }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="new-product_table__general_photo">
          <div class="new-product_table__general_title">
            {{ "VENDOR_PRODUCT.SET_A_PHOTO" | translate }}
          </div>
          <div class="new-product_table__general_subtitle">
            {{ "VENDOR_PRODUCT.THE_PROBABILITY" | translate }}
          </div>
          <div *ngIf="product?.image; else productImageFiller">
            <img class="new-product_table__general_photo_product-photo" [src]="getImage(product?.image ?? '')" alt="product image">
          </div>
          <ng-template #productImageFiller>
            <div class="new-product_table__general_photo__container"></div>
          </ng-template>
          <div class="new-product_table__general_photo__hint">
            <div class="new-product_table__general_photo__hint_icon">
              <svg-icon
                src="../../../../assets/images/hint-icon.svg"
              ></svg-icon>
            </div>
            <div class="new-product_table__general_photo__hint_text">
              {{ "VENDOR_PRODUCT.HINT" | translate }}
            </div>
          </div>
          <div class="new-product_table__general_photo__buttons-row">
            <input
              id="productPhoto"
              type="file"
              accept="image/*"
              class="new-product_table__general_photo__buttons-row__upload-photo_input"
              (change)="onFileSelected($event)"
            >
            <label for="productPhoto" class="new-product_table__general_photo__buttons-row__upload-photo">
              <div class="new-product_table__general_photo__buttons-row__upload-photo_icon">
                <svg-icon
                  src="../../../../assets/images/file-upload.svg"
                ></svg-icon>
              </div>
              <div class="new-product_table__general_photo__buttons-row__upload-photo_text">
                {{ "VENDOR_PRODUCT.UPLOAD_PHOTO" | translate }}
              </div>
            </label>
            <button class="new-product_table__general_photo__buttons-row__delete-photo" *ngIf="product?.image" (click)="deletePhoto()">
              <svg-icon
                src="../../../../assets/images/red-trash-icon.svg"
              ></svg-icon>
              <span class="new-product_table__general_photo__buttons-row__delete-photo_text">
                {{ "VENDOR_PRODUCT.DELETE_PRODUCT_PHOTO" | translate }}
              </span>
            </button>
          </div>
        </div>
      </div>
      <div
        class="new-product_table__buttons"
        [style]="
          product && (product?.approval_status)![0] !== productStatus.Draft
            ? 'justify-content: flex-end'
            : ''
        "
      >
        <div
          *ngIf="
            !product || (product?.approval_status)![0] === productStatus.Draft
          "
          class="new-product_table__buttons_save-draft-button button"
          (click)="manipulateProduct()"
        >
          {{ "VENDOR_PRODUCT.SAVE_A_DRAFT" | translate }}
        </div>
        <div class="new-product_table__buttons_group">
          <div
            class="new-product_table__buttons_group_cancel-button button"
            (click)="navigateToProductsPage()"
          >
            {{ "VENDOR_PRODUCT.CANCEL" | translate }}
          </div>
          <div
            class="new-product_table__buttons_group_publish-button button"
            (click)="manipulateProduct(productStatus.InModeration)"
          >
            {{ "VENDOR_PRODUCT.PUBLISH" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentTab === 'status-history'">
      <app-status-history></app-status-history>
    </div>
  </div>
  <ng-template #modalHintDescription>
    <div class="new-product__modal-hint">
      <svg-icon
        src="../../../../assets/images/hint-icon.svg"
      ></svg-icon>
      <div>
        <div class="new-product_modal__hint_text">
          {{ "VENDOR_PRODUCT.HINT" | translate }}
        </div>
        <ul>
          <li>{{ "VENDOR_PRODUCT.PRODUCT_PHOTO_HINTS.HINT_1" | translate }}</li>
          <li>{{ "VENDOR_PRODUCT.PRODUCT_PHOTO_HINTS.HINT_2" | translate }}</li>
          <li>{{ "VENDOR_PRODUCT.PRODUCT_PHOTO_HINTS.HINT_3" | translate }}</li>
          <li>{{ "VENDOR_PRODUCT.PRODUCT_PHOTO_HINTS.HINT_4" | translate }}</li>
        </ul>
      </div>
    </div>
  </ng-template>
</div>
