@import "../../../../scss/constants";
@import "../../../../scss/mixins";

.ingredient-error-board {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $red !important;
    font-size: 10px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: inherit!important;
  }
}

.cooking-time-prefix {
  ::ng-deep .mat-form-field-suffix {
    position: static !important;
  }
}

@mixin status {
  font-size: 14px;
  font-weight: $semibold;
  border: 0.5px solid;
  border-radius: 4px;
  padding: 2px 8px;
  margin-left: 12px;
  line-height: 20px;
}

::ng-deep .mat-select-arrow {
  border-top: none !important;
}

::ng-deep .mat-select-value {
  padding-bottom: 10px;
}

.ingredient-error {
  color: #DC1C1C;
  margin-left: 12px;
  margin-top: -13.5px;
  font-size: 12px;
}

.new-product {
  margin: 0 6%;

  &_title {
    @include flex(row, flex-start, space-between);

    &_buttons {
      @include flex(row, flex-start, space-between);
    }

    &_remove-button {
      @include flex(row, flex-start, space-between);
      @include text--h4($medium);
      color: $red;
      padding: 8px 16px;
      border: 1px solid $red200;
      border-radius: 4px;

      &__text {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &_archive-button {
      @include flex(row, flex-start, space-between);
      @include text--h4($medium);
      color: $color-text-default;
      padding: 8px 16px;
      border: 1px solid $grey-button-background;
      border-radius: 4px;
      margin-left: 12px;

      &__text {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &_table {
    border: 1px solid $grey-button-background;
    border-radius: 4px 4px 0 0;
    margin: 34px 0 0 12px;
    background: $white;

    &__navigation {
      @include flex(row, center, flex-start);
      border-bottom: 1px solid $grey-button-background;

      &_item {
        @include text--h5($medium);
        color: $dark-grey;
        padding: 13px 41.5px 15px;
        border-bottom: 2px solid transparent;

        &.active {
          border-bottom: 2px solid $orange;
          color: $orange;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__general {
      @include flex(row, flex-start, space-between);
      padding: 4% 10% 4% 4%;
      border-bottom: 1px solid $grey-button-background;

      &_title {
        @include text--h8($medium);
        display: flex;
        align-items: center;

        &_status {
          &_in-moderation {
            @include status;
            color: $dark-orange;
            background-color: $banner-background;
            border-color: $light-orange;
          }

          &_published {
            @include status;
            color: $green700;
            background-color: $green100;
            border-color: $green300;
          }

          &_declined {
            @include status;
            color: $red500;
            background-color: $red100;
            border-color: $red300;
          }

          &_archived {
            @include status;
            color: $color-text-default;
            background-color: $light-grey;
            border-color: $dark-grey;
          }

          &_draft {
            @include status;
            border-color: $easy-grey;
          }
        }
      }

      &_subtitle {
        @include text--h5($regular);
        margin: 8px 0 24px;
        max-width: 300px;
        width: 100%;
      }

      ::ng-deep {
        .mat-form-field {
          width: 100%;

          ::placeholder {
            color: $grey-button-background;
          }

          .mat-hint {
            @include text--h6;
            color: $dark-grey;
          }

          input {
            @include text--h4($regular);
            color: $color-text-default;
            caret-color: $color-text-default;
          }

          .mat-form-field-suffix {
            color: $dark-grey;
          }

          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset;
          }

          .mat-form-field-label {
            @include text--h4($regular);
            color: $dark-grey;
          }
        }

        .mat-form-field-appearance-outline .mat-form-field-outline {
          color: $grey-button-background;
        }

        .mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 0.3em 0;
        }

        .mat-input-element {
          position: relative;
          top: -0.1em;
        }

        .mat-form-field-label-wrapper {
          top: -1.6em;
          padding-top: 1.6rem;
        }

        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
          top: -0.35em;
        }

        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
          .mat-form-field-label,
        .mat-form-field-appearance-outline.mat-form-field-can-float
          .mat-input-server:focus
          + .mat-form-field-label-wrapper
          .mat-form-field-label {
          transform: translateY(-1.1em) scale(0.75);
        }

        .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
          .mat-form-field-outline-thick {
          color: $red;
        }

        .mat-form-field-appearance-outline.mat-focused
          .mat-form-field-outline-thick {
          color: $color-text-default;
        }

        .mat-form-field.mat-focused .mat-form-field-label {
          color: $color-text-default;
        }

        .mat-error {
          @include text--h6;
          color: $red;
        }
      }

      &_inputs {
        @include flex(column, flex-start, flex-start);
        width: 100%;

        &__product-name,
        &__ingredients {
          width: 100%;
        }
        &__product-name {
          margin-top: 28px;
        }

        &__ingredients {
          margin: 24px 0;

          .validation {
            @include text--h6;
            width: 100%;
            color: $red;

            &.wrong {
              position: absolute;
              top: 75px;
              left: -12px;
              width: 416px;
            }
          }

          ::ng-deep {
            .mat-form-field-appearance-outline .mat-form-field-infix {
              padding: 1.5em 0;
            }

            .mat-input-element {
              position: relative;
              top: -0.1em;
            }

            .mat-form-field-label-wrapper {
              top: -1.6em;
              padding-top: 1.6rem;
            }

            .mat-form-field-appearance-outline .mat-form-field-prefix,
            .mat-form-field-appearance-outline .mat-form-field-suffix {
              top: -0.35em;
            }

            .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
              .mat-form-field-label,
            .mat-form-field-appearance-outline.mat-form-field-can-float
              .mat-input-server:focus
              + .mat-form-field-label-wrapper
              .mat-form-field-label {
              transform: translateY(-1.1em) scale(0.75);
            }

            .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
              .mat-form-field-outline-thick {
              color: $red;
            }
          }
        }

        &_group {
          @include flex(row, center, space-between);
          width: 100%;
        }

        &__weight,
        &__cooking-time {
          width: 49%;
          margin-bottom: 28px;
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      &_info {
        width: 55%;
      }

      &_photo {
        width: 33%;

        &_product-photo {
          width: 100%;
        }

        &__container {
          @include size(100%, 166px);
          max-width: 300px;
          border: 1px dashed $border-color;
          border-radius: 4px;
        }

        &__hint {
          @include flex(row, center, space-between);
          @include text--h6;
          color: $dark-grey;
          margin: 16px 0;
          max-width: 300px;
          width: 100%;

          &_text {
            margin-left: 8px;
          }
        }

        &__buttons-row {
          @include flex(row, center, flex-start);
          gap: 12px;
          flex-wrap: wrap;

          &__upload-photo {
            @include flex(row, center, space-between);
            @include text--h5($regular);
            padding: 6px 8px;
            border: 1px solid $grey-button-background;
            border-radius: 4px;
            max-width: max-content;

            &_input {
              display: none;
            }
            &_text {
              margin-left: 10px;
            }
            &:hover {
              cursor: pointer;
            }
          }
          &__delete-photo {
            @include flex(row, center, space-between);
            @include text--h4($medium);
            color: $red;
            padding: 8px 16px;
            border: 1px solid $red200;
            border-radius: 4px;
            cursor: pointer;
            background: transparent;

            &_text {
              margin-left: 10px;
            }
          }
        }
      }

      &_group {
        @include text--h5($medium);
        width: 100%;
        margin-bottom: 20px;

        &_title {
          margin-bottom: 12px;

          &.invalid {
            color: $red;
          }
        }

        &_error {
          @include text--h6;
          color: $red;
          margin-left: 1em;
        }

        &_items {
          width: 100%;
          @include flex(row, center, flex-start);
          flex-wrap: wrap;
          color: $dark-grey;

          &__item {
            @include flex(row, center, space-between);
            border: 1px solid $grey-button-background;
            border-radius: 4px;
            padding: 6px 12px;
            margin: 0 4px 4px 0;
            background: $grey;

            &:hover {
              cursor: pointer;
            }

            span {
              margin-left: 8px;
            }

            &.checked {
              color: $color-text-default;
              border: 1px solid $dark-grey;
              background: $light-grey;
            }

            &.disabled {
              background-color: $easy-grey;
              pointer-events: none;
            }

            &__icon {
              @include size(16px, 20px);
            }
          }
        }
      }

      &_pricing {
        margin-top: 36px;
        width: 100%;

        &_title {
          @include text--h8($medium);
          margin-bottom: 28px;
        }

        &-group {
          @include flex(row, center, flex-start);
        }

        &__price,
        &__discount {
          width: 43.6%;
          margin-right: 8px;
        }

        &__trash-icon {
          @include size(40px, 40px);
          margin-left: 16px;

          &:hover {
            cursor: pointer;
          }
        }

        &_add-discount {
          @include flex(row, center, space-between);
          padding: 4px 16px 1.34375em 16px;

          &:hover {
            cursor: pointer;
          }

          &__text {
            @include text--h4($medium);
          }

          &__icon {
            margin-right: 11px;

            .plus {
              path {
                fill: $color-text-default;
              }
            }
          }
        }

        &_resume {
          @include flex(row, center, flex-start);
          min-height: 44px;
          &__item {
            @include flex(column, flex-start, flex-start);
            margin-right: 24px;

            &_title {
              @include text--overline--h6;
              text-transform: uppercase;
              color: $dark-grey;
              letter-spacing: 0.5px;
            }

            &_discount {
              @include text--h8($medium);
              color: $dark-grey;
              letter-spacing: 0.15px;
            }

            &_final-price {
              @include text--h8($medium);
              color: $color-text-default;
              letter-spacing: 0.15px;
            }
          }
        }
      }
    }

    &__buttons {
      @include flex(row, center, space-between);
      padding: 16px 24px;

      .button {
        @include text--h4($medium);
        border-radius: 4px;
        padding: 8px 16px;

        &:hover {
          cursor: pointer;
        }
      }

      &_save-draft-button {
        color: $color-text-default;
        border: 1px solid $grey-button-background;
        background: $white;

        &.disabled {
          color: $dark-grey;
          border: 1px solid $grey-button-background;
          background: $grey;
        }
      }

      &_group {
        @include flex(row, center, center);

        &_cancel-button {
          color: $color-text-default;
          margin-right: 8px;
        }

        &_publish-button {
          color: $white;
          background: $orange;
        }
      }
    }
  }

  .error {
    color: $red;
  }

  &__modal-hint {
    @include flex(row, flex-start, flex-start);
    gap: 10px;
    margin-top: 10px;
  }
}
