<google-map
  [height]="height"
  [width]="width"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="mapClick($event)"
>
  <map-marker
    #markerEl="mapMarker"
    *ngFor="let marker of markers"
    [position]="marker.position"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo($any(markerEl), marker.title)"
    (mapDragend)="getNewPosition($event)"
  >
  </map-marker>
  <map-info-window>{{ markerContent }}</map-info-window>
</google-map>
