<div class="wrapper">
  <div class="input-group">
    <ng-otp-input
      [ngClass]="{errorInput: isVerificationCodeValid === false || isVerificationCodeExpired === true }"
      #ngOtpInput
      (onInputChange)="onOtpChange($event)"
      (focusin)="focusOnInput($event)"
      (focusout)="focusOutInput($event)"
      *ngIf="showOtpComponent"
      [config]="config"
    >
    </ng-otp-input>
  </div>
  <div *ngIf="isVerificationCodeValid === false" class="error">{{ 'SIGN_UP.INVALID_CODE' | translate }}</div>
  <div *ngIf="isVerificationCodeExpired === true" class="error">{{ 'SIGN_UP.EXPIRED_CODE' | translate }}</div>
</div>
