@import '../../../../scss/mixins';
@import '../../../../scss/constants';

.wrapper {
  @include flex(column, center, center);
  width: 100%;

  .input-group {
    @include flex(row, center, space-between);

    ::ng-deep{
      .errorInput .input-otp-component {
        border-bottom: 2px solid $red;
      }

      .focus {
        border-bottom: solid 1.5px $color-text-default;
      }
    }

    &_item {
      @include text--h4($regular);
      @include size (48px, 48px);
      text-align: center;
      border: none;
      background-color: $light-grey;
      margin-bottom: 26px;
      margin-right: 12px;

      &::-webkit-inner-spin-button {
        display: none;
      }

      &:hover {
        border-bottom: solid 1.5px $color-text-default;
      }

      &:focus {
        @include text--h4($regular);
        text-align: center;
        outline: none;
      }
    }
  }

  .error {
    @include text--h6;
    color: $red;
    margin-top: 12px;
  }
}
