<div
  class="status_history_container"
  *ngFor="let group of statusFront | groupBy : 'month'; let i = index"
>
  <div *ngIf="i !== 0" class="status_history_container__key">
    <h1 class="status_history_container__key_btn">
      {{ group.key }}
    </h1>
  </div>
  <div *ngFor="let item of group.value" class="status_history_container__item">
    <div class="status_history_container__item__changed">
      <b *ngIf="item.changed_by === 'vendor'"> You</b>
      <b *ngIf="item.changed_by === 'moderator'"> Moderator</b> changed the
      status
      <span class="status_history_container__item__changed__date">
        {{ item.created_at | date : "mediumDate" }} at
        {{ item.created_at | date : "shortTime" }}
      </span>
      <div class="status_history_container__item__status">
        <button
          [ngClass]="{'status_history_container__item__draft': item.old_status==='Draft',          'status_history_container__item__in-moderation': item.old_status==='On moderation','status_history_container__item__published': item.old_status==='Published',
                   'status_history_container__item__declined': item.old_status==='Declined',
                   'status_history_container__item__archived': item.old_status==='Archived',
                   'status_history_container__item__changed': item.old_status==='Changed'
                    }"
        >

          {{ item.old_status.replace('In moderation', 'On moderation') }}
        </button>
        <svg-icon
          class="status_history_container__item__status__svg"
          src="../../../../assets/images/arrow_right_vendor_status_history.svg"
        ></svg-icon>
        <button
          [ngClass]="{ 'status_history_container__item__draft': item.new_status==='Draft',          'status_history_container__item__in-moderation': item.new_status==='On moderation','status_history_container__item__published': item.new_status==='Published',
           'status_history_container__item__declined': item.new_status==='Declined',
           'status_history_container__item__archived': item.new_status==='Archived',
           'status_history_container__item__changed': item.new_status==='Changed'
            }">

          {{ item.new_status.replace('In moderation', 'On moderation') }}
        </button>
      </div>
      <div
        *ngIf="item.review"
        class="status_history_container__item__changed__msg"
      >
        <div class="status_history_container__item__changed__msg__svg">
          <svg-icon src="../../../../assets/images/msg.svg"></svg-icon>
        </div>
        <div>{{ item.review.msg }}</div>
      </div>
    </div>
  </div>
</div>
