@import "../../../../scss/constants";
@import "../../../../scss/mixins";

@mixin status {
  @include text(600, 14px, 20px);

  border: 0.5px solid;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 20px;
}

.month:first-child {
  visibility: visible;
}

.month {
  visibility: hidden;
}

.status_history_container {
  margin: 1.8em;

  &__key {
    @include flex(row, flex-start, center);

    margin-top: 1em;
    bottom: -20px;
    line-height: 1;
    padding: 2px;
-b

    &_btn {
      @include text(400, 12px, 16px);

      width: 100%;
      margin: .7em auto;
      overflow: hidden;
      text-align: center;
      font-weight: 300;
      color: $dark-grey;

    }

    &_btn:before,
    &_btn:after {
      content: "";
      display: inline-block;
      width: 50%;
      margin: 0 2% 0 -50%;
      vertical-align: middle;
      border-bottom: 1px solid;
      color: $light-grey;
    }

    &_btn:after {
      margin: 0% -50% 0 2%;
    }
  }

  &__item {
    margin-left: 12px;
    margin-top: 2em;

    &__in-moderation {
      @include status;

      color: $dark-orange;
      background-color: $banner-background;
      border-color: $light-orange;
    }

    &__published {
      @include status;

      color: $green700;
      background-color: $green100;
      border-color: $green300;
    }

    &__declined {
      @include status;

      color: $red500;
      background-color: $red100;
      border-color: $red300;
    }

    &__archived {
      @include status;

      color: $color-text-default;
      background-color: $light-grey;
      border-color: $dark-grey;
    }

    &__draft {
      @include status;

      border-color: $easy-grey;
    }

    &__changed {
      @include text--h5(400);

      margin: 2em auto;

      &__date {
        color: $dark-grey;
      }

      &__msg {
        @include flex(row, flex-start, flex-start);
        @include text--h4(400);

        border: 1px solid $light-grey;
        border-radius: 5px;
        padding: 1% 2%;
        gap: 1rem;

        &__svg {
          padding-top: 2px;
        }
      }
    }

    &__status {
      margin: 1em auto;

      &__svg {
        margin: 0 1%;
      }
    }
  }
}
