<app-popup class="inventory" title="{{ 'INVENTORY_POP_UP.TITLE' | translate }}">

  <div class="content-wrapper">
    <div class="limitation-block">
      <p class="limitation-block__subtitle">{{ 'INVENTORY_POP_UP.SUBTITLE' | translate }}</p>
      <p class="limitation-block__notation">{{ 'INVENTORY_POP_UP.SUBTITLE_DESCRIPTION' | translate }}</p>
      <div>
        <div>
          <mat-radio-button checked="true">{{ 'INVENTORY_POP_UP.RADIO_DEFAULT' | translate}}</mat-radio-button>
          <input
            type="number"
            class="radio-input"
            [formControl]="radioInput"
            min="0"
            max="10000">
        </div>
        <mat-radio-button>{{ 'INVENTORY_POP_UP.RADIO_MANUAL' | translate}}</mat-radio-button>
      </div>
    </div>

    <div class="table-block">
      <p>{{ "INVENTORY_POP_UP.TABLE_TITLE" | translate }}</p>
      <div class="table-block_search" [formGroup]="searchInput">
        <input
          placeholder="Search by name"
          onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'Search by name'"
          (focus)="onSearch(searchInput.get('searchInput')?.value)"
          formControlName="searchInput">
        <div
          class="cross"
          (click)="clearSearchInput()">
          <svg-icon src="../../../../assets/images/cross_close.svg"></svg-icon>
        </div>
        <p>0 {{ 'INVENTORY_POP_UP.ITEMS_ACTIVATED' | translate }}</p>
      </div>
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> {{ "INVENTORY_POP_UP.PRODUCT_HEADER" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <ng-container matColumnDef="sold">
          <th mat-header-cell *matHeaderCellDef> {{ "INVENTORY_POP_UP.SOLD_HEADER" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.sold}} </td>
        </ng-container>

        <ng-container matColumnDef="left">
          <th mat-header-cell *matHeaderCellDef> {{ "INVENTORY_POP_UP.LEFT_HEADER" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.left}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> {{ "INVENTORY_POP_UP.QUANTITY_HEADER" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="availability">
          <th mat-header-cell *matHeaderCellDef> {{ "INVENTORY_POP_UP.AVAILABILITY_HEADER" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row no-data" *matNoDataRow>
          <td class="mat-cell" colspan="8">
            <div class="no-data">
              <div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="buttons">
    <div class="buttons_cancel" mat-dialog-close>
      <span>{{ "INVENTORY_POP_UP.CANCEL" | translate }}</span>
    </div>
    <div class="buttons_save">
      <span>{{ "INVENTORY_POP_UP.SAVE" | translate }}</span>
    </div>
  </div>

</app-popup>
