@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep {

  .inventory header.header {
    border-bottom: 1px solid $border-color;
    padding: 24px 24px 18px 24px;
  }

  .mat-dialog-container {
    padding: 0;
  }

  .content-wrapper {
    padding: 0px 24px 0px 24px;
    position: relative;
    height: 580px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .limitation-block {

    &__subtitle {
      font-weight: $semibold;
      margin: 0px;
    }

    &__notation {
      @include text--h5($regular);
      color: $dark-grey;
      margin: 8px 0px 0px 0px;
    }

    >div {
      margin-left: 20px;
    }

    mat-radio-button {
      @include text--h4($regular);

      label.mat-radio-label {
        @include flex(center, center, flex-start);
      }

      &.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $orange;
      }

      &.mat-accent .mat-radio-inner-circle {
        background-color: $orange;
      }
    }

    label.mat-radio-label {
      display: inline-block;
      max-width: 500px;
    }

    .radio-input {
      @include text--h4($regular);
      padding: 5px 12px;
      margin: 8px 12px;
      max-width: 115px;
    }

    div div {
      @include flex(center, center, flex-start);
    }
  }

  .table-block {
    min-height: 400px;

    >p {
      @include text--h4 ($semibold);
      margin: 32px 0px 16px 0px;
    }

    &_search {
      @include flex(row, center, flex-start);
      position: relative;
      height: 40px;

      input {
        @include text--h4 ($regular);
        @include size(350px, 18px);
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        padding: 18px 16px;
      }

      .cross {
        position: absolute;
        top: 10px;
        left: 320px;
        display: none;
        z-index: 1;

        &:hover {
          cursor: pointer;
        }

        &:active {
          display: block;
        }
      }

      input:focus~.cross {
        display: block;
      }

      p {
        @include text--h5($regular);
        margin-left: 10px;
        color: $dark-grey;
      }
    }

    table {
      width: 100%;
      margin-top: 16px;
    }

    th {
      background-color: $grey;
      font: $font-family;
      color: $dark-grey;

      &.mat-header-cell {
        border-bottom-style: none;
      }
    }
  }

  .inventory .buttons {
    @include flex(center, center, flex-end);
    @include text--h4 ($medium);
    padding: 16px 24px;
    border-top: 1px solid $border-color;

    &_cancel {
      @include size(100px, 40px);
      border: solid 1px $border-color;
      background-color: $white;
      color: $color-text-default;
      border-radius: 4px;
      text-align: center;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
      }
    }

    &_save {
      @include size(100px, 40px);
      background-color: $orange;
      color: $white;
      border-radius: 4px;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

    div {
      margin: 0px 8px;
    }

    span {
      display: block;
      margin-top: 8px;
    }
  }

}
