<div class="reset-password-page">
    <div class="reset-password-page_navigation">
        <app-navigation [address]="'Reset password'"></app-navigation>
    </div>
    
    <div *ngIf="isPasswordReset === false" class="reset-password-page_content">
        <div class="reset-password-page_content__icon">
            <svg-icon src= "../../../assets/images/key.svg"></svg-icon>
        </div>
        <div class="reset-password-page_content__title">
            {{'LOG_IN.CREATE_A_NEW_PASSWORD' | translate}}
        </div>
        <div class="reset-password-page_content__subtitle">
            {{'LOG_IN.YOUR_NEW_PASSWORD' | translate}}
        </div>    
        <div class="reset-password-page_content__input" [formGroup]="passwordGroup">
            <mat-form-field  appearance="fill" hideRequiredMarker>
                <mat-label>{{'SIGN_UP.CREATE_PASSWORD' | translate}}</mat-label>
                <input #passwordInput (focus)="isRequirementDisplay = true" matInput formControlName="password" (input)="withoutCyr($event)" [type]="hidePassword ? 'password' : 'text'">
                <svg-icon
                    matSuffix
                    *ngIf="this.isPasswordValid"
                    class="green-arrow"
                    [svgClass]="'green-arrow'"
                    src="../../../../assets/images/green-arrow.svg"
                    alt="vector"
                ></svg-icon>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordGroup.get('password')?.hasError('required')" class="validation">
                    {{'SIGN_UP.PLEASE_ENTER_YOUR_PASSWORD' | translate}}
                </mat-error>
            </mat-form-field>
            <div *ngIf="isRequirementDisplay === true" class="password-requirement">
                <div class="backdrop" (click)="isRequirementDisplay = false"></div>
                <div class="password-requirement_item">
                    <svg-icon
                        class="password-icon"
                        [svgClass]="'grey-cross'"
                        [src]="changeSvg(isPasswordLengthValid)"
                        alt="vector"
                    ></svg-icon>
                    <div [class.red]="isPasswordLengthValid === false"
                        [class.green]="isPasswordLengthValid === true" >
                        {{'SIGN_UP.SYMBOLS_REQUIREMENT' | translate}}
                    </div>
                </div>
                <div class="password-requirement_item">
                    <svg-icon
                        class="password-icon"
                        [svgClass]="'grey-cross'"
                        [src]="changeSvg(isPasswordIncludeDigit)"
                        alt="vector"
                    ></svg-icon>
                    <div [class.red]="isPasswordIncludeDigit === false"
                        [class.green]="isPasswordIncludeDigit === true" >
                        {{'SIGN_UP.DIGIT_REQUIREMENT' | translate}}
                    </div>
                </div>
                <div class="password-requirement_item">
                    <svg-icon
                        class="password-icon"
                        [svgClass]="'grey-cross'"
                        [src]="changeSvg(isPasswordIncludeSpecialSymbol)"
                        alt="vector"
                    ></svg-icon>
                    <div [class.red]="isPasswordIncludeSpecialSymbol === false"
                        [class.green]="isPasswordIncludeSpecialSymbol === true" >
                        {{'SIGN_UP.SPECIAL_SYMBOLS_REQUIREMENT' | translate}}
                    </div>
                </div>
                <div class="password-requirement_item">
                    <svg-icon
                        class="password-icon"
                        [svgClass]="'grey-cross'"
                        [src]="changeSvg(isPasswordIncludeUppercaseLatter)"
                        alt="vector"
                    ></svg-icon>
                    <div [class.red]="isPasswordIncludeUppercaseLatter === false"
                        [class.green]="isPasswordIncludeUppercaseLatter === true">
                        {{'SIGN_UP.UPPERCASE_LETTER_REQUIREMENT' | translate}}
                    </div>
                </div>
                <div class="password-requirement_item">
                    <svg-icon
                        class="password-icon"
                        [svgClass]="'grey-cross'"
                        [src]="changeSvg(isPasswordIncludeLowercaseLatter)"
                        alt="vector"
                    ></svg-icon>
                    <div [class.red]="isPasswordIncludeLowercaseLatter === false"
                        [class.green]="isPasswordIncludeLowercaseLatter === true">
                        {{'SIGN_UP.LOWERCASE_LETTER_REQUIREMENT' | translate}}
                    </div>
                </div>
            </div>
            <mat-form-field  appearance="fill" hideRequiredMarker>
                <mat-label>{{'SIGN_UP.REPEAT_PASSWORD' | translate}}</mat-label>
                <input matInput (focus)="isRequirementDisplay = false" matInputAutofocus formControlName="repeatedPassword" (input)="withoutCyr($event)" [type]="hideRepeatedPassword ? 'password' : 'text'">
                <svg-icon
                    matSuffix
                    *ngIf="isPasswordMatch"
                    class="green-arrow"
                    [svgClass]="'green-arrow'"
                    src="../../../../assets/images/green-arrow.svg"
                    alt="vector"
                ></svg-icon>
                <button mat-icon-button matSuffix (click)="hideRepeatedPassword = !hideRepeatedPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatedPassword">
                    <mat-icon>{{hideRepeatedPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordGroup.get('repeatedPassword')?.hasError('required')" class="validation">
                    {{'SIGN_UP.PLEASE_REPEATE' | translate}}
                </mat-error>
                <div *ngIf="isPasswordMatch === false" class="validation mismatch">
                    {{'SIGN_UP.PASSWORD_MISMATCH' | translate}}
                </div>
            </mat-form-field>
        </div>
        <button class="reset-password-page_content__button" (click)="resetPassword(passwordGroup.get('password')?.value)">{{"LOG_IN.CONTINUE" | translate}}</button>
    </div>

    <div *ngIf="isPasswordReset === true" class="reset-password-page_content">
        <div class="reset-password-page_content__icon">
            <svg-icon src= "../../../assets/images/green-check.svg"></svg-icon>
        </div>
        <div class="reset-password-page_content__title">{{"LOG_IN.PASSWORD_RESET" | translate}}</div>
        <div class="reset-password-page_content__subtitle">{{"LOG_IN.YOUR_PASSWORD" | translate}}</div>
        <button class="reset-password-page_content__button" (click)="loginVendor()">{{"LOG_IN.LOG_IN" | translate}}</button>
    </div>
</div>
