<ng-container [formGroup]="filterForm">
  <div
    stickedClass="filters-container-sticked"
    [transitionTop]="72"
    class="filters-container"
  >
    <app-search-bar
      [marginTop]="0"
      label="Search by products"
      controlName="filter_name"
      searchBy="products"
    ></app-search-bar>
    <app-dropdown-multiselect
      label="Dietary"
      controlName="dietary_tags"
      [options]="dietaryOptions"
    >
    </app-dropdown-multiselect>
    <app-dropdown-radio
      label="Sort by"
      controlName="order"
      [options]="sortOptions"
    >
    </app-dropdown-radio>
  </div>
</ng-container>
