@import "../../../../scss/constants";
@import "../../../../scss/mixins";

.filters-container {
  @include flex(row, center, space-between);
  background: $container-background;
  border-radius: 2px;
  margin-bottom: 30px;
  position: sticky;
  top: 72px;
  z-index: 1;
  left: 0;
}
.filters-container-sticked {
  margin: 0 -20%;
  padding: 0 20%;
}
