.count-down__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.count-down__link {
  text-decoration: underline;
  font-weight: 400;
  color: rgba(26, 26, 26, 1);
  cursor: pointer;
}
