<div class="count-down__wrapper">
  <div *ngIf="count; else link">
    <span *ngIf="count>9">00:{{ count }} {{ "CART.RESEND_CODE" | translate }}</span>
    <span *ngIf="count<10">00:0{{ count }} {{ "CART.RESEND_CODE" | translate }}</span>
  </div>
  <ng-template #link>
    <a class="count-down__link" (click)="resendCode()">{{ "CART.RESEND_CODE" | translate }}</a>
  </ng-template>
</div>
