<div class="search-bar_wrapper">
  <div class="form-group" [formGroup]="form" [ngStyle]="{'margin-top.px': marginTop}">
    <input
      #searchInput
      id="search"
      type="text"
      class="form-field"
      [placeholder]="label"
      [formControlName]="controlName"
      spellcheck="false"
      (keyup.enter)="onEnterPress()"
      autocomplete="off"
    >
    <label for="search" class="form-label">{{label}}</label>
    <img class="search-icon" src="../../../../assets/images/search.svg" />
    <label
      *ngIf="searchFieldHasText"
      class="search-remove_icon"
      (click)="cleanSearchBar()"
    >
      <img src="../../../../assets/images/cross_close.svg" />
    </label>
  </div>
  <ng-container *ngIf="vendorsResult.length > 0 || productsResult.length > 0">
    <div class="backdrop" (click)="onResultsClose()"></div>
  <div class="search-results">
      <div *ngIf="vendorsResult.length > 0" class="search-results_header">{{ 'SEARCH_BAR.BY_VENDORS' | translate }}</div>
    <a *ngFor="let vendor of vendorsResult" class="link" (click)="goToVendorPage(vendor.id)">
        <div class="search-results_vendor">
          <img class="search-results_vendor__img" src="https://source.unsplash.com/collection/8613861/44x44" />
          <div class="search-results_vendor__text">
            <div class="title" [innerHTML]="vendor.vendor_name | substringEmphasize:searchInput.value"></div>
            <div class="distance">
              {{ showDistance(vendor) }} {{ 'VENDOR_CARD.UNIT' | translate }}
            </div>
          </div>
          <div class="search-results_vendor__button">
            <img src="../../../../assets/images/arrow_right.svg" />
        </div>
      </div>
    </a>
      <div *ngIf="productsResult.length > 0" class="search-results_header">{{ 'SEARCH_BAR.BY_PRODUCTS' | translate }}</div>
      <a *ngFor="let product of productsResult" class="link">
        <div class="search-results_product" (click)="goToSearchResultPage(product.product_name)">
          <div class="search-results_vendor__text" >
            <div class="title" [innerHTML]="product.product_name | substringEmphasize:searchInput.value"></div>
          </div>
          <div class="search-results_product__button">
            <img src="../../../../assets/images/search.svg" />
          </div>
        </div>
      </a>
  </div>
</ng-container>
</div>
