<div class="card-wrapper">
  <div class="card-wrapper_content">
    <div class="card-wrapper_content__image">
      <img class="photo" src="https://source.unsplash.com/collection/8613861/350x{{200+product.id}}">
      <div class="store-schedule" *ngIf="!ignoreSchedule && !vendorsSchedule.isStoreOpen"><p>Closed</p>{{vendorsSchedule.whenOpens}}</div>
      <div class="store-schedule" *ngIf="!ignoreSchedule && vendorsSchedule.whenCloses"><p>{{vendorsSchedule.whenCloses}}</p>{{vendorsSchedule.whenOpens}}</div>
    </div>
    <div class="card-wrapper_content__text">
      <div class="text-description">
        <div class="text-description_header">
          <div class="text-description_header_label">
            {{product.name}}
          </div>
          <div class="text-description_header_weight">
            {{product.weight}} g
          </div>
        </div>
        <div class="text-description_vendor-name">
          <a [routerLink]="['place', product.id]">
            {{ product.vendor_name }}
          </a>
        </div>
        <div class="text-description_diary-items" *ngIf="product.dietary_tags?.length">
          <div *ngFor="let item of product.dietary_tags" class="diary-item">{{item}}</div>
        </div>
        <div class="text-description_product-composition">
          {{product.description}}
        </div>
      </div>
      <div class="card-wrapper_content__bottom">
        <div class="bottom_price-container">
          <div class="bottom_price-container_price">
            ${{product.price}}
          </div>
          <div *ngIf="product.old_price" class="bottom_price-container_old-price">
            ${{product.old_price}}
          </div>
        </div>
        <button
          class="bottom_button-container"
          (click)="addProductToCart(product)"
          *ngIf="ignoreSchedule || product.quantity === 0 else updateCountButton"
          [disabled]="!ignoreSchedule && !vendorsSchedule.isStoreOpen"
        >
          {{'PRODUCT_CARD.ADD_TO_CART' | translate}}
        </button>
        <ng-template #updateCountButton >
          <div class="bottom_update-count-container">
            <button
              class="bottom_update-count-container__minus"
              (click)="decreaseProductQuantity(product)"
              [disabled]="!vendorsSchedule.isStoreOpen"
            >
              <svg-icon
                [svgClass]="'minus'"
                src="../../../../assets/images/minus.svg"
              >
              </svg-icon>
            </button>
            <div
              class="bottom_update-count-container__number"
            >
              {{product.quantity}}
            </div>
            <button
              class="bottom_update-count-container__plus"
              (click)="increaseProductQuantity(product)"
              [disabled]="!vendorsSchedule.isStoreOpen"
            >
              <svg-icon
                [svgClass]="'plus'"
                src="../../../../assets/images/plus.svg"
              >
              </svg-icon>
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

