<div class="navigation-container">
    <div class="navigation-container_breadcrumb">
        <div class="navigation-container_breadcrumb__item" [ngClass]="{noBackground: isLoginPage }"><a routerLink={{navigation}}>{{home}}</a></div>
        <div class="navigation-container_breadcrumb__separator">/</div>
        <div class="navigation-container_breadcrumb__item" [ngClass]="{noBackground: isLoginPage }">{{address}}</div>
    </div>   
</div>

