@import '../../../../scss/mixins';

.navigation-container{
    @include flex(row, flex-start, flex-start);
    width: 100%;

.navigation-container_breadcrumb {
    @include flex(row, center, flex-start);
    padding: 0;
    margin: 0;

    &__item {
        @include text--h5 ($regular);
        color: $color-text-grey;
        height: 24px;
        border-radius: 24px;
        padding: 2px 12px 2px 12px;
        background: rgba(255, 255, 255, 0.6);
        text-align: center;
        gap: 8px;
        margin-right: 12px;

        &.noBackground {
            background: transparent;
        }

        a {
            @include text($medium, 14px, 20px);
            color: $color-text-default;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: none;
              }
          }
      }

    &__separator {
        color: $color-text-grey;
        margin-right: 12px;
    }
  }
}
