<app-popup class="create-report" title="{{ 'CREATE_REPORT.TITLE' | translate }}">
  <div class="content-wrapper">
    <p>{{ 'CREATE_REPORT.RADIO_TITLE' | translate }}</p>
    <mat-radio-group [(ngModel)]="reportType">
      <mat-radio-button value="1">{{ "CREATE_REPORT.DAILY" | translate }}</mat-radio-button>
      <mat-radio-button value="2">{{ "CREATE_REPORT.DATE_RANGE" | translate }}</mat-radio-button>
      <mat-radio-button value="3">{{ "CREATE_REPORT.PER_DAY" | translate }}</mat-radio-button>
      <mat-radio-button value="4">{{ "CREATE_REPORT.DIAGRAM" | translate }}</mat-radio-button>
      <mat-radio-button value="5">{{ "CREATE_REPORT.TOP" | translate }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="buttons">
    <div class="buttons_cancel" mat-dialog-close>
      <span>{{ "CREATE_REPORT.CANCEL" | translate }}</span>
    </div>
    <div class="buttons_continue" (click)="chooseReport()">
      <span>{{ "CREATE_REPORT.CONTINUE" | translate }}</span>
    </div>
  </div>
</app-popup>
