@import '../../../../scss/constants';
@import '../../../../scss/mixins';

::ng-deep {

  .create-report header.header {
    padding: 24px 24px 0px 24px;
  }

  .mat-dialog-container {
    padding: 0;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:$orange;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color:$orange;
  }

  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color: transparent;
  }
}

.content-wrapper {
  padding: 0px 24px;
  height: 308px;

  p {
    @include text--h5($regular);
    margin: 0px 0px 16px 0px;
  }

  mat-radio-group {
    @include flex(column, flex-start, space-between);
  }

  mat-radio-button {
    padding: 12px 0px 12px 16px;
  }

}

.create-report .buttons {
  @include flex(center, center, flex-end);
  @include text--h4 ($medium);
  border-top: 1px solid $border-color;
  padding-top: 16px;

  &_cancel {
    @include size(100px, 40px);
    background-color: $white;
    color: $color-text-default;
    text-align: center;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
  }

  &_continue {
    @include size(102px, 40px);
    background-color: $orange;
    color: $white;
    border-radius: 4px;
    text-align: center;
    margin-right: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    display: block;
    margin-top: 8px;
  }
}
