@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.sidebar-container {
    @include size(222px, 1130px);
    padding: 10px 0 0;
    background-color: $white;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.15);

    &_logo {
        @include flex (row, center, flex-start);
        margin-bottom: 32px;
        padding-left: 30px;
    }

    &_page {
        @include flex (row, flex-end, space-between);
        padding: 12px 12px 12px 19px ;
        color: $dark-grey;

        &__title {
            @include flex (row, center, flex-start);

            &_icon-container {
                margin-right: 20px;
            }

            &_text {
                @include text--h5 ($medium);
            }
        }

        &__quantity {
            @include text($semibold, 12px, 16px);
            @include flex (row, center, center);
            @include size(24px, 24px);
            border-radius: 40px;
            background-color: $grey;
        }

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: $container-background;
            color: $color-text-default;
        }

        &.active .sidebar-container_page_icon{

            .sidebar-icon {

                path {
                    fill: $color-text-default;
                }
            }
        }
    }

    &_title {
        @include text--overline--h6;
        text-transform: uppercase;
        color: $dark-grey;
        padding: 20px 19px;
    }
}
