<div class="sign-up-page">
  <div class="sign-up-page_header">
    <app-navigation [address]="'Sign up'"></app-navigation>
  </div>
  <div *ngIf="!isEmailSent" class="sign-up-page_content">
    <div class="sign-up-page_content__title">{{ 'SIGN_UP.TITLE' | translate }}</div>
    <div class="sign-up-page_content__subtitle">
      {{ 'SIGN_UP.SUBTITLE_FIRST_PART' | translate }}
      <span>{{ 'SIGN_UP.SUBTITLE_SECONT_PART' | translate }}</span>
      {{ 'SIGN_UP.SUBTITLE_THIRD_PART' | translate }}
    </div>
    <div class="sign-up-page_content__input" [formGroup]="scratchCardNumberFormGroup">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>{{ 'SIGN_UP.INPUT_TITLE' | translate }}</mat-label>
        <input matInput placeholder="AB XXXXXXXX" type="text" mask="UU 00000000"
               formControlName="scratchCardNumber" oninput="this.value = this.value.toUpperCase()">
        <mat-icon matSuffix [ngxTippy]="tooltipTemplate" [tippyProps]="toolTipProps">info</mat-icon>
        <ng-template #tooltipTemplate>
          <div class="tooltips-class">
            <h3>{{ 'SIGN_UP.TOOLTIPS_FOR_SCN_HEADER1' | translate }}</h3>
            <p>
              {{ 'SIGN_UP.TOOLTIPS_FOR_SCN_CONTENT1_FIRST_PART' | translate }}
              <br>
              <b>{{ 'SIGN_UP.TOOLTIPS_FOR_SCN_CONTENT1_SECOND_PART' | translate }}</b>
              {{ 'SIGN_UP.TOOLTIPS_FOR_SCN_CONTENT1_THIRD_PART' | translate }}
            </p>
            <h3>{{ 'SIGN_UP.TOOLTIPS_FOR_SCN_HEADER2' | translate }}</h3>
            <p>
              {{ 'SIGN_UP.TOOLTIPS_FOR_SCN_CONTENT2_FIRST_PART' | translate }}
              <br>
              <b> {{ 'SIGN_UP.TOOLTIPS_FOR_SCN_CONTENT2_SECOND_PART' | translate }}</b>
              {{ 'SIGN_UP.TOOLTIPS_FOR_SCN_CONTENT2_THIRD_PART' | translate }}
            </p>
          </div>
        </ng-template>
        <div
          *ngIf="SCNConflict
          && scratchCardNumber.valid"
          class="validation mismatch">
          {{ 'SIGN_UP.FIRST_ERROR' | translate }}
        </div>
        <div
          *ngIf="SCNNotFound
          && scratchCardNumber.valid"
          class="validation mismatch">
          {{ 'SIGN_UP.SECOND_ERROR' | translate }}
        </div>
        <div class="three-attempts-error"
             *ngIf="isThreeAttempts
             && scratchCardNumber.valid"
             class="validation mismatch">
          {{ 'SIGN_UP.THIRD_ERROR' | translate }}
        </div>
        <div *ngIf="(scratchCardNumber.invalid)
              && scratchCardNumber.touched
              && !isClicked"
             class="validation mismatch">
          {{ 'SIGN_UP.INVALID_FORMAT' | translate }}
        </div>
        <mat-error *ngIf="scratchCardNumber.hasError('required') && isClicked"
                   class="validation">
          {{ 'SIGN_UP.PLEASE_ENTER_YOUR_SCN' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <button (click)="getAccess(scratchCardNumber.value)"
            class="sign-up-page_content__button">{{ 'SIGN_UP.GET_ACCESS' | translate }}</button>
    <div class="sign-up-page_content__link">
      {{ 'SIGN_UP.ALREADY_HAVE_AN_ACCOUNT' | translate }}
      <a [routerLink]="['/feed/vendor/login']">{{ 'SIGN_UP.LOG_IN' | translate }}</a>
    </div>
    <div class="sign-up-page_footer">
      <div class="footer_text">
        {{ 'FOOTER.ARGEEMENT' | translate }}
      </div>
      <div>
        <a class="footer_link"
           [routerLink]="['/feed/termsAndCondactions']">{{ 'FOOTER.TERMS_OF_SERVICE' | translate }}</a>
        {{"FOOTER.AND" | translate}}
        <a class="footer_link" [routerLink]="['/feed/privacyPolicy']">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
      </div>
    </div>
  </div>
  <div *ngIf="isEmailSent === true && isEmailNotReceived === true && isThreeAttempts === false"
       class="sign-up-page_content">
    <div class="sign-up-page_content__icon">
      <svg-icon src="../../../assets/images/green-check.svg"></svg-icon>
    </div>
    <div class="sign-up-page_content__title">
      {{ 'SIGN_UP.EMAIL_SENT' | translate }}
    </div>
    <div class="sign-up-page_content__subtitle">
      {{ 'SIGN_UP.WE_SENT_A_LINK_TO' | translate }}
      <span>{{hiddenEmail}}</span>
      {{ 'SIGN_UP.WHICH_IS_CONNECTED' | translate }}
    </div>
    <app-verification-code [controlValue]="{vendor:email}" (setVendorData)="onSetVendorData($event)">
    </app-verification-code>
    <div *ngIf="isEmailResend === false && counter > 0; else placeholder"
         class="sign-up-page_content__resend-link_grey">
      <span *ngIf="counter>9">00:{{ counter }} {{ 'SIGN_UP.RESEND_CODE' | translate }} </span>
      <span *ngIf="counter<10">00:0{{ counter }} {{ 'SIGN_UP.RESEND_CODE' | translate }}</span>
    </div>
    <ng-template #placeholder>
      <div class="sign-up-page_content__resend-link">
        <a (click)="resendEmail(scratchCardNumberFormGroup.get('scratchCardNumber')?.value)">
          {{ 'SIGN_UP.RESEND_CODE' | translate }}</a>
      </div>
    </ng-template>
    <div class="sign-up-page_content__go-back-button">
      <div class="go-back-button" (click)="goBackToSCNInput()">
        <img class="go-back-button_image" src="../../../assets/images/arrow_left.svg"/>
        <div class="previous-step_text">
          {{ 'SIGN_UP.PREVIOUS_STEP' | translate }}
        </div>
      </div>
    </div>
    <div class="sign-up-page_footer phone">
      <div>
        {{ 'SIGN_UP.PLEASE_CALL' | translate }}
        <span>{{ 'SIGN_UP.PHONE_NUMBER' | translate }}</span>
        {{ 'SIGN_UP.IN_CASE' | translate }}</div>
    </div>
  </div>
  <div *ngIf="isThreeAttempts && isEmailSent === true" class="sign-up-page_content">
    <div class="sign-up-page_content__icon">
      <svg-icon src="../../../assets/images/sad_emoticon.svg"></svg-icon>
    </div>
    <div class="sign-up-page_content__title">
      {{ 'SIGN_UP.EMAIL_NOT_RECEIVED' | translate }}
    </div>
    <div class="sign-up-page_content__subtitle">
      {{ 'SIGN_UP.PLEASE_CALL' | translate }}
      <span>{{ 'SIGN_UP.PHONE_NUMBER' | translate }} </span>
      {{ 'SIGN_UP.CHECK_YOUR_SCN' | translate }}
    </div>
    <button class="sign-up-page_content__button-grey" [routerLink]="['/feed']">
      <div class="go-back-button">
        <img class="go-back-button_image" src="../../../assets/images/arrow_left.svg"/>
        <div class="previous-step_text">
          {{ 'SIGN_UP.PREVIOUS_STEP' | translate }}
        </div>
      </div>
    </button>
  </div>

  <div *ngIf="isEmailSent === true && isEmailNotReceived === false && goToConfirmDetails === false"
       class="sign-up-page_content">
    <div class="sign-up-page_content__title">
      {{ 'SIGN_UP.CREATE_A_PASSWORD' | translate }}
    </div>
    <div class="sign-up-page_content__subtitle">
      {{ 'SIGN_UP.PLEASE_CREATE_YOUR_PASSWORD' | translate }}
    </div>
    <div class="sign-up-page_content__input" [formGroup]="passwordGroup">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>
          {{ 'SIGN_UP.CREATE_PASSWORD' | translate }}
        </mat-label>
        <input #passwordInput (focus)="isRequirementDisplay = true" matInput formControlName="password"
               (input)="withoutCyr($event)" [type]="hidePassword ? 'password' : 'text'">
          <svg-icon matSuffix *ngIf="this.isPasswordValid" class="green-arrow" [svgClass]="'green-arrow'"
                  src="../../../../assets/images/green-arrow.svg" alt="vector"></svg-icon>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-error *ngIf="passwordGroup.get('password')?.hasError('required')" class="validation">
          {{ 'SIGN_UP.PLEASE_ENTER_YOUR_PASSWORD' | translate }}
        </mat-error>
      </mat-form-field>
      <div *ngIf="isRequirementDisplay === true" class="password-requirement">
        <div class="backdrop" (click)="isRequirementDisplay = false"></div>
        <div class="password-requirement_item">
          <svg-icon class="password-icon" [svgClass]="'grey-cross'" [src]="changeSvg(isPasswordLengthValid)"
                    alt="vector"></svg-icon>
          <div [class.red]="isPasswordLengthValid === false" [class.green]="isPasswordLengthValid === true">
            {{ 'SIGN_UP.SYMBOLS_REQUIREMENT' | translate }}
          </div>
        </div>
        <div class="password-requirement_item">
          <svg-icon class="password-icon" [svgClass]="'grey-cross'" [src]="changeSvg(isPasswordIncludeDigit)"
                    alt="vector"></svg-icon>
          <div [class.red]="isPasswordIncludeDigit === false" [class.green]="isPasswordIncludeDigit === true">
            {{ 'SIGN_UP.DIGIT_REQUIREMENT' | translate }}
          </div>
        </div>
        <div class="password-requirement_item">
          <svg-icon class="password-icon" [svgClass]="'grey-cross'"
                    [src]="changeSvg(isPasswordIncludeSpecialSymbol)" alt="vector"></svg-icon>
          <div [class.red]="isPasswordIncludeSpecialSymbol === false"
               [class.green]="isPasswordIncludeSpecialSymbol === true">
            {{ 'SIGN_UP.SPECIAL_SYMBOLS_REQUIREMENT' | translate }}
          </div>
        </div>
        <div class="password-requirement_item">
          <svg-icon class="password-icon" [svgClass]="'grey-cross'"
                    [src]="changeSvg(isPasswordIncludeUppercaseLatter)" alt="vector"></svg-icon>
          <div [class.red]="isPasswordIncludeUppercaseLatter === false"
               [class.green]="isPasswordIncludeUppercaseLatter === true">
            {{ 'SIGN_UP.UPPERCASE_LETTER_REQUIREMENT' | translate }}
          </div>
        </div>
        <div class="password-requirement_item">
          <svg-icon class="password-icon" [svgClass]="'grey-cross'"
                    [src]="changeSvg(isPasswordIncludeLowercaseLatter)" alt="vector"></svg-icon>
          <div [class.red]="isPasswordIncludeLowercaseLatter === false"
               [class.green]="isPasswordIncludeLowercaseLatter === true">
            {{ 'SIGN_UP.LOWERCASE_LETTER_REQUIREMENT' | translate }}
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>{{ 'SIGN_UP.REPEAT_PASSWORD' | translate }}</mat-label>
        <input matInput (focus)="isRequirementDisplay = false" matInputAutofocus
               formControlName="repeatedPassword" (input)="withoutCyr($event)"
               [type]="hideRepeatedPassword ? 'password' : 'text'">
        <svg-icon matSuffix *ngIf="isPasswordMatch" class="green-arrow" [svgClass]="'green-arrow'"
                  src="../../../../assets/images/green-arrow.svg" alt="vector"></svg-icon>
          <mat-icon matSuffix (click)="hideRepeatedPassword = !hideRepeatedPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRepeatedPassword">{{ hideRepeatedPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-error *ngIf="passwordGroup.get('repeatedPassword')?.hasError('required')" class="validation">
          {{ 'SIGN_UP.PLEASE_REPEATE' | translate }}
        </mat-error>
        <div *ngIf="isPasswordMatch === false" class="validation mismatch">
          {{ 'SIGN_UP.PASSWORD_MISMATCH' | translate }}
        </div>
      </mat-form-field>
    </div>
    <button (click)="goToConfirmDetailsPage(passwordGroup.get('password')?.value)"
            class="sign-up-page_content__button continue">
      {{ 'SIGN_UP.CONTINUE' | translate }}
    </button>
    <div class="sign-up-page_footer">
      <div class="footer_text">{{ 'FOOTER.ARGEEMENT' | translate }}</div>
      <div>
        <a class="footer_link" [routerLink]="['/feed/termsAndCondactions']">
          {{ 'FOOTER.TERMS_OF_SERVICE' | translate }}
        </a>
        {{ 'FOOTER.AND' | translate }}
        <a class="footer_link" href="#">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
      </div>
    </div>
  </div>

  <div *ngIf="isEmailSent === true && isEmailNotReceived === false && goToConfirmDetails === true"
       class="sign-up-page_content">
    <div class="sign-up-page_content__title">{{ 'SIGN_UP.CONFIRM_DETAILS' | translate }}</div>
    <div class="sign-up-page_content__subtitle">{{ 'SIGN_UP.PLEASE_CHECK' | translate }}</div>
    <div class="sign-up-page_content__input" [formGroup]="confirmDetailsGroup">
      <mat-form-field appearance="fill" hideRequiredMarker>
        <mat-label>{{ 'SIGN_UP.FULL_NAME' | translate }}</mat-label>
        <input matInputAutofocus matInput type="text" formControlName="vendor_name" autocomplete="off">
        <mat-error *ngIf="confirmDetailsGroup.get('vendor_name')?.hasError('required')" class="validation">
          {{ 'SIGN_UP.INCORRECT_FULL_NAME' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" hideRequiredMarker>
        <mat-label>{{ 'SIGN_UP.PHONE_NUMBER_LABEL' | translate }}</mat-label>
        <input matInputAutofocus matInput type="tel" mask="+000 000 0000" formControlName="phone"
               autocomplete="off">
        <mat-error *ngIf="confirmDetailsGroup.get('phone')?.hasError('pattern')" class="validation">
          {{ 'SIGN_UP.INVALID_FORMAT' | translate }}
        </mat-error>
      </mat-form-field>
      <div class="email-input">
        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>{{ 'SIGN_UP.EMAIL' | translate }}</mat-label>
          <input readonly value="confirmDetailsGroup.get('email')?.value" matInputAutofocus matInput
                 type="email" formControlName="email" autocomplete="off">
        </mat-form-field>
      </div>

    </div>
    <button
      (click)="signUpVendor(confirmDetailsGroup.get('vendor_name')?.value, confirmDetailsGroup.get('phone')?.value, confirmDetailsGroup.get('email')?.value )"
      class="sign-up-page_content__button continue">{{ 'SIGN_UP.CONTINUE' | translate }}</button>
    <div class="sign-up-page_content__go-back-button">
      <div class="go-back-button" (click)="goToConfirmDetails = false">
        <img class="go-back-button_image" src="../../../assets/images/arrow_left.svg"/>
        <div class="previous-step_text">{{ 'SIGN_UP.PREVIOUS_STEP' | translate }}</div>
      </div>
    </div>
    <div class="sign-up-page_footer">
      <div class="footer_text">{{ 'FOOTER.ARGEEMENT' | translate }}</div>
      <div>
        <a class="footer_link" [routerLink]="['/feed/termsAndCondactions']">
          {{ 'FOOTER.TERMS_OF_SERVICE' | translate }}</a>
          {{ 'FOOTER.AND' | translate }}
        <a class="footer_link" href="#">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
      </div>
    </div>
  </div>
  <app-cookie-popup></app-cookie-popup>
</div>
