@import '../../../scss/mixins';

.sign-up-page {
  max-width: 80%;
  margin: 24px auto 0;

  &_header {
    @include flex(row, center, space-between);

    &__log-in {
      @include text--h5($regular);
      color: $color-text-grey;

      a {
        @include text--h5($medium);
        color: $color-text-default;
        margin-left: 8px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &_content {
    margin: 25px auto 0;
    width: 377px;

    &__icon {
      margin-bottom: 30px;
    }

    &__title {
      @include text--h7;
      margin-bottom: 20px;
    }

    &__subtitle {
      @include text--h4($regular);
      color: $color-text-grey;
      margin-bottom: 44px;

      span {
        @include text--h4($medium);
        color: $color-text-default;
      }
    }

    &__input {

      errorInput{
        .mat-input-element{
          border: $red;
        }
      }

      ::ng-deep .mat-focused .mat-form-field-label {
        @include text--h4($regular);
        color: $color-text-default;
      }

      ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: $color-text-grey;
      }

      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 12px 12px 12px 12px;
        height: 48px;
        background-color: #EEEEEE;

        .mat-form-field-infix {
          border-top: 0.5em solid transparent;
          width: 100%;
        }
      }

      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
        padding: 0;
        margin-top: 0;
      }

      ::ng-deep .mat-form-field {
        width: 377px;

        input {
          position: relative;
          content: "";
          @include text--h4($regular);
          caret-color: $color-text-default;
        }

        mat-icon {
          position: absolute;
          content: "";
          bottom: 5px;
          right: -5px;
          color: gray;
          opacity: 0.7;
          cursor: pointer;
        }
        svg-icon {
          position: absolute;
          content: "";
          bottom: 4px;
          right: 25px;
        }

        .mat-focused .mat-form-field-ripple {
          display: none;
        }

        .mat-form-field-underline {
          display: none;
        }
      }

      ::ng-deep.mat-form-field-appearance-fill .mat-form-field-underline::before {
        content: "";
        display: none;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 0;
      }

      ::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple {
        display: block;
        margin-bottom: 1.5px;
        background-color: $color-text-default;
      }

      .three-attempts-error {
        margin-bottom: 10px;
      }

      .validation {
        @include text--h6;
        width: 100%;
        color: $red;

        &.mismatch {
          position: absolute;
          top: 60px;
          width: 377px;
        }
      }

      .password-requirement {
        margin: 0 0 12px;

        &_item {
          @include flex(row, center, flex-start);

          div {
            @include text--h6;
            color: $color-text-grey;
            margin-left: 8px;

            &.red {
              color: $red;
            }

            &.green {
              color: $green;
            }
          }
        }
      }
    }

    .email-input {
      ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: #D3D3D3;
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #EEEEEE inset !important;
    }

    &__resend-link {
      @include text--h5($medium);
      color: $color-text-default;
      text-align: center;
      margin: 26px 0 50px;

      a {
        text-decoration: underline;
      }

      &:hover {
        cursor: pointer;
      }

      &_grey {
        @include text--h5($regular);
        color: $color-text-grey;
        text-align: center;
        margin: 26px 0 50px;
      }
    }

    &__button,
    &__button-grey {
      @include text--h4($regular);
      background-color: $orange;
      color: $white;
      width: 377px;
      border: none;
      border-radius: 2px;
      align-self: stretch;
      flex-grow: 0;
      text-align: center;
      padding: 12px 0;
      margin: 22.5px auto 12px;

      &:hover {
        cursor: pointer;
      }

      &.continue {
        margin-top: 32px;
      }
    }

    &__button-grey {
      @include flex(row, center, center);
      background-color: $grey-button-background;
      color: $color-text-grey;

      &:hover {
        cursor: auto;
      }

      .go-back-button {
        @include flex(row, center, center);
        margin: 0;

        &:hover {
          cursor: pointer;
        }

        &_image {
          margin-right: 10px;
        }

        &_text {
          color: $color-text-default;
        }
      }
    }

    &__link {
      @include text--h5($regular);
      text-align: center;
      margin-top: 26px 8px 0 0;
      color: $color-text-grey;

      &:hover {
        cursor: pointer;
      }

      a {
        @include text--h5($medium);
        text-decoration: underline;
        color: $color-text-default;
      }
    }

    &__go-back-button {
      @include flex(row, center, center);
      text-align: center;
      margin-bottom: 5px;
    }
  }

  .sign-up-page_footer {
    @include flex(column, center, center);
    @include text--h5($normal);
    color: $color-text-grey;
    margin: 40px auto 40px;

    &.phone {
      @include flex(row, center, center);
      width: 300px;

      div {
        text-align: center
      }
    }

    span {
      @include text--h5($medium);
      color: $color-text-default;
    }

    a {
      @include text--h5($regular);
      color: $color-text-default;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.go-back-button {
  @include flex(row, center, flex-start);
  @include text--h5($medium);
  margin: 12px 0 44px;

  &:hover {
    cursor: pointer;
  }

  &_image {
    margin-right: 11px;
  }

  &_text {
    @include text--h5($medium);
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.previous-step_text {
  @include text--h4($medium);
}
.tooltips-class {
  font-size: 12px;
  @include size(290px, 230px)
}

