<div class="orders">

  <div class="orders_header">
    <div class="orders_header__title">
      <div class="title_name">{{ "VENDOR_ACCOUNT_ORDERS.ORDERS" | translate }}</div>
    </div>
    <div class="orders_header__buttons">
      <div class="buttons_start-shift-button" (click)="startShift()">
        <div class="buttons_start-shift-button__icon">
          <svg-icon src="../../../../assets/images/vendor-account-page/play-circle.svg"></svg-icon>
        </div>
        <span>{{ "VENDOR_ACCOUNT_ORDERS.START_SHIFT" | translate }}</span>
      </div>
      <div class="buttons_create-report-button" (click)="createReport()">
        <div class="buttons_create-report-button__icon">
          <svg-icon src="../../../../assets/images/vendor-account-page/report.svg"></svg-icon>
        </div>
        <span>{{ "VENDOR_ACCOUNT_ORDERS.CREATE_REPORT" | translate }}</span>
      </div>
    </div>
  </div>

  <div class="orders_shift-info">
    <div class="orders_shift-info__time">
      <div class="start-time">
        <svg-icon src="../../../../assets/images/vendor-account-page/ellipse-5.svg"></svg-icon>
        <span>{{ "VENDOR_ACCOUNT_ORDERS.SHIFT_START" | translate }} {{ startTime }}</span>
      </div>
      <div class="date-picker">
        <fieldset>
          <legend>Shift date</legend>
          <div>
            <input matInput
              [matDatepicker]="dp"
              [formControl]="formDate"
              (dateChange)="onDateChange()"
              [max]="date">
            <mat-datepicker #dp></mat-datepicker>
            <mat-datepicker-toggle matIconSuffix [for]="dp">
              <mat-icon matDatepickerToggleIcon><img
                  src="../../../../assets/images/vendor-account-page/trailing-icon.svg"></mat-icon>
            </mat-datepicker-toggle>
          </div>
        </fieldset>
        <div class="date-picker__buttons">
          <div (click)="onPreviousDate()">
            <svg-icon src="../../../../assets/images/left-arrow.svg"></svg-icon>
          </div>
          <div (click)="onNextDate()">
            <svg-icon src="../../../../assets/images/right-arrow.svg"></svg-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="orders_shift-info__subtotal">
      <div>
        <p>{{ "VENDOR_ACCOUNT_ORDERS.RECEIVED_INCOME" | translate }}</p>
        <p>0</p>
      </div>
      <div>
        <p>{{ "VENDOR_ACCOUNT_ORDERS.COMPLETED_ORDERS" | translate }}</p>
        <p>0</p>
      </div>
      <div>
        <p>{{ "VENDOR_ACCOUNT_ORDERS.CANCELLED_ORDERS" | translate }}</p>
        <p>0</p>
      </div>
    </div>
    <div class="orders_shift-info__statuses">
      <div>
        <div>{{ "VENDOR_ACCOUNT_ORDERS.QUEUE" | translate }}: <span>0</span></div>
        <div>{{ "VENDOR_ACCOUNT_ORDERS.IN_PROGRESS" | translate }}: <span>0</span></div>
        <div>{{ "VENDOR_ACCOUNT_ORDERS.READY" | translate }}: <span>0</span></div>
        <div>{{ "VENDOR_ACCOUNT_ORDERS.IN_DELIVERY" | translate }}: <span>0</span></div>
      </div>
      <div>
        <div class="alarm-icon">
          <svg-icon src="../../../../assets/images/vendor-account-page/smart_access_alarms.svg"></svg-icon>
        </div>
        <div>{{ "VENDOR_ACCOUNT_ORDERS.STARTED" | translate }}: -</div>
        <div>{{ "VENDOR_ACCOUNT_ORDERS.ENDED" | translate }}: -</div>
      </div>
    </div>
  </div>

  <div class="orders_content">
    <div class="orders_content__filters">
      <div>
        <div class="order-group-filter">
          <div
            class="order-group-filter_search"
            [formGroup]="searchInputGroup"
          >
            <input #searchInput
              placeholder="Search by ID"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Search by ID'"
              formControlName="searchInput"
            >
            <div
              class="cross"
              (click)="clearSearchInput()"
            >
              <svg-icon src="../../../../assets/images/cross_close.svg"></svg-icon>
            </div>
          <div>
            <app-dropdown
              [options]="statusesList"
              filterName="Status"
              (onChanged)="onFilterApplied($event)"
            ></app-dropdown>
          </div>
          <div class="hide-completed">
            <mat-checkbox
              [checked]="isHideCompleted"
              (change)="onToggleHideCompleted()"
            ></mat-checkbox>
            <div>{{ "VENDOR_ACCOUNT_ORDERS.HIDE_COMPLETED" | translate }}</div>
          </div>
        </div>
        <div class="buttons_manage-inventory-button" (click)="openInventory()">
          <div class="buttons_manage-inventory-button__icon">
            <svg-icon src="../../../../assets/images/vendor-account-page/inventory.svg"></svg-icon>
          </div>
          <span>{{ "VENDOR_ACCOUNT_ORDERS.MANAGE_INVENTORY" | translate }}</span>
        </div>
        <ng-template #appliedFilters>
          <div class="order-group-filter_applied-filters">
            <div *ngIf="appliedStatusesFilterOptions.length !== 0" class="applied-filter">
              <div class="applied-filter_title">{{ "VENDOR_ACCOUNT_ORDERS.STATUS" | translate }}:</div>
              <div *ngFor="let status of appliedStatusesFilterOptions" class="applied-filter_button">
                <div class="applied-filter_button__text">{{ status }}</div>
                <div class="applied-filter_button__icon" (click)="resetOption(status)">
                  <svg-icon src="../../../../assets/images/delete-button-cross.svg"></svg-icon>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
        <div *ngIf="appliedStatusesFilterOptions.length === 0; else appliedFilters" class="no-filter-applied-block">
          {{ "VENDOR_ACCOUNT_ORDERS.NO_FILTERS_APPLIED" | translate }}
        </div>
      </div>
    </div>
    <div class="orders_content__table">
      <table mat-table [dataSource]="dataSource.orders">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_ID" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_TYPE" | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.type === 'delivery';else pickup">
              <svg-icon src="../../../../assets/images/vendor-account-page/delivery.svg"></svg-icon>
            </ng-container>
            <ng-template #pickup>
              <svg-icon src="../../../../assets/images/vendor-account-page/pickup.svg"></svg-icon>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_STATUS" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.status | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_PRICE" | translate }} </th>
          <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="items">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_ITEMS" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.items.length}} </td>
        </ng-container>

        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_PAYMENT" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.payment_status | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_CUSTOMER" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> {{ "VENDOR_ACCOUNT_ORDERS.HEADER_CREATED" | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at | date:'shortTime'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row no-data" *matNoDataRow>
          <td class="mat-cell" colspan="8">
            <div class="no-data">
              <div>
                <svg-icon src="../../../../assets/images/vendor-account-page/no-orders-art.svg"></svg-icon>
                <p class="no-data_title">{{ "VENDOR_ACCOUNT_ORDERS.SHIFT_MESSAGE" | translate }}</p>
                <p class="no-data_subtitle">{{ "VENDOR_ACCOUNT_ORDERS.NO_ACTIVE_ORDERS" | translate }}</p>
              </div>
            </div>
          </td>
        </tr>
      </table>

      <mat-paginator *ngIf="dataSource.orders.length !== 0"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="handlePageEvent($event)"
        aria-label="Select page"
      ></mat-paginator>

    </div>
  </div>
</div>
