@import "../../../../scss/mixins";
@import "../../../../scss/constants";

.orders {
  width: 100%;

  &_header {
    @include flex (row, center, space-between);
    width: 100%;
    margin-bottom: 24px;

    &__title {
      @include flex(row, center, flex-start);
      @include text--h8 ($medium);
      flex-grow: 1;

      .title_name {
        color: $color-text-default;
        margin-right: 4px;
      }
    }

    &__buttons {
      @include flex(row, center, flex-start);

      .buttons_create-report-button {
        @include flex(row, center, space-between);
        @include text--h4 ($medium);
        padding: 0 16px 0 8px;
        height: 40px;
        border: solid 1px $border-color;
        background-color: $white;
        color: $color-text-default;
        border-radius: 4px;
        text-align: center;
        box-sizing: border-box;

        &__icon {
          margin-right: 8px;
          margin-top: 7px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .buttons_start-shift-button {
        @include flex(row, center, space-between);
        @include text--h4 ($medium);
        padding: 0 16px 0 8px;
        height: 40px;
        background-color: $orange;
        color: $white;
        border-radius: 4px;
        text-align: center;
        margin-right: 12px;

        &__icon {
          margin-right: 8px;
          margin-top: 7px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &_shift-info {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid $grey-button-background;
    border-radius: 4px;

    &__time {
      @include flex(row, center, space-between);
      margin-bottom: 18px;

      .start-time {
        @include flex(row, center, space-between);
        @include text--h5($medium);
        position: relative;
        background-color: $banner-background;
        color: $color-text-orange;
        bottom: 8px;

        svg-icon {
          margin: 0px 4px 4px 0px;
        }
      }

      .date-picker {
        @include flex(row, flex-end, flex-start);
        height: 40px;

        fieldset {
          @include size(228.4px, 38.4px);
          border: solid 1px $border-color;
          background-color: $white;
          color: $color-text-default;
          border-radius: 4px;
          padding: 0px 0px 0px 10px;

          legend {
            @include text--h6;
            color: $dark-grey;
          }

          div {
            @include flex(row, center, flex-start);
            height: 14px;

            input {
              z-index: 9;
            }
          }
        }

        &__buttons {
          @include flex(row, center, space-between);

          div {
            @include flex(row, center, center);
            @include size(32.5px, 32.5px);
            border: solid 1px $border-color;
            background-color: $white;
            color: $color-text-default;
            border-radius: 4px;
            text-align: center;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
          }

          div:hover {
            cursor: pointer;
            background-color: $easy-grey;
          }
        }
      }
    }

    &__subtotal {
      @include flex(row, center, flex-start);
      margin-bottom: 18px;

      div {
        margin: 0px 80px 0px 0px;
        min-width: 120px;
      }

      p:first-child {
        @include text--h5($normal);
        margin: 0px;
        color: $dark-grey;
      }

      p:nth-child(2) {
        @include text--h3;
        margin: 8px 0px 0px 0px;
      }
    }

    &__statuses {
      @include flex(row, center, space-between);

      div {
        @include flex(row, center, flex-end);

        div {
          @include text--h5($regular);
          color: $dark-grey;
          margin-right: 18px;

          span {
            @include text--h5($medium);
            color: $color-text-default;
            margin-left: 4px;
          }
        }

        .alarm-icon {
          padding-top: 3px;
          margin-right: 4px;
        }
      }
    }

  }

  ::ng-deep {
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: $orange;
    }

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $orange;
    }

    .mat-paginator-page-size-label {
      @include text--h5($regular);
      color: $color-text-grey;
    }

    .mat-paginator-range-label {
      @include text--h5($regular);
      color: $color-text-default;
    }

    .mat-paginator-page-size {
      display: flex;
      align-items: center;
    }

    .mat-select-value {
      @include text--h5($regular);
    }

    .mat-paginator-page-size-select {
      width: 56px;
      padding: 4px 4px 4px 8px;
      margin: 4px 4px 0px;
      border: 1px solid $easy-grey;
      border-radius: 4px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }

    .mat-form-field-infix {
      border-top: 10px;
      padding: 0px;
    }

    .mat-form-field-underline {
      display: none;
    }

    .inprogress {
      font-weight: $semibold;
      color: $dark-orange;
      background-color: $banner-background;
      border: 0.5px solid $light-orange;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
    }

    .ready {
      font-weight: $semibold;
      color: $green700;
      background-color: $green100;
      border: 0.5px solid $green300;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
    }

    .cancelled {
      font-weight: $semibold;
      color: $red500;
      background-color: $red100;
      border: 0.5px solid $red300;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
    }

    .indelivery {
      font-weight: $semibold;
      color: #2648C2;
      background-color: #E2E9FF;
      border: 0.5px solid #5F7EEC;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
    }

    .queue {
      font-weight: $medium;
      color: $color-text-default;
      border: 0.5px solid $dark-grey;
      border-radius: 4px;
      padding: 2px 8px;
      text-align: center;
    }

    .completed {
      font-weight: $semibold;
      color: $dark-grey;
      padding: 2px 8px;
    }

  }

  .no-filter-applied-block {
    @include text--h5 ($regular);
    color: $dark-grey;
    padding-left: 24px;
    height: 56px;
    border: 0.5px solid $grey-button-background;
    border-bottom: transparent;
    line-height: 57px;
  }

  .order-group-filter {
    @include flex(row, center, space-between);
    padding: 16px;
    border: 1px solid $grey-button-background;
    border-bottom: transparent;
    border-radius: 4px 4px 0px 0px;

    div {
      margin-right: 12px;
    }

    &_search {
      @include flex(row, center, flex-start);
      position: relative;

      input {
        @include text--h4 ($regular);
        @include size(350px, 18px);
        border: 1px solid #D3D3D3;
        border-radius: 4px;
        padding: 18px 16px;
        margin-right: 10px;
      }

      .cross {
        position: absolute;
        top: 10px;
        left: 320px;
        display: none;
        z-index: 10;

        &:hover {
          cursor: pointer;
        }

        &:active {
          display: block;
        }
      }

      input:focus~.cross {
        display: block;
      }

      .hide-completed {
        @include flex(row, baseline, space-between);
        min-width: 210px;
      }
    }

    .buttons_manage-inventory-button {
      @include flex(row, center, space-between);
      @include text--h4 ($medium);
      padding: 0 16px 0 8px;
      height: 40px;
      min-width: 192px;
      border: solid 1px $border-color;
      background-color: $white;
      color: $color-text-default;
      border-radius: 4px;
      text-align: center;
      box-sizing: border-box;

      &__icon {
        margin-right: 8px;
        margin-top: 7px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &_applied-filters {
      @include flex(row, center, flex-start);
      border: 0.5px solid $grey-button-background;
      padding: 12px 24px;

      .applied-filter {
        @include flex(row, center, flex-start);

        &_title {
          @include text--h5 ($regular);
          color: $dark-grey;
          margin-right: 12px;
        }

        &_button {
          @include flex(row, center, space-between);
          @include text--h5 ($semibold);
          border: 1px solid $border-color;
          border-radius: 40px;
          padding: 6px 12px;
          width: auto;
          margin-right: 4px;
          text-align: center;

          &__text {
            @include flex(row, center, center);
            text-align: center;
            margin-right: 5.33px;
          }

          &__icon {
            @include flex(row, center, center);
            @include size(14px, 14px);
            text-align: center;

            svg-icon {
              @include size(14px, 14px);
            }
          }
        }
      }
    }
  }

  table {
    width: 100%;
    border: 0.5px solid $grey-button-background;
    border-top: transparent;

    td {
      @include text--h4($regular);

      ::ng-deep {

        .mat-form-field-wrapper {
          padding: 0;

          .mat-form-field-infix {
            font-family: $font-family;
            padding: 0 0 12px 0;

            .mat-select-arrow-wrapper {
              height: 24px;

              .mat-select-arrow {
                @include size(12px, 12px);
                border: unset;
                background: url('../../../../assets/images/Vector.svg') no-repeat;
                object-fit: cover;
                margin: 0 16px;
              }
            }
          }
        }

        .mat-form-field-underline {
          display: none;
        }
      }
    }
  }

  th {
    @include text--h6;
    background-color: $grey;
    font: $font-family;
    color: $dark-grey;
  }

  .mat-row .mat-cell {
    cursor: pointer;
  }

  .mat-row .mat-cell:nth-child(8n+1) {
    border-left: 3px solid transparent;
    box-sizing: border-box;
  }

  .mat-row:hover .mat-cell {
    background-color: $grey;
  }

  .mat-row.no-data:hover .mat-cell {
    background-color: transparent;
  }

  .no-data {
    div {
      @include flex(column, center, center);
      margin: 40px 0px 80px 0px;
    }

    &_title {
      @include text--h5 ($medium);
      margin: 4px 0px;
    }

    &_subtitle {
      @include text--h6;
      color: $dark-grey;
      margin: 0px;
    }

  }

  .hidden {
    display: none;
  }
}
