<app-popup
  title="Changed your mind?"
  subtitle="After the cancelling, your data will not be saved and the account will not be created.">
  <div class="buttons">
    <div class="buttons_cancel" mat-dialog-close>{{'SIGN_UP.BACK' | translate}}</div>
    <div class="buttons_delete" [mat-dialog-close]="true">{{'SIGN_UP.EXIT' | translate}}</div>
  </div>
</app-popup>
