@import '../../../scss/mixins';

.buttons {
    @include flex(row, center, flex-end);
    @include text--h4 ($regular);
    margin-top: 32px;

    &_cancel {
        margin-right: 10px;
        padding: 12px 16px;
        text-align: center;
        &:hover {
            cursor: pointer;
         }
    }

    &_delete {
        background-color: $orange;
        color: $white;
        width: 103px;
        padding: 12px 16px;
        border: none;
        border-radius: 2px;
        text-align: center;
        &:hover {
           cursor: pointer;
        }
    }
}
