@use '@angular/material' as mat;

@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeicons/primeicons.css";

@include mat.core();
@import 'src/scss/constants';
@import 'src/scss/_mixins.scss';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "src/scss/theme.scss";
@import 'tippy.js/dist/tippy.css';
// $delivery-platform-orange: (
//     50: #ffffff,
//     100: #FAF3D1,
//     200: #FAEB9B,
//     300: #F9B763,
//     400: #F3983C,
//     500: #EB6A00,
//     600: #EB6A00,
//     700: #A93900,
//     contrast: (
//         50: #ffffff,
//         100: #ffffff,
//         200: #ffffff,
//         300: #ffffff,
//         400: #ffffff,
//         500: white,
//     )
// );
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$delivery-platform-primary: mat.define-palette($delivery-platform-orange);
$delivery-platform-accent: mat.define-palette(mat.$grey-palette, A200);
// The warn palette is optional (defaults to red).
$delivery-platform-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$delivery-platform-theme: mat.define-light-theme((
        color: (
                primary: $delivery-platform-primary,
                accent: $delivery-platform-accent,
                warn: $delivery-platform-warn,
        )
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($delivery-platform-theme);
.cdk-overlay-pane {
  &.mat-tooltip-panel {
    .mat-tooltip {
      @include text($medium, 12px, 16px);
      @include flex(row, center, center);
      background: rgba(26, 26, 26, 0.8);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      height: 32px;
    }
  }
}

.shrinking-mat-form-field {
  .mat-form-field-infix {
    width: auto !important;
  }
  .mat-form-field-wrapper {
    padding-bottom: 16px !important;
  }
  .mat-form-field-underline {
    visibility: hidden !important;
  }
}
.shrinking-mat-checkbox-label {
  .mat-checkbox-label {
    white-space: normal !important;
  }
  .mat-checkbox-inner-container {
    margin: 0 12px 0 0 !important;
    position: relative;
    top: 3px;
  }
}

.mat-select-panel {
  .mat-option {
    font-size: 16px !important;
    font-weight: $regular !important;
    color: $color-text-default !important;
    background-color: $white !important;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: Inter, "Helvetica Neue", sans-serif;
}
