// fonts
$font-family: "Inter", Helvetica, sans-serif;

//screen-width example
$tablet-width: 1150px;
$mobile-width: 650px;
$desktop-column-width: 1550px;

// font-weight
$tiny: 100;
$default: 200;
$normal: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// colors
$color-text-default: #1A1A1A;
$color-text-grey: #707070;
$color-text-orange: #E4771D;
$color-text-red: #E5584B;
$color-text-white: #FFFFFF;
$light-grey: #EEEEEE;
$easy-grey: #D3D3D3;
$grey: #F7F7F7;
$link-hover-background: $light-grey;
$container-background: $light-grey;
$icon-background: $light-grey;
$footer-background: $grey;
$header-background: #FFFFFF;
$border-color: #BFBFBF;
$orange: #E4771D;
$dark-orange: #DE4700;
$light-orange: #F9B763;
$orange-hover: #E75900;
$white: #FFFFFF;
$grey-button-background: #D3D3D3;
$red: #DC1C1C;
$red500: $red;
$red300:#FF8484;
$red200: #FFDBDB;
$red100: #FFF2F2;
$green: #348722;
$green700: #136111;
$green300: #99DB78;
$green100: #E2FFE2;
$banner-background: #FFF9E1;
$dark-grey: #666666;

$search-padding: 1em;

$delivery-platform-orange: (
    50: #ffffff,
    100: #FAF3D1,
    200: #FAEB9B,
    300: #F9B763,
    400: #F3983C,
    500: #EB6A00,
    600: #EB6A00,
    700: #A93900,
    contrast: (
        50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: white,
    )
);
