@import "./constants";

@mixin flex ($direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

@mixin text--h1 {
  font-size: 48px;
  font-weight: $medium;
  line-height: 56px;
  font-family: $font-family;
}

@mixin text--h2 {
  font-size: 20px;
  font-weight: $medium;
  line-height: 28px;
  font-family: $font-family;
}

@mixin text--h3 {
  font-weight: $medium;
  font-size: 24px;
  line-height: 32px;
  font-family: $font-family;
}

  @mixin text--title--h3 {
    font-weight: $semibold;
    font-size: 17.5994px;
    line-height: 21px;
    font-family: $font-family;
  }

  @mixin text--h4 ($weight) {
    font-size: 16px;
    font-weight: $weight;
    line-height: 24px;
    font-family: $font-family;
  }

  @mixin text--h5 ($weight){
    font-size: 14px;
    font-weight: $weight;
    line-height: 20px;
    font-family: $font-family;
  }

@mixin text--h4($weight) {
  font-size: 16px;
  font-weight: $weight;
  line-height: 24px;
  font-family: $font-family;
}

@mixin text--h5($weight) {
  font-size: 14px;
  font-weight: $weight;
  line-height: 20px;
  font-family: $font-family;
}

@mixin text--h6 {
  font-weight: $regular;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family;
}

@mixin text--label {
  font-weight: $regular;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-family;
}

@mixin text($weight, $size, $height) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  font-family: $font-family;
}

@mixin text--h7 {
  font-weight: $medium;
  font-size: 36px;
  line-height: 44px;
  font-family: $font-family;
}

@mixin text--h8($weight) {
  font-weight: $weight;
  font-size: 20px;
  line-height: 28px;
  font-family: $font-family;
}

@mixin text--overline--h6 {
  font-weight: $medium;
  font-size: 10px;
  line-height: 16px;
  font-family: $font-family;
}

@mixin separator ($height, $color) {
  @include size(100%, $height);
  background-color: $color;
}
