<div class="card-wrapper">
  <div class="card-wrapper_content">
    <div class="card-wrapper_content__image">
      <img class="photo" src="https://source.unsplash.com/collection/8613861/350x{{200 + vendor.id}}">
      <div class="store-schedule" *ngIf="!workingSchedule.isStoreOpen" ><p>Closed</p>{{workingSchedule.whenOpens}}</div>
      <div class="store-schedule" *ngIf="workingSchedule.whenCloses" ><p>{{workingSchedule.whenCloses}}</p>{{workingSchedule.whenOpens}}</div>
    </div>
    <div class="card-wrapper_content__text">
      <div class="text-header">
        <div class="text-header_label">
          {{vendor.name}}
        </div>
        <div class="text-header_features">
          <div *ngFor="let item of vendor.dietary_tags" class="text-header_features__item">
            <img src="../../../../assets/images/{{item}}.svg">
          </div>
        </div>
      </div>
      <div class="text-row">
        <div class="text-row_rate">
          <img src="../../../../assets/images/star.svg">
          {{vendor.average_rate}}
        </div>
        <div class="text-row_distance">
          {{ showDistance() }} {{'VENDOR_CARD.UNIT' | translate}}
        </div>
        <div class="text-row_delimiter">
          •
        </div>
        <div class="text-row_orders">
          {{vendor.orders_count}} {{'VENDOR_CARD.ORDERS' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
