@import '../../../../scss/constants';
@import '../../../../scss/mixins';

:host {
  @include size(100%, 100%);
  display: block;
}

.card-wrapper {
  @include flex (column, center, flex-end);
  @include size(100%, 100%);
  font-family: $font-family;

  &_content {
    @include size(100%, 100%);
    border: 0.5px solid $border-color;
    border-radius: 4px;
    position: relative;

    &__image {

      .store-schedule {
        @include flex(column, center, center);
        @include text--h4($semibold);
        @include size(100%, 100%);
        color: $light-grey;
        display: flex;
        position: absolute;
        max-height: 170px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.5);

        p {
          @include text--h3();
        }
      }
    }

    .photo {
      @include size(100%, 170px);
      object-fit: cover;
      border-radius: 4px 4px 0 0;
    }

    &__text {
      @include flex(column, flex-start, center);
      padding: 12px 16px;
      height: 80px;

      .text-header {
        @include flex(row, center, space-between);
        @include size(100%, 32px);
        padding: 6px 0;
        gap: 4px;

        &_label {
          @include text--h4($medium);
          @include flex(row, center, normal);
          height: 24px;
          color: $color-text-default;
        }

        &_features {
          @include flex(row, center, flex-end);
          gap: 4px;

          &__item {
            @include flex(row, center, center);
            @include size(32px, 32px);
            padding: 4px;
            gap: 4px;
            background: $icon-background;
            border-radius: 24px;
          }
        }
      }

      .text-row {
        @include flex(row, center, normal);
        padding: 0;
        gap: 10px;
        height: 24px;

        &_rate {
          @include text--h5($regular);
          @include flex(row, center, center);
          @include size(auto, 24px);
          padding: 2px 8px;
          gap: 3px;
          min-width: 52px;
          background: $icon-background;
          border-radius: 33px;
        }

        &_distance, &_delimiter, &_orders {
          @include text--h5($regular);
          @include flex(row, center, normal);
          color: $color-text-grey;
        }
      }
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-4px);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      transition: transform 0.3s, box-shadow 0.3s;
    }
  }
}
