@import '../../../scss/mixins';

.login-page{
    @include flex(row, flex-start, flex-start);
    height: 100vh;

    &_banner {
        height: 100%;
        min-width: 476px;
        padding: 32px 0 0 135px;
        background: url("../../../assets/images/vendor-log-in-banner.png") no-repeat, $banner-background;
        background-position: right bottom;

        &__text {
            max-width: 341px;
            margin-top: 84px;

            div {
                @include text--h4 ($medium);
                margin-bottom: 24px;
            }

            ul {
                @include  text--h5 ($normal);
                list-style: none;
                padding: 0;
            }
        }

        &__button {
            @include text--h4 ($regular);
            padding: 12px 16px;
            gap: 6px;
            border: none;
            border-radius: 2px;
            margin-top: 24px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &_right-side {
        @include flex(column, flex-start, center);
        width: 100%;
        height: 100%;
        padding: 32px 135px 0 0;

        &__content {
            @include flex(column, flex-start, center);
            margin: 144px auto 262px;

            &_title {
                @include text--h3;
                margin-bottom: 12px;
            }

            &_subtitle {
                @include text--h4 ($regular);
                color: $color-text-grey;
                margin-bottom: 44px;
            }

            &_inputs {
                &__login, &__password {
                    ::ng-deep .mat-focused .mat-form-field-label {
                        @include text--h4 ($regular);
                        color: $color-text-grey;
                    }

                    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
                        color:  $color-text-grey;
                    }

                    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
                        padding: 12px 12px 0;
                        height: 48px;
                        background-color: #EEEEEE;

                        .mat-form-field-infix {
                            border-top: 0.5em solid transparent;
                        }
                    }

                    ::ng-deep .mat-form-field{
                        width: 416px;

                        input {
                            @include text--h4 ($regular);
                            caret-color: $color-text-grey
                        }

                        input:-webkit-autofill,
                        input:-webkit-autofill:hover,
                        input:-webkit-autofill:focus,
                        input:-webkit-autofill:active{
                            -webkit-box-shadow: 0 0 0 30px #EEEEEE inset !important;
                        }

                        .mat-focused .mat-form-field-ripple {
                            display: none;
                        }

                        .mat-form-field-underline {
                            display: none;
                        }
                    }

                    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
                        padding: 0;
                        margin-top: 0;
                    }

                    .validation {
                        @include text--h6;
                        width: 100%;
                        border-top: solid 1px $red;
                        color: $red;

                        &.wrong {
                            position: absolute;
                            top: auto;
                            left: -12px;
                            width: 416px;
                        }
                    }
                }
            }

            &_password-section {
                @include flex(row,center, space-between);
                width: 100%;

                &__checkbox {
                    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
                        background-color: $orange;
                    }

                    ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
                        @include text--h4 ($regular);
                    }

                    ::ng-deep .mat-checkbox-inner-container {
                        height: 18px;
                        width: 18px;
                    }
                }

                a {
                    @include text--h5 ($medium);
                    color: $color-text-default;
                }
            }

            &_button {
                @include text--h4 ($regular);
                background-color: $orange;
                color: $white;
                width: 416px;
                border: none;
                border-radius: 2px;
                align-self: stretch;
                flex-grow: 0;
                text-align: center;
                padding: 12px 0;
                margin: 46px auto 12px;

                &:hover {
                    cursor: pointer;
                }
            }

            &_sign-up {
                @include flex(row, center, center);
                width: 100%;

                div{
                    @include text--h5 ($regular);
                    color: $color-text-grey;

                    a {
                        @include text--h5 ($medium);
                        color: $color-text-default;
                        margin-left: 8px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &__footer {
            @include flex(column, center,center);
            @include text--h5 ($normal);
            color: $color-text-grey;
            margin: 0 auto 40px;

            a {
              @include text--h5 ($regular);
              color: $color-text-default;

              &:hover {
                cursor: pointer;
              }
            }
        }
    }
}
