<div class="login-page">
  <div class="login-page_banner">
    <app-navigation [address]="'Log in'"></app-navigation>
    <div class="login-page_banner__text">
      <div>{{ "LOG_IN.SELLING_WITH_US" | translate }}</div>
      <ul>
        <li>{{ "LOG_IN.MORE_VISIBILITY" | translate }}</li>
        <li>{{ "LOG_IN.REDUCTION_OF_ECOMMERCE" | translate }}</li>
        <li>{{ "LOG_IN.TRUST_FACTOR" | translate }}</li>
      </ul>
    </div>
  </div>
  <div class="login-page_right-side">
    <div class="login-page_right-side__content" [formGroup]="loginAndPassword">
      <div class="login-page_right-side__content_title">
        {{ "LOG_IN.WELCOME_BACK" | translate }}
      </div>
      <div class="login-page_right-side__content_subtitle">
        {{ "LOG_IN.PLEASE_ENTER_YOUR_INFO" | translate }}
      </div>
      <div
        autocomplete="nope"
        class="login-page_right-side__content_inputs"
        class="input-group_name"
      >
        <div class="login-page_right-side__content_inputs__login">
          <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>{{ "LOG_IN.EMAIL" | translate }}</mat-label>
            <input
              autocomplete="new-password"
              matInput
              formControlName="login"
            />
            <mat-error
              *ngIf="loginAndPassword.get('login')?.hasError('required')"
              class="validation"
            >
              {{ "LOG_IN.ENTER_EMAIL" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login-page_right-side__content_inputs__password">
          <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>{{ "LOG_IN.PASSWORD" | translate }}</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="loginAndPassword.get('password')?.hasError('required')"
              class="validation"
            >
              {{ "LOG_IN.ENTER_PASSWORD" | translate }}
            </mat-error>
            <div *ngIf="isCredentialsWrong" class="validation wrong">
              {{ "LOG_IN.INCORRECT" | translate }}
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="login-page_right-side__content_password-section">
        <div class="login-page_right-side__content_password-section__checkbox">
          <mat-checkbox formControlName="remember">{{
            "LOG_IN.REMEMBER_ME" | translate
          }}</mat-checkbox>
        </div>
        <div class="login-page_right-side__content_password-section__link">
          <a href="#" [routerLink]="['/feed/vendor/reset']">{{
            "LOG_IN.FORGOT_PASSWORD" | translate
          }}</a>
        </div>
      </div>
      <button
        class="login-page_right-side__content_button"
        (click)="
          loginVendor(
            loginAndPassword.get('login')?.value,
            loginAndPassword.get('password')?.value
          )
        "
      >
        {{ "LOG_IN.LOG_IN" | translate }}
      </button>
      <div class="login-page_right-side__content_sign-up">
        <div>
          {{ "LOG_IN.DO_NOT_HAVE_AN_ACCOUNT" | translate }}
          <a [routerLink]="['/feed/vendor/sign-up']">{{
            "LOG_IN.SIGN_UP" | translate
          }}</a>
        </div>
      </div>
    </div>
    <div class="login-page_right-side__footer">
      <div class="footer_text">{{ "FOOTER.ARGEEMENT" | translate }}</div>
      <div>
        <a class="footer_link" [routerLink]="['/feed/termsAndCondactions']">{{
          "FOOTER.TERMS_OF_SERVICE" | translate
        }}</a>
        {{ "FOOTER.AND" | translate }}
        <a class="footer_link" [routerLink]="['/feed/privacyPolicy']">{{
          "FOOTER.PRIVACY_POLICY" | translate
        }}</a>
      </div>
    </div>
  </div>
  <app-cookie-popup></app-cookie-popup>
</div>
